.img.product-img--helix {
  width: 77%;
  margin-top: 66px;
}

.products-head__wrap {
  background-image: url(../assets/images/products/bgc-products-head.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sequencing-status-head__wrap {
  width: 100%;
  height: 100%;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-image: url("../assets/images/bgc-polygon-silver.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% + 755px);
    height: 123%;
    top: -24%;
    left: -40%;
    opacity: 0.2;
  }
}