<div class="sequencing-status-page">
    <div class="sequencing-status-head__wrap">
        <div class="section__wrap">
            <div class="container-lg--dashboard">
                <div class="title__wrap">
                    <h1 class="txt-blue txt-center">Purchase receipts</h1>
                </div>
                <div class="txt--indent">
                    <p class="txt txt-black txt-center">Receipt #01234 .- April 29, 2018</p>
                </div>
                <div class="section__wrap">
                    <div class="container-flex">
                        <div class="flex-column">
                            <p class="txt txt-blue txt-bold">Payment from</p>
                        </div>
                        <div class="flex-column flex-column--line">
                            <div class="line-circle"></div>
                        </div>
                        <div class="flex-column">
                            <p class="txt txt-blue txt-bold">Preapared for</p>
                        </div>
                    </div>
                    <div class="container-flex">
                        <div class="flex-column">
                            <div class="txt--indent-small">
                                <p class="txt-small txt-black">Name: Andrew Pettersson</p>
                                <p class="txt-small txt-black">andrew.pettersson@gmail.com</p>
                                <p class="txt-small txt-black">Adress: Stenkålsgatan 12</p>
                                <p class="txt-small txt-black">Phone: +467213211</p>
                            </div>
                        </div>
                        <div class="flex-column txt-right">
                            <p class="txt txt-black txt-bold">Affirmativ</p>
                            <p class="txt-small txt-black">info@affirmativ.com</p>
                            <div class="txt--indent-small">
                                <p class="txt-small txt-black">Adress: Stenkålsgatan 12</p>
                                <p class="txt-small txt-black">Phone: +467213211</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__wrap">
                    <table class="table table-hover table--purchase">
                        <thead>
                            <tr>
                                <th scope="col" >Description</th>
                                <th scope="col" class="txt-uppercase txt-right">Qty</th>
                                <th scope="col" class="txt-uppercase txt-right">Price</th>
                                <th scope="col" class="txt-uppercase txt-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="txt-small txt-black">Inherited Diabetes Test</th>
                                <td class="txt-right">1</td>
                                <td class="txt-right">$249.00</td>
                                <td class="txt-right">$249.00</td>
                            </tr>
                            <tr>
                                <th scope="row" class="txt-small txt-black">Affirmativ DNA kit</th>
                                <td class="txt-right">1</td>
                                <td class="txt-right">$89.00</td>
                                <td class="txt-right">$89.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row__wrap--space-top">
                        <div class="container-flex-end">
                            <div class="column-right">
                                <div class="txt-small txt-right txt-uppercase txt-black">Subtotal</div>
                                <div class="txt-small txt-right txt-uppercase txt-black">Shipping</div>
                                <div class="txt-small txt-right txt-uppercase txt-black">Total</div>
                            </div>
                            <div class="column-left">
                                <div class="txt-small txt-black">$338.00</div>
                                <div class="txt-small txt-black">$10.00</div>
                                <div class="txt-small txt-black">$348.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="row__wrap--space-top">
                        <div class="txt-wrap__border">
                            <p class="txt-small txt-bold txt-black">Thank you for your purchase!</p>
                        </div>
                    </div>
                    <div class="txt--indent-small">
                        <div class="container-flex">
                            <div class="column-flex">
                                <p class="txt-small txt-black">affirmativ shop inc. 2018</p>
                            </div>
                            <div class="column-flex">
                                <p class="txt-small txt-black">www.affirmativdiagnostics.com <span class="hypphen-space">-</span> info@affirmativ.com<span class="hypphen-space">-</span>Tel: 125 627 387</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section__wrap">
        <div class="section-bgc--silver">
            <div class="container-lg--dashboard">
                <h1 class="txt-blue-dark txt-center">Education</h1>
                <div class="txt__wrap txt__wrap--border-bottom">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="txt txt-black txt-bold">The ApoE gene comes in three variants:</p>
                            <p class="txt txt-black">ApoE2, ApoE3, and ApoE4, and everyone has two copies of the gene.</p>
                            <div class="txt--indent">
                                <p class="txt txt-black">Genotyping reveals what specific combination of the ApoE gene you have, which may be two copies of the same form (e.g. ApoE3/ApoE3), or two different forms (e.g. ApoE2/ApoE4).</p>
                            </div>
                            <div class="txt--indent">
                                <p class="txt txt-black">ADx ApoE Genetic test will test which allel e combination you have.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="txt txt-black"><p class="txt-bold">What will my results tell me?</p>
                                Your test results will explain which combination of the ApoE alleles you have. This genetic combination will be further interpreted, to help you identify your lifetime risk for developing Alzheimer’s disease, based on your genetics and your current age. Your ApoE status will not change as you age, but as you age your chance of developing Alzheimer’s will increase at a different rate dependent on which ApoE combination you have. A genetics counselor will be available to go through your results with you if you have questions.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>