.img.product-img--helix {
  width: 77%;
  margin-top: 66px;
}

.products-head__wrap {
  background-image: url(../assets/images/products/bgc-products-head.png);
  background-repeat: no-repeat;
  background-size: cover;
}
