.img.product-img--helix {
  width: 77%;
  margin-top: 66px;
}

.products-head__wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 80px;
  &:before {
    content: '';
    position: absolute;
    background-image: url("../assets/images/bgc-polygon-silver.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% + 755px);
    height: 150%;
    top: -24%;
    left: -40%;
    opacity: 0.2;
  }
}

.table--purchase {
  &.table > thead > tr > th {
    border-bottom: 2px solid $gray;
    padding: 8px 0 8px;
  }
  &.table, &.table > tbody > tr > td, &.table > tbody > tr > th {
    border: none;
    padding: 8px 0 8px;
  }
  &.table > thead > tr > th {
    padding: 0 0 20px;
  }
}


.img-border-inner.img-border-inner--spiderads {
  width: 171%;
  bottom: -22px;
  left: -114px;
}

.img-border-inner.img-border-inner--helix.ng-scope {
  bottom: 145px;
  width: 71%;
  left: 45px;
}

.container-pre-purchase-txt {
  max-width: 359px;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

//about products
.about-products-head {
  width: 100%;
  height: auto;
  padding: 67px 0 0;
  background-image: url("../assets/images/bgc-about-products.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-products-head__img {
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
}

.about-products-section-second {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.info-about-column__wrap {
  max-width: 222px;
  margin: 0 auto;
  height: auto;
  padding-top: 86px;
}


.about-products-section-fourth {
  width: 100%;
  height: auto;
  background-image: url("../assets/images/about-bgc-polygon-fourth.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-products-section-fifth__wrap {
  width: 100%;
  height: auto;
  min-height: 518px;
  position: relative;
}

.about-products-section-fifth__txt {
  max-width: 480px;
  width: 100%;
  height: auto;
}

.about-products-section-fifth__image-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  right: 0;
  overflow: hidden;
}

.about-products-section-fifth-img {
  width: auto;
  height: 100%;
  position: absolute;
  right: 0;
}

.about-products-section-fifth--container-txt {
  height: 518px;
  max-width: calc(50% + 370px);
}