<section class="about-page-header">
  <div class="container-fluid container-fluid--section">
    <div uib-carousel active="active"  no-wrap="false">
      <div uib-slide index="0">
        <div class="slider__wrap">
          
        </div>
      </div>
      <div uib-slide index="1">
        <h1 class="txt-blue-dark">SLIDE -2</h1>
      </div>
      <div uib-slide index="2">
        <h1 class="txt-blue-dark">SLIDE -3</h1>
      </div>
      <div uib-slide index="3">
        <h1 class="txt-blue-dark">SLIDE -4</h1>
      </div>
    </div>
  </div>
</section>