.about-page-header {
  width: 100%;
  height: auto;
  background-image: url("../assets/images/about-bgc.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  display: flex;
  align-items: center;
}

.about-img-middle {
  max-width: 217px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.about-section-second {
  width: 100%;
  height: auto;
  background-image: url("../assets/images/bgc-polygon-half.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}


.about-section-fourth {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
  background-image: url('../assets/images/image-map.png');
  background-size: cover;
  padding: 28px 15px;
}


.about-section-fourth_form-map-overlap {
  position: relative;
  top: 0;
  max-width: 470px;
  width: 100%;
  margin: 28px 0 0;
  background-color: white;
  box-shadow: 0 0 46px -5px rgba(0, 0 , 0, 0.95);
  border-radius: 2px;
  padding: 25px 40px 40px;
  left: calc(50% - 235px);
}

.about-section-fourth__data-map-overlap {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba($blue-6, 0.85);
  max-width: 311px;
  width: 100%;
  padding: 30px 40px;
  margin: 26px;
}

.about-page-header__image {
  svg {
    height: 600px;
  }
}