<update-meta property="og:title" content="ADx Healthcare - About"></update-meta>
<update-meta name="twitter:title" content="ADx Healthcare - About"></update-meta>

<section class="about-page-header">
  <div class="container-fluid container-fluid--section">
    <div uib-carousel active="active"  no-wrap="false">
      <div uib-slide index="0">
        <div class="slider__wrap align-items--center container-flex">
          <div class="flex-column">
            <div class="about-page-header__txt">
              <div class="anim-content-transition txt-left">
                <h1>Our mission</h1>
              </div>
              <div class="txt__wrap anim-content-transition">
                <div class="txt txt-left">
                  At ADx Healthcare, we  provide individuals, families, and healthcare providers with answers for late-onset Alzheimer's disease. We also  contribute to the scientific advancement of late-onset Alzheimer's disease healthcare through collaborative technology offerings and research contributions.
                </div>
              </div>
              <div class="button__wrap text-left anim-content-transition">
                <a ui-sref="master.science" class="button-border-rounded button-border-rounded--small-line-height"><span class="txt-middle">Learn about the science behind our platform</span></a>
              </div>
            </div>
          </div>
          <div class="flex-column hide-xs-mobile anim-content-transition hide-mobile">
            <div class="about-page-header__image">
              <ng-include class="img-large" src="'./assets/images/svg/medical-bgc-drop-dark.svg'"></ng-include>
            </div>
          </div>
        </div>
      </div>
      <div uib-slide index="1">
        <div class="slider__wrap align-items--center container-flex">
          <div class="flex-column">
            <div class="about-page-header__txt">
              <div class="anim-content-transition txt-left">
                <div class="title-first">ADx Healthcare</div>
              </div>
              <div class="txt__wrap anim-content-transition">
                <div class="txt txt-left">
                  ADx Healthcare is a physician-owned company that provides individuals with personal access to their medical and genetic information by offering private pay testing, while still providing the highest standard of patient care.
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column hide-xs-mobile anim-content-transition hide-mobile">
            <div class="about-page-header__image">
              <ng-include class="img-large" src="'./assets/images/svg/adx-dropped.svg'"></ng-include>
            </div>
          </div>
        </div>
      </div>
      <div uib-slide index="2">
        <div class="slider__wrap align-items--center container-flex">
          <div class="flex-column">
            <div class="about-page-header__txt">
              <div class="anim-content-transition txt-left">
                <div class="title-first">Our offerings</div>
              </div>
              <div class="txt__wrap anim-content-transition">
                <div class="txt txt-left">
                  In addition to offering Alzheimer’s disease genetic testing, our board certified neuropathologist provides brain autopsy services to families and loved ones seeking definitive answers and closure as provided through a conclusive, post-mortem dementia type diagnosis.
                </div>
                <div class="button__wrap text-left anim-content-transition">
                <a href="https://adxhealthcare.com/product/brain-autopsy/" target="_blank" class="button-border-rounded button-border-rounded--small-line-height"><span class="txt-middle">ADx Services</span></a>
              </div>
              </div>
            </div>
          </div>
          <div class="flex-column hide-xs-mobile anim-content-transition hide-mobile">
            <div class="about-page-header__image">
              <ng-include class="img-large" src="'./assets/images/svg/human-health-dropped.svg'"></ng-include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid container-fluid--section">
  
  <!--sectoin second-->
  <div class="about-section-second">
    <div class="section-box-shadow section-box-shadow--space-inner section-box-shadow--without-space-top">
      <div class="container-lg">
        <h1 class="txt-blue anim-content-transition txt-center">Our values</h1>
        <div class="img__wrap anim-content-transition">
          <ng-include class="about-img-middle" src="'./assets/images/svg/heart-protection.svg'"></ng-include>
        </div>
        <div class="row row--space-top">
          <div class="col-sm-6">
            <h4 class="txt-blue-dark txt-center-sm">Responsibility</h4>
            <div class="txt--indent-small">
              <p class="txt-middle txt-black">
                Your case is carefully reviewed by an independent physician to determine if late-onset Alzheimer’s disease genetic testing is right for you. If needed, a genetic counselor or physician may contact you to ask some additional questions. We are committed to taking the extra step to ensure we are offering late-onset Alzheimer’s disease genetic testing to individuals who understand the benefits and limitations of testing.
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 class="txt-blue-dark txt--space-top-middle-sm txt-center-sm">Privacy</h4>
            <div class="txt--indent-small">
              <p class="txt-middle txt-black">
                We will not use your personal information for research without your written consent.  Likewise, we will never share or sell your personal information to anyone.
              </p>
            </div>
          </div>
        </div>
        <div class="row row--space-top">
          <div class="col-sm-6">
            <h4 class="txt-blue-dark txt-center-sm">Collaborations</h4>
            <div class="txt--indent-small">
              <p class="txt-middle txt-black">
                The ADx Healthcare team has partnerships with researchers, physicians, and scientists who are continually engaged in research and patient care, aimed at improving the understanding of late-onset Alzheimer's disease. Likewise, through both time and monetary assistance, we aid local and national Alzheimer’s organizations’ efforts for education, support, and advocacy for Alzheimer’s disease and other dementias.
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 class="txt-blue-dark txt--space-top-middle-sm txt-center-sm">Action</h4>
            <div class="txt--indent-small">
              <p class="txt-middle txt-black">
                Our doctors and scientists participate in Alzheimer’s research to develop standards of care for both detection and treatment.The team at ADx Healthcare is committed to helping individuals and families learn their late-onset Alzheimer’s disease genetic risk and improving their cognitive health.
              </p>
            </div>
          </div>
        </div>
        <div class="row row--space-top">
          <div class="col-sm-12">
            <div class="section-bgc--silver section-bgc--space-both">
              <h4 class="txt-blue-dark txt-center">Empowerment</h4>
              <div class="txt--indent-small">
                <p class="txt-middle txt-black txt-center">
                  We want to provide individuals who want to know their genetic risk with the knowledge and tools to make behavior changes to improve their cognitive health. Learn your risk, so you can start making lifestyle changes that may improve your cognitive health.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end sectoin second-->
  
  <!--section third-->
  <div class="about-section-third">
    <div class="section-box section-box--blue section-box--space-out-top section-box--space-only-height-sm">
      <div class="container-lg">
        <div class="row">
          <div class="col-sm-6">
            <div class="img-bgc-wrap-middle__rounded img-bgc-wrap-middle__rounded--white-2 img-bgc-wrap-middle__rounded--md-small">
              <ng-include class="svg-inner-rounded-middle svg-inner-rounded-middle--logo" src="'assets/images/svg/ADXHealth-icon.svg'"></ng-include>
            </div>
          </div>
          <div class="col-sm-6">
            <h1 class="txt-blue-dark txt-center txt--space-top-sm">Careers at ADx</h1>
            <div class="txt--indent-small txt-center">
              <p class="txt">ADx Healthcare is dedicated to providing answers for Alzheimer's disease questions about risk and treatment.
                If you are you interested in a rewarding career that puts you in the middle of the cutting edge science for late-onset Alzheimer's disease, please contact our team to learn about staff position openings.</p>
            </div>
            <div class="button__wrap button--center anim-content-transition">
              <a href="mailto:carrers@adxhealthcare.com" class="button-border-rounded button-border-rounded--small-line-height"><span class="txt-middle">Careers</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end section third-->
  
  <!--section fourth with map-->
  <div id="contacts" class="about-section-fourth">
   <div class="about-section-fourth_form-map-overlap">
     <h2 class="txt-blue-dark txt-center">Contact us</h2>
     <div class="sub-header-txt__wrap">
       <div class="txt-large txt-blue txt-center txt-medium">
         We are always within your reach. Send us a message and we'll respond as soon as possible.
       </div>
     </div>
     <form action="https://formspree.io/mdzwnwpm" method="post" class="form-space-top">
       <div class="form-group-space-top">
         <input class="form-control form-control-silver-border" type="text" placeholder="Name">
       </div>
       <div class="form-group-space-top">
         <input class="form-control form-control-silver-border" type="text" placeholder="Email adress">
       </div>
       <div class="form-group-space-top">
         <input class="form-control form-control-silver-border" type="text" placeholder="Subject">
       </div>
       <div class="form-group-space-top">
         <textarea rows="4" cols="45" class="form-control form-control-silver-border" type="text" placeholder="Message"></textarea>
       </div>
       <div class="button__wrap button--center">
         <button type="submit" class="bt-round bt-round--blue">Contact us</button>
       </div>
     </form>
   </div>
    <div class="about-section-fourth__data-map-overlap">
      <p class="txt txt-bold">Customer Service</p>
      <!--<p class="txt">Email:</p>-->
      <p class="txt"><a href="mailto:support@adxhealthcare.com">support@adxhealthcare.com</a></p>
      <p class="txt">Phone: 855-514-2273</p>
      <div class="txt--indent-small">
        <p class="txt">Corporate Office</p>
        <p class="txt">3614 Meridian Street</p>
        <p class="txt">Suite 100</p>
        <p class="txt">Bellingham, WA 98225</p>
        <p class="txt">United States</p>
      </div>
    </div>
  </div>
  <!--end section fourth with map-->
  
  <!--section fifth-->
<!--section fourth-->
  <div ng-include="'templates/care_questions.tpl.html'"></div>
  <!--end section fifth-->
</div>

