@media (max-width: $breakpoint) {
  .about-section-fourth_form-map-overlap {
    left: calc(36% - 235px);
  }
}

@media (max-width: $breakpoint-md) {
  .about-section-fourth__data-map-overlap {
    position: relative;
    margin: 60px auto 0;
  }

  .about-section-fourth_form-map-overlap {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}


@media (max-width: $breakpoint-sm) {
  .about-page-header {
    min-height: 580px;
    padding: 50px 0 0;
  }
}

@media (max-width: $breakpoint-exs) {
  .about-page-header {
    min-height: 680px;
  }
}