<section class="about-page-header">
  <div class="container-fluid container-fluid--section">
    <div class="container-lg">
      <div uib-carousel active="active"  no-wrap="false">
        <div uib-slide index="0">
          <div class="slider__wrap align-items--center container-flex">
            <div class="flex-column">
              <div class="anim-content-transition">
                <h3 >Our mission</h3>
              </div>
              <div class="txt__wrap anim-content-transition">
                <div class="txt txt-left">
                  At ADx Healthcare, we seek to contribute to the scientific advancement of Alzheimer’s disease healthcare through collaborative technology offerings and research contributions. We also aim to provide individuals, families and healthcare providers with answers for Alzheimer’s disease  through screenings, education, advocacy, and support.
                </div>
              </div>
              <div class="button__wrap text-left">
                <a class="button-border-rounded button-border-rounded--small-line-height"><span class="txt-middle">Learn about the science behind our platform</span></a>
              </div>
            </div>
            <div class="flex-column hide-xs-mobile anim-content-transition">
              <ng-include src="'./assets/images/svg/medical-bgc-drop.svg'"></ng-include>
            </div>
          </div>
        </div>
        <div uib-slide index="1">
          <div class="slider__wrap align-items--center container-flex">
            <div class="flex-column">
              <div class="anim-content-transition">
                <h3 >Our mission Slider-2</h3>
              </div>
              <div class="txt__wrap anim-content-transition">
                <div class="txt txt-left">
                  At ADx Healthcare, we seek to contribute to the scientific advancement of Alzheimer’s disease healthcare through collaborative technology offerings and research contributions. We also aim to provide individuals, families and healthcare providers with answers for Alzheimer’s disease  through screenings, education, advocacy, and support.
                  At ADx Healthcare, we seek to contribute to the scientific advancement of Alzheimer’s disease healthcare through collaborative technology offerings and research contributions. We also aim to provide individuals, families and healthcare providers with answers for Alzheimer’s disease  through screenings, education, advocacy, and support.
                </div>
              </div>
            </div>
            <div class="flex-column hide-xs-mobile anim-content-transition">
              <ng-include src="'./assets/images/svg/medical-bgc-drop.svg'"></ng-include>
            </div>
          </div>
        </div>
        <div uib-slide index="2">
          <div class="slider__wrap align-items--center container-flex">
            <div class="flex-column">
              <div class="anim-content-transition">
                <h3 >Our mission Slider-3</h3>
              </div>
              <div class="txt__wrap anim-content-transition">
                <div class="txt txt-left">
                  At ADx Healthcare, we seek to contribute to the scientific advancement of Alzheimer’s disease healthcare through collaborative technology offerings and research contributions.
                </div>
              </div>
            </div>
            <div class="flex-column hide-xs-mobile anim-content-transition">
              <ng-include src="'./assets/images/svg/medical-bgc-drop.svg'"></ng-include>
            </div>
          </div>
        </div>
        <div uib-slide index="3">
          <div class="slider__wrap align-items--center container-flex">
            <div class="flex-column">
              <div class="anim-content-transition">
                <h3 >Our mission Slider-4</h3>
              </div>
              <div class="txt__wrap anim-content-transition">
                <div class="txt txt-left">
                  At ADx Healthcare, we seek to contribute to the scientific advancement of Alzheimer’s disease healthcare through collaborative technology offerings and research contributions. We also aim to provide individuals, families and healthcare providers with answers for Alzheimer’s disease  through screenings, education, advocacy, and support.
                </div>
              </div>
            </div>
            <div class="flex-column hide-xs-mobile anim-content-transition">
              <ng-include src="'./assets/images/svg/medical-bgc-drop.svg'"></ng-include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid container-fluid--section">
  
  <!--sectoin second-->
  <div class="section-box-shadow section-box-shadow--without-space-top">
    <div class="container-lg">
      <div class="title__wrap txt-center">
        <h1 class="txt-blue">Our values</h1>
      </div>
      <div class="img__wrap">
        <ng-include class="about-img-middle" src="'./assets/images/svg/heart-protection.svg'"></ng-include>
      </div>
    </div>
  </div>
  <!--end sectoin second-->
</div>