/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */
//libs
@import '../../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import "../../vendor/font-awesome/scss/font-awesome.scss";
@import "../../vendor/c3/src/scss/main.scss";
//partials
@import './partials/variables.scss';
@import './partials/fonts.scss';
@import './partials/_common-styling.scss';
@import './partials/logo.scss';
@import './partials/_buttons.scss';
//components
@import '../app/shared/side-navbar/side-navbar.scss';
@import '../app/components/home/home.scss';
@import '../app/components/login/login.scss';
@import '../app/components/forgot_password/forgot_password.scss';
@import '../app/components/products/products.scss';
@import '../app/shared/header/header.scss';
@import '../app/shared/footer/footer.scss';
@import './partials/form_style.scss';
@import './partials/popup.scss';
@import './partials/scroll_bar.scss';
@import '../app/components/register/register.scss';
@import '../app/components/results/results.scss';
//animation for directives
@import '../app/shared/animation-directive/animation.directive.scss';
//responsive media query
@import 'responsive/main-media';
@import 'responsive/common-styling-media';
//responsive media query components
@import "../app/components/home/_home-media.scss";
@import "../app/shared/header/header-media.scss";
@import "../app/shared/footer/footer-media.scss";
@import "./responsive/_buttons-media.scss";
@import '../app/components/results/results-media.scss';
@import '../app/shared/side-navbar/side-navbar-media.scss';

a[ng-click] {
  cursor: pointer;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.body {
  overflow-y: hidden;
}

.container-fluid.container-fluid--section {
  padding-left: 62px;
  padding-right: 62px;
  padding-bottom: 62px;
  position: relative;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 260px);
  height: 100%;
  overflow: hidden;
}

.logged-out.page {
  position: relative;
  width: 100%;
  .container-page {
    padding-top: 100px;
    border-top: none;
  }
}

.container-page {
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: visible;
  overflow-x: hidden;
  border-top: 10px solid $blue-6;
  transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}

.container-page.ng-enter{
  animation: fade-in 0.6s both ease-out;

  .anim-content-transition {
    animation: fade-in-content 1.2s 0.15s both ease-out;
  }

  @for $i from 1 through 10 {
    .anim-content-transition:nth-of-type(#{$i}) {
      animation-delay: .2s * $i;
    }
  }
}

.container-page.ng-leave {
  display: none;
}


//animation
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(0, -3%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-out-blur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(33px);
  }
}

@keyframes bg-fade-in {
  0% {
    opacity: 0;
    filter: blur(13px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes bg-fade-out {
  0% {
    opacity: .9;
  }
  100% {
    opacity: .0;
  }
}

@keyframes fade-in-content {
  0% {
    transform: translate(0px, -100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}








