<div class="about-products">
  <div class="about-products-head">
    <div class="container-fluid container-fluid--section">
      <div class="container-lg">
        <div class="row">
          <div class="col-sm-6">
            <div class="about-products-head__img">
              <img class="head-image" src="../../../assets/images/home-page/helix-front-right.png" alt="">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="title__wrap">
              <h1 class="txt-blue-dark">Alzheimers Genetic Test</h1>
            </div>
            <div class="txt--indent-small txt__wrap--border-bottom">
              <p class="txt txt-black">In the fight against late-onset Alzheimer’s disease, early awareness about risk can empower you to make lifestyle changes now to protect your future self. Taking action before memories begin to fade may help you to reduce your risk for or delay the onset of Alzheimer’s.</p>
            </div>
            <div class="txt--indent-small txt__wrap--border-bottom">
              <div class="container-flex txt--indent-small">
                <div class="column">
                  <p class="txt-large txt-black">Alzheimer’s Genetic Test</p>
                </div>
                <div class="column">
                  <p class="txt txt-black">$249.00</p>
                </div>
              </div>
              <div class="container-flex txt--indent-small">
                <div class="column">
                  <p class="txt-large txt-black">Helix DNA kit</p>
                </div>
                <div class="column">
                  <p class="txt txt-black">$89.00</p>
                </div>
              </div>
              <div class="txt--indent-small">
                <p class="txt txt-black">Required one time only so Helix can collect a saliva sample from you and sequence your DNA.</p>
              </div>
              <div class="txt--indent-small pre-results-box-flex">
                <div class="pre-results-box-flex-1 checkbox checkbox--not-space">
                  <input type="checkbox" id="checkbox-private" class="checkbox-input">
                  <label for="checkbox-private" class="checkbox-label checkbox-label--small"></label>
                </div>
                <div class="pre-results-box-flex-2">
                  <div class="txt txt-black">
                    I already have or registered a <span class="txt-bold">Helix DNA kit</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="txt__wrap container-flex">
              <div class="column">
                <p class="txt txt-black">Price:</p>
              </div>
              <div class="column">
                <div class="txt-large txt-large--exl txt-black">$338.00</div>
              </div>
            </div>
            <div class="button__wrap">
              <button class="bt-round bt-round--all-width bt-round--blue-dark"><span class="txt-large">Purchase with Helix</span></button>
            </div>
            <div class="button__wrap">
              <button class="bt-round bt-round--all-width bt-round--gray"><span class="txt-large txt-gray">Multiple order, contact us</span></button>
            </div>
          </div>
        </div>
        <div class="txt__wrap">
          <p class="txt txt-black txt-center">To use this product, you must be 18 or older and be a U.S. resident. Not available for residents of Alaska, Arkansas, Delaware,
            Hawaii, Idaho, Maine, Missouri, Nevada, New York, Tennessee, West Virgina, Wisconsin, or Wyoming. Clarify your diabetes diagnosis</p>
        </div>
      </div>
    </div>
  </div>
</div>