<update-meta property="og:title" content="ADx Healthcare - Alzheimer's ApoE Genetic Test"></update-meta>
<update-meta name="twitter:title" content="ADx Healthcare - Alzheimer's ApoE Genetic Test"></update-meta>

<div class="about-products">
  <div class="about-products-head">
    <div class="container-fluid container-fluid--section">
      <div class="container-lg">
        <div class="container-flex container-flex--column-md">
          <div class="flex-column anim-content-transition">
            <div class="flex-column__wrap">
              <div class="about-products-head__img">
                <img class="head-image" src="../../../assets/images/home-page/helix-front-right.png" alt="">
              </div>
            </div>
          </div>
          <div class="flex-column anim-content-transition">
            <div class="flex-column__wrap">
              <div class="title__wrap anim-content-transition">
                <h1 class="txt-blue-dark">Alzheimer's ApoE<br>Genetic Test</h1>
              </div>
              <div class="txt--indent-small txt__wrap--border-bottom anim-content-transition">
                <p class="txt txt-black">
                  In the fight against late-onset Alzheimer’s disease, early awareness about risk may empower you to make lifestyle changes now to protect your future self. Live a healthy lifestyle to possibly reduce your risk for or delay the onset of late-onset Alzheimer’s disease.
                </p>
              </div>
              <div class="txt--indent-small txt__wrap--border-bottom anim-content-transition">
                <div class="container-flex txt--indent-small">
                  <div class="column">
                    <p class="txt-large txt-black">Alzheimer’s Genetic Test</p>
                  </div>
                  <div class="column">
                    <p class="txt txt-black">$159.00</p>
                  </div>
                </div>
                <div class="container-flex txt--indent-small">
                  <div class="column">
                    <p class="txt-large txt-black">Helix DNA kit</p>
                  </div>
                  <div class="column">
                    <p class="txt txt-black">$40.00</p>
                  </div>
                </div>
                <div class="txt--indent-small">
                  <p class="txt txt-black">Required one time only so Helix can collect a saliva sample from you and sequence your DNA.</p>
                </div>
                <div class="txt--indent-small pre-results-box-flex">
                  <div class="pre-results-box-flex-1 checkbox checkbox--not-space">
                    <input ng-model="haveKit" type="checkbox" id="checkbox-private" class="checkbox-input" ng-change="checkboxChanged(haveKit)">
                    <label for="checkbox-private" class="checkbox-label checkbox-label--small"></label>
                  </div>
                  <div class="pre-results-box-flex-2 anim-content-transition">
                    <div class="txt txt-black">
                      I already have or registered a <span class="txt-bold">Helix DNA kit</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="txt__wrap container-flex anim-content-transition">
                <div class="column">
                  <p class="txt txt-black">Price:</p>
                </div>
                <div class="column">
                  <div class="txt-large txt-large--exl txt-black">{{ totalPrice | currency:"$" }}</div>
                </div>
              </div>
              <div class="button__wrap button__wrap--not-space-bottom-sm">
                <button class="bt-round bt-round--all-width bt-round--blue-dark" ng-click="purchaseClicked()"><span class="txt-large txt-bold">Order Test</span></button>
              </div>
              <div class="button__wrap button__wrap--not-space-bottom-sm">
                <a href="mailto:support@adxhealthcare.com" target="_top" class="bt-round bt-round--all-width bt-round--gray"><span class="txt-large txt-gray txt-bold">Multiple order, contact us</span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- disclaimer commented out for now
        <div class="txt__wrap anim-content-transition">
          <p class="txt txt-black txt-center">To use this product, you must be 18 or older and be a U.S. resident. Not available for residents of Alaska, Arkansas, Delaware,
            Hawaii, Idaho, Maine, Missouri, Nevada, New York, Tennessee, West Virgina, Wisconsin, or Wyoming. Clarify your diabetes diagnosis</p>
        </div>
        --->
      </div>
    </div>
  </div>
  
  <div class="container-fluid container-fluid--section">
    <section class="about-products-section-second anim-content-transition">
      <div class="container-round container-round--silver hide-mobile">
        <div class="container-lg container-flex">
          <a href="#about" smooth-scroll class="bt-round bt-round--lg bt-round--gray bt-round--gray-hover-blue anim-content-transition"><span class="txt-large txt-gray-2 txt-bold">About the test</span></a>
          <a href="#whyAdx" smooth-scroll class="bt-round bt-round--lg bt-round--gray bt-round--gray-hover-blue anim-content-transition"><span class="txt-large txt-gray-2 txt-bold">Why ADx</span></a>
          <a href="#labPartner" smooth-scroll class="bt-round bt-round--lg bt-round--gray bt-round--gray-hover-blue  anim-content-transition"><span class="txt-large txt-gray-2 txt-bold">Helix Lab partner</span></a>
        </div>
      </div>
      <div class="section-box-shadow section-box-shadow--space-inner anim-content-transition">
        <div class="container-lg">
          <div class="txt__wrap--border-bottom container-flex container-flex--column-reverse-md align-items--center">
            <div class="flex-column">
              <div class="img__wrap--md img--center-md">
                <img class="img img--md" src="./assets/images/products/female-doctor.png" alt="">
              </div>
            </div>
            <div class="flex-column-2">
              <div class="container-sub-head txt-left-space">
                <h2 class="txt-blue-dark txt-center-md">Is this test right for me?</h2>
                <div class="txt__wrap">
                  <p class="txt txt-black txt-center-md">The Alzheimer's ApoE Genetic Test is developed to help individuals interested in learning their genetic risk for late-onset Alzheimer’s disease and how their Alzheimer’s disease risk changes with age.</p>
                </div>
              </div>
            </div>
          </div>
          <div id="whyAdx" class="title__wrap">
            <h1 class="txt-blue txt-center">Why should I take this test?</h1>
          </div>
          <div class="txt__wrap">
            <p class="txt txt-black txt-center">With knowledge comes power. The power to act and the power to plan. Learning about genetic risk for Alzheimer’s disease isn’t for everyone, but if you are a proactive person who wants to be able to impact your future health as much as possible, then identifying your risk level for Alzheimer’s disease may be a good fit.  Having a reason to follow a set of lifestyle changes makes it easier to stick with it on those difficult days when you lack motivation. Learning your genetic risk for Alzheimer’s disease may be your first step towards protecting your future self.</p>
          </div>
         <div class="section__wrap-sm">
           <div class="container-flex align-items--center txt__wrap  container-flex--column-reverse-md">
             <div class="flex-column">
               <div class="img__wrap--md img--center-md">
                 <ng-include class="img img--md" src="'./assets/images/svg/Apoe.svg'" alt=""></ng-include>
               </div>
             </div>
             <div class="flex-column-2">
               <div class="container-sub-head txt-left-space">
                 <h2 class="txt-blue-dark txt-center-md">Actionable insights</h2>
                 <div class="txt__wrap">
                   <p class="txt txt-black txt-center-md">Along with your ApoE genotype, your report will include brain healthy lifestyle recommendations and links to support organizations and sources for more information on late-onset Alzheimer's disease.</p>
                 </div>
               </div>
             </div>
           </div>
         </div>
          <div class="container-flex align-items--center txt__wrap container-flex--column-md">
            <div class="flex-column-2">
              <div class="container-sub-head txt-right-space">
                <h2 class="txt-blue-dark txt-center-md">Detailed explanations</h2>
                <div class="txt__wrap txt-center-md">
                  <p class="txt txt-black"><b>Your report will provide a detailed explanation of: </b></p>
                  <p class="txt txt-black"> - How ApoE works in your body</p>
                  <p class="txt txt-black"> - What your ApoE genotype is</p>
                  <p class="txt txt-black"> - How your risk for Alzheimer’s disease will change as you age</p>
                  <p class="txt txt-black"> - How your risk for Alzheimer’s disease compares to the population average</p>
                  <p class="txt txt-black"> - How to make lifestyle changes to improve your cognitive health.</p>
                </div>
              </div>
            </div>
            <div class="flex-column">
              <div class="img__wrap--md img--center-md">
                <img class="img img--md" src="./assets/images/products/doctor-and-patient.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="about-products-section-third">
      <div class="container-lg">
        <div class="row__wrap--space-top">
          <h3 class="txt-blue-dark txt-center">The ADx advantage over it’s competitors</h3>
          <div class="container-flex container-flex--column-sm">
            <div class="box-wrap box-wrap--large">
              <div class="box-with-header-colored">
                <div class="box-colored-head box-colored-head--blue-dark">
                  <h4 class="txt-center">ADx Healthcare</h4>
                </div>
                <ul class="box-colored-content">
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">At home test</p>
                    </div>
                  </li>
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">Saliva test </p>
                    </div>
                  </li>
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">Physician review</p>
                    </div>
                  </li>
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">Genetic counseling</p>
                    </div>
                  </li>
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">Actionable insights to build brain health</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
           <div class="box-wrap">
             <div class="box-with-header-colored box-with-header-colored--not-shadow-left">
               <div class="box-colored-head box-colored-head--blue">
                 <h4 class="txt-center">Others</h4>
               </div>
               <ul class="box-colored-content">
                 <li class="box-colored-content__item">
                   <span class="icon icon--large icon-checkbox-ok"></span>
                   <div class="txt-wrap-space-left">
                     <p class="txt-large txt-blue-dark">At home test</p>
                   </div>
                 </li>
                 <li class="box-colored-content__item">
                   <span class="icon icon--large icon-checkbox-ok"></span>
                   <div class="txt-wrap-space-left">
                     <p class="txt-large txt-blue-dark">Saliva test</p>
                   </div>
                 </li>
               </ul>
             </div>
           </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="about" class="about-products-section-fourth">
      <div class="section-box-shadow section-box-shadow--space-inner-lg">
        <div class="container-lg">
          <h1 class="txt-blue txt-center">Information about the product</h1>
          <div class="title__wrap">
            <h4 class="txt-blue-dark txt-center">All from home. No blood. No needles. Just a small saliva sample.</h4>
          </div>
          <div class="container-flex container-flex--column-md">
            <div class="flex-column">
              <div class="info-about-column__wrap">
                <div class="info-about__img">
                  <ng-include src="'./assets/images/svg/test-tube.svg'"></ng-include>
                </div>
                <div class="info-about__txt">
                  <div class="title__wrap title__wrap--not-space-top-md">
                    <h3 class="txt-blue-dark txt-center">Saliva Sample</h3>
                  </div>
                  <div class="txt--indent-small txt-center">
                    <p class="txt txt-black">
                      Once an independent physician from PWNHealth authorizes your test, you will receive a sample kit in the mail. Collect your saliva sample and send the kit back to us for processing, in the prepaid packaging provided.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-column">
              <div class="info-about-column__wrap">
                <div class="info-about__img">
                  <ng-include src="'./assets/images/svg/tablet-checked.svg'"></ng-include>
                </div>
                <div class="info-about__txt">
                  <div class="title__wrap title__wrap--not-space-top-md">
                    <h3 class="txt-blue-dark txt-center">Results</h3>
                  </div>
                  <div class="txt--indent-small txt-center">
                    <p class="txt txt-black">Obtain your results privately from your own home. We will help you schedule your free genetic counseling session.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-column">
              <div class="info-about-column__wrap">
                <div class="info-about__img">
                  <ng-include src="'./assets/images/svg/сlapperboard.svg'"></ng-include>
                </div>
                <div class="info-about__txt">
                  <div class="title__wrap title__wrap--not-space-top-md">
                    <h3 class="txt-blue-dark txt-center">Take action</h3>
                  </div>
                  <div class="txt--indent-small txt-center">
                    <p class="txt txt-black">
                      Learn about lifestyle changes and modifiable risk factors as you takes steps that may improve your cognitive health and positively impact your risk for late-onset Alzheimer's disease.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div id="labPartner" class="about-products-section-fifth">
      <div class="section-box-shadow">
        <div class="about-products-section-fifth__wrap">
          <div class="about-products-section-fifth__image-wrap">
            <img class="about-products-section-fifth-img" src="./assets/images/products/doctor-lab.png" alt="">
          </div>
          <div class="container-lg">
            <div class="container-flex align-items--center about-products-section-fifth--container-txt">
              <div class="flex-column">
                <div class="flex-column__wrap">
                  <div class="about-products-section-fifth__txt">
                    <h3 class="txt-blue-dark txt-center-md">Helix our lab partner</h3>
                    <div class="txt__wrap txt-center-md">
                      <p class="txt txt-black">
                        Helix is a personal genomics company with a simple but powerful mission: to empower every person to improve their life through DNA.
                        We’ve created the first marketplace for DNA-powered products where people can explore diverse and uniquely personalized products developed by high quality partners.
                        <br>
                        Helix handles sample collection, DNA sequencing, and secure data storage so that our partners can integrate DNA insights into products across a range of categories, including ancestry, entertainment, family, fitness, health and nutrition. From profound insights to just-for-fun discoveries, Helix is here to help people live a fuller life.
                        Learn more at <a href="mailto:www.Helix.com" target="_top">www.helix.com.</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!--section fourth home-->
<!--section fourth-->
    <div ng-include="'templates/care_questions.tpl.html'"></div>
    <!--end section home fourth-->
  </div>
  
  
</div>