<div class="about-products">
  <div class="about-products-head">
    <div class="container-fluid container-fluid--section">
      <div class="container-lg">
        <div class="row">
          <div class="col-sm-6 anim-content-transition">
            <div class="about-products-head__img">
              <img class="head-image" src="../../../assets/images/home-page/helix-front-right.png" alt="">
            </div>
          </div>
          <div class="col-sm-6 anim-content-transition">
            <div class="title__wrap anim-content-transition">
              <h1 class="txt-blue-dark">Alzheimers Genetic Test</h1>
            </div>
            <div class="txt--indent-small txt__wrap--border-bottom anim-content-transition">
              <p class="txt txt-black">In the fight against late-onset Alzheimer’s disease, early awareness about risk can empower you to make lifestyle changes now to protect your future self. Taking action before memories begin to fade may help you to reduce your risk for or delay the onset of Alzheimer’s.</p>
            </div>
            <div class="txt--indent-small txt__wrap--border-bottom anim-content-transition">
              <div class="container-flex txt--indent-small">
                <div class="column">
                  <p class="txt-large txt-black">Alzheimer’s Genetic Test</p>
                </div>
                <div class="column">
                  <p class="txt txt-black">$249.00</p>
                </div>
              </div>
              <div class="container-flex txt--indent-small">
                <div class="column">
                  <p class="txt-large txt-black">Helix DNA kit</p>
                </div>
                <div class="column">
                  <p class="txt txt-black">$89.00</p>
                </div>
              </div>
              <div class="txt--indent-small">
                <p class="txt txt-black">Required one time only so Helix can collect a saliva sample from you and sequence your DNA.</p>
              </div>
              <div class="txt--indent-small pre-results-box-flex">
                <div class="pre-results-box-flex-1 checkbox checkbox--not-space">
                  <input type="checkbox" id="checkbox-private" class="checkbox-input">
                  <label for="checkbox-private" class="checkbox-label checkbox-label--small"></label>
                </div>
                <div class="pre-results-box-flex-2 anim-content-transition">
                  <div class="txt txt-black">
                    I already have or registered a <span class="txt-bold">Helix DNA kit</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="txt__wrap container-flex anim-content-transition">
              <div class="column">
                <p class="txt txt-black">Price:</p>
              </div>
              <div class="column">
                <div class="txt-large txt-large--exl txt-black">$338.00</div>
              </div>
            </div>
            <div class="button__wrap">
              <button class="bt-round bt-round--all-width bt-round--blue-dark"><span class="txt-large txt-bold">Purchase with Helix</span></button>
            </div>
            <div class="button__wrap">
              <button class="bt-round bt-round--all-width bt-round--gray"><span class="txt-large txt-gray txt-bold">Multiple order, contact us</span></button>
            </div>
          </div>
        </div>
        <div class="txt__wrap anim-content-transition">
          <p class="txt txt-black txt-center">To use this product, you must be 18 or older and be a U.S. resident. Not available for residents of Alaska, Arkansas, Delaware,
            Hawaii, Idaho, Maine, Missouri, Nevada, New York, Tennessee, West Virgina, Wisconsin, or Wyoming. Clarify your diabetes diagnosis</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid container-fluid--section">
    <section class="about-products-section-second anim-content-transition">
      <div class="container-round container-round--silver">
        <div class="container-lg container-flex container-flex--column-md">
          <button ng-click="setTab(1)" ng-class="{'active': isSet(1)}" class="bt-round bt-round--gray anim-content-transition"><span class="txt-large txt-gray txt-bold">About the test</span></button>
          <button ng-click="setTab(2)" ng-class="{'active': isSet(2)}" class="bt-round bt-round--gray bt-space-top--md anim-content-transition"><span class="txt-large txt-gray txt-bold">Why ADx</span></button>
          <button ng-click="setTab(3)" ng-class="{'active': isSet(3)}" class="bt-round bt-round--gray bt-space-top--md anim-content-transition"><span class="txt-large txt-gray txt-bold">Helix Lab partner</span></button>
        </div>
      </div>
      <div class="section-box-shadow section-box-shadow--space-inner anim-content-transition">
        <div class="container-lg">
          <div  ng-show="isSet(1)">
            <div class="txt__wrap--border-bottom container-flex container-flex--column-reverse-md align-items--center">
              <div class="flex-column">
                <div class="img__wrap--md">
                  <img class="img img--md" src="./assets/images/products/female-doctor.png" alt="">
                </div>
              </div>
              <div class="flex-column-2">
                <div class="container-sub-head">
                  <h2 class="txt-blue-dark txt-center-md">Is this test right for me?</h2>
                  <div class="txt__wrap">
                    <p class="txt txt-black txt-center-md">The Alzheimer’s ApoE genetic test is developed to help individuals interested in learning their genetic risk for late-onset Alzheimer’s disease and how their Alzheimer’s disease risk changes with age.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="title__wrap">
              <h1 class="txt-blue txt-center">Why should I take this test?</h1>
            </div>
            <div class="txt__wrap">
              <p class="txt txt-black txt-center">With knowledge comes power… the power to act and the power to plan.  Learning about genetic risk for Alzheimer’s disease isn’t for everyone, but if you are a proactive person who wants to be able to impact your future health as much as possible, then identifying your risk level for Alzheimer’s disease may be a good fit.  Having a reason to follow a set of lifestyle changes makes it easier to stick with it on those difficult days when you lack motivation. Learning your genetic risk for Alzheimer’s disease may be your first step towards protecting your future self.</p>
            </div>
            <div class="container-flex align-items--center txt__wrap  container-flex--column-reverse-md">
              <div class="flex-column">
                <div class="img__wrap--md">
                  <img class="img img--md" src="./assets/images/products/icon-human.png" alt="">
                </div>
              </div>
              <div class="flex-column-2">
                <div class="container-sub-head">
                  <h2 class="txt-blue-dark txt-left-space txt-center-md"> Actionable insights</h2>
                  <div class="txt__wrap">
                    <p class="txt txt-black txt-center-md">Along with your ApoE genotype, your report will include brain healthy lifestyle recommendations and links to support organizations and sources for more information on Alzheimer’s disease.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-flex align-items--center txt__wrap container-flex--column-md">
              <div class="flex-column-2">
                <div class="container-sub-head container-sub-head--not-center">
                  <h2 class="txt-blue-dark txt-left-space txt-center-md">Detailed explanations</h2>
                  <div class="txt__wrap txt-center-md">
                    <p class="txt txt-black">Your report will provide a detailed explanation of: </p>
                    <p class="txt txt-black">How ApoE works in your body;</p>
                    <p class="txt txt-black">What your ApoE genotype is;</p>
                    <p class="txt txt-black">How your risk for Alzheimer’s disease will change as you age;</p>
                    <p class="txt txt-black">How your risk for Alzheimer’s disease compares to the population average;</p>
                    <p class="txt txt-black">How you can get started making lifestyle changes to improve your cognitive health.</p>
                  </div>
                </div>
              </div>
              <div class="flex-column">
                <div class="img__wrap--md">
                  <img class="img img--md" src="./assets/images/products/doctor-and-patient.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div  ng-show="isSet(2)">
            <div class="txt__wrap--border-bottom container-flex">
              <div class="flex">
                <img class="img" src="./assets/images/products/" alt="">
              </div>
              <div class="flex">
                <h2 class="txt-blue-dark">Is this test right for me?</h2>
                <div class="txt__wrap">
                  <p class="txt txt-black">The Alzheimer’s ApoE genetic test is developed to help individuals interested in learning their genetic risk for late-onset Alzheimer’s disease and how their Alzheimer’s disease risk changes with age.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="about-products-section-third">
      <div class="container-lg">
        <div class="row__wrap--space-top">
          <h3 class="txt-blue-dark txt-center">The ADx advantage over it’s competitors</h3>
          <div class="container-flex container-flex--column-lg-wrap">
            <div class="box-wrap">
              <div class="box-with-header-colored">
                <div class="box-colored-head box-colored-head--blue-dark">
                  <h4 class="txt-center">Us</h4>
                </div>
                <ul class="box-colored-content">
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">Benefits</p>
                    </div>
                  </li>
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">Another</p>
                    </div>
                  </li>
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">More benefits</p>
                    </div>
                  </li>
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">And again</p>
                    </div>
                  </li>
                  <li class="box-colored-content__item">
                    <span class="icon icon--large icon-checkbox-ok"></span>
                    <div class="txt-wrap-space-left">
                      <p class="txt-large txt-blue-dark">Last benefit</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
           <div class="box-wrap">
             <div class="box-with-header-colored">
               <div class="box-colored-head box-colored-head--blue">
                 <h4 class="txt-center">23&me</h4>
               </div>
               <ul class="box-colored-content">
                 <li class="box-colored-content__item">
                   <span class="icon icon--large icon-checkbox-ok"></span>
                   <div class="txt-wrap-space-left">
                     <p class="txt-large txt-blue-dark">Benefits</p>
                   </div>
                 </li>
                 <li class="box-colored-content__item">
                   <span class="icon icon--large icon-checkbox-ok"></span>
                   <div class="txt-wrap-space-left">
                     <p class="txt-large txt-blue-dark">Another</p>
                   </div>
                 </li>
                 <li class="box-colored-content__item">
                   <span class="icon icon--large icon-checkbox-ok"></span>
                   <div class="txt-wrap-space-left">
                     <p class="txt-large txt-blue-dark">More benefits</p>
                   </div>
                 </li>
               </ul>
             </div>
           </div>
           <div class="box-wrap">
             <div class="box-with-header-colored">
               <div class="box-colored-head box-colored-head--blue">
                 <h4 class="txt-center">LifeExtension</h4>
               </div>
               <ul class="box-colored-content">
                 <li class="box-colored-content__item">
                   <span class="icon icon--large icon-checkbox-ok"></span>
                   <div class="txt-wrap-space-left">
                     <p class="txt-large txt-blue-dark">Benefits</p>
                   </div>
                 </li>
                 <li class="box-colored-content__item">
                   <span class="icon icon--large icon-checkbox-ok"></span>
                   <div class="txt-wrap-space-left">
                     <p class="txt-large txt-blue-dark">Another</p>
                   </div>
                 </li>
               </ul>
             </div>
           </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="about-products-section-fourth">
      <div class="section-box-shadow section-box-shadow--space-inner-lg">
        <div class="container-lg">
          <h1 class="txt-blue txt-center">Information about the product</h1>
          <div class="title__wrap">
            <h4 class="txt-blue-dark txt-center">All from home. No blood. No needles. Just a small saliva sample.</h4>
          </div>
          <div class="container-flex container-flex--column-md">
            <div class="flex-column">
              <div class="info-about-column__wrap">
                <div class="info-about__img">
                  <ng-include src="'./assets/images/svg/test-tube.svg'"></ng-include>
                  <div class="title__wrap">
                    <h3 class="txt-blue-dark txt-center">Spit</h3>
                  </div>
                  <div class="txt--indent-small txt-center">
                    <p class="txt txt-black">Collect your saliva sample and send the kit to us for processing. (Physician authorization will be required prior to lab processing)</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-column">
              <div class="info-about-column__wrap">
                <div class="info-about__img">
                  <ng-include src="'./assets/images/svg/tablet-checked.svg'"></ng-include>
                  <div class="title__wrap">
                    <h3 class="txt-blue-dark txt-center">Results</h3>
                  </div>
                  <div class="txt--indent-small txt-center">
                    <p class="txt txt-black">Obtain your results from your provider. We'll help you schedule your free genetic counseling session.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-column">
              <div class="info-about-column__wrap">
                <div class="info-about__img">
                  <ng-include src="'./assets/images/svg/сlapperboard.svg'"></ng-include>
                  <div class="title__wrap">
                    <h3 class="txt-blue-dark txt-center">Take action</h3>
                  </div>
                  <div class="txt--indent-small txt-center">
                    <p class="txt txt-black">Learn about lifestyle changes and modifiable risk factors to improve your cognitive health and reduce your risk. Visit AFFIRMATIVhealth.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="about-products-section-fifth">
      <div class="section-box-shadow">
        <div class="about-products-section-fifth__wrap">
          <div class="container-lg">
            <div class="container-flex align-items--center about-products-section-fifth--container-txt">
              <div class="row">
                <div class="col-xs-6">
                  <h3 class="txt-blue-dark">Helix our lab partner</h3>
                  <div class="txt__wrap">
                    <p class="txt txt-black">xLayer product and design team will work together with you to create the interface and the experience that fits your users need. This includes product brainstorming, identifying value propositions, design that speaks for your brand and a feature rich product for your genetic application.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!--section fourth home-->
    <div class="home-section-fourth section-box-shadow">
      <div class="home-section-fourth__head">
        <div class="home-section-fourth-head__title">
          <h3 class="txt-blue txt-center">Frequently asked questions</h3>
          <h1 class="txt-blue txt-center">We care about you</h1>
          <div class="sub-header-txt__wrap">
            <div class="sub-header-txt txt-center">
              Our customer support team is available
              by email or chat, and is happy to answer your
              questions about your test kit, results, and more.
            </div>
          </div>
        </div>
      </div>
      <div class="home-section-fourth__content">
        <div class="container-lg">
          <div uib-accordion close-others="false">
            <div uib-accordion-group class="dropdown-txt__content">
              <div uib-accordion-heading>
                <div class="accordion-heading-wrap">
                  <div class="cross-button-open__wrap">
                    <div class="cross-button-open"></div>
                  </div>
                  <div class="content-title__wrap">
                    <h2 class="txt-blue-dark">You’re not alone</h2>
                  </div>
                </div>
              </div>
              <div class="content-txt__wrap">
                <div class="txt txt-black">
                  From the physician review of your order, to the genetics counselors available to answer questions about your test results, ADx Healthcare will support you through the process.
                  <div class="txt--indent">
                    For all the steps in between, our customer support team is available to discuss your questions about the science behind ApoE,
                    ordering a test, completing your kit, or interpreting your results.
                  </div>
                  <div class="txt--indent">
                    You don’t need to navigate this alone. We are here to support you through each step.
                  </div>
                </div>
              </div>
            </div>
            <div uib-accordion-group class="dropdown-txt__content">
              <div uib-accordion-heading>
                <div class="accordion-heading-wrap">
                  <div class="cross-button-open__wrap">
                    <div class="cross-button-open"></div>
                  </div>
                  <div class="content-title__wrap">
                    <h2 class="txt-blue-dark">Genetic counseling</h2>
                  </div>
                </div>
              </div>
              <div class="content-txt__wrap">
                <div class="txt txt-black">
                  You will receive your test results in a clear, electronic report. However, if you have additional questions about what these results mean to you or your family, we have Genetics Counselors available to discuss your results with you, for no additional charge. Also, we encourage you to share your report with your health care provider and review with them any additional questions or concerns you may have.
              
                </div>
              </div>
            </div>
            <div uib-accordion-group class="dropdown-txt__content">
              <div uib-accordion-heading>
                <div class="accordion-heading-wrap">
                  <div class="cross-button-open__wrap">
                    <div class="cross-button-open"></div>
                  </div>
                  <div class="content-title__wrap">
                    <h2 class="txt-blue-dark">Power of emotions</h2>
                  </div>
                </div>
              </div>
              <div class="content-txt__wrap">
                <div class="txt txt-black">
                  Genetics is only one part of your risk for developing Alzheimer’s disease. For many people, it can be hard to be motivated to exercise.  For others, nutrition is a struggle with busy work and family schedules.  For yet others, sleep is often viewed as an inconvenience and not given much priority. Finally, stress management is an issue for many, as approximately 55% of Americans reported not even taking all their paid vacation days. (source: http://www.projecttimeoff.com/research/state-american-vacation-2016).  Knowing that you have a high genetic risk for Alzheimer’s disease is unsettling, but it can help empower you to take measured action to live a cognitively healthy life in order to best protect your future self.
                  <div class="txt--indent">
                    Having the ApoE-e4 variant  (high genetic risk for Alzheimer’s disease) does not guarantee you will develop late-onset Alzheimer’s disease.  Learning your genetic risk can help you take measured steps towards improving your cognitive health, so you can reduce your risk for or delay the onset of Alzheimer’s disease.  Sometimes making lifestyle changes can be hard, but having a reason for why you are eating healthier, reducing your stress, and making fitness and sleep a priority can be motivating.
                  </div>
                </div>
              </div>
            </div>
            <div uib-accordion-group class="dropdown-txt__content">
              <div uib-accordion-heading>
                <div class="accordion-heading-wrap">
                  <div class="cross-button-open__wrap">
                    <div class="cross-button-open"></div>
                  </div>
                  <div class="content-title__wrap">
                    <h2 class="txt-blue-dark">Lifestyle changes</h2>
                  </div>
                </div>
              </div>
              <div class="content-txt__wrap">
                <div class="txt txt-black">
                  Sleep, stress, nutrition, fitness, social engagement, ongoing brain training (music, games, reading, crafts, etc.), and environmental toxins each can impact your cognitive health.  Living an overall healthier life may also help you reduce your risk for Alzheimer’s disease.
                </div>
              </div>
            </div>
            <div uib-accordion-group class="dropdown-txt__content">
              <div uib-accordion-heading>
                <div class="accordion-heading-wrap">
                  <div class="cross-button-open__wrap">
                    <div class="cross-button-open"></div>
                  </div>
                  <div class="content-title__wrap">
                    <h2 class="txt-blue-dark">Connecting with community</h2>
                  </div>
                </div>
              </div>
              <div class="content-txt__wrap">
                <div class="txt txt-black">
                  We encourage you to share your results with your family and healthcare provider.  The more support you have for implementing brain healthy lifestyle behaviors, the more likely you are to be successful at turning them into lifelong habits.
                </div>
                <div class="txt--indent">
                  <a href="" class="link-padding-right txt txt-blue-dark">Community</a>
                  <div class="txt--indent">
                    <a href="" class="link-padding-right txt txt-blue-dark">Facebook</a>
                    <a href="" class="link-padding-right txt txt-blue-dark">Twitter</a>
                    <a href="" class="link-padding-right txt txt-blue-dark">Blog</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end section home fourth-->
  </div>
  
  
</div>