<div class="sequencing-status-page">
  <div class="sequencing-status-head__wrap">
    <div class="section__wrap">
      <div class="container-lg--dashboard">
        <div class="title__wrap">
          <h1 class="txt-blue-dark txt-center">Current status on your DNA samples</h1>
        </div>
        <!--progress-bar-->
        <div class="status-progressbar__wrap">
          <ul class="status-progressbar-container">
            <li class="status-progressbar-item active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-car"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">Physician
                  Review</p>
                <p class="txt-small txt-center progressbar-txt-color">The physician is determining if the test is appropriate for user.</p>
              </div>
            </li>
            <li class="status-progressbar-item  active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-pc-pointer"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">Kit
                  Registered</p>
                <p class="txt-small txt-center progressbar-txt-color">The user has spit in their sample tube and registered it for shipment.</p>
              </div>
            </li>
            <li class="status-progressbar-item active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-forklift"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">Manifest
                  Uploaded</p>
                <p class="txt-small txt-center progressbar-txt-color">The user's sample has been received by the lab.</p>
              </div>
            </li>
            <li class="status-progressbar-item  active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-test-tubes"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">DNA Extraction
                  Complete</p>
                <p class="txt-small txt-center progressbar-txt-color">The user's sample is done in the lab and currently being processed.</p>
              </div>
            </li>
            <li class="status-progressbar-item  active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-pc-dna"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">Data Delivery
                  Complete</p>
                <p class="txt-small txt-center progressbar-txt-color">The Genomics Service will now provide variant data from the user's sample.</p>
              </div>
            </li>
            <li class="status-progressbar-item  active active--current">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-pc-dna"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold txt-center progressbar-txt-color">Results ready
                  for view</p>
                <p class="txt-small txt-center progressbar-txt-color">The user's sample is being reanalyzed.</p>
              </div>
            </li>
          </ul>
        </div>
        <!--end  progress-bar-->
        <div class="title__wrap txt-center">
          <div class="container-xs-button-flex">
            <div class="test-ok"></div>
            <h4 class="txt-blue-dark align-vertical--center">Your DNA sample test
              results are now ready.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>