<div class="sequencing-status-page">
  <div class="sequencing-status-head__wrap">
    <div class="section__wrap">
      <div class="container-lg--dashboard">
        <div class="title__wrap">
          <h1 class="txt-blue-dark txt-center">Current status on your DNA samples</h1>
        </div>
        <!--progress-bar-->
        <div class="status-progressbar__wrap">
          <ul class="status-progressbar-container">
            <li class="status-progressbar-item active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-car"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">Physician
                  Review</p>
                <p class="txt-small txt-center progressbar-txt-color">The physician is determining if the test is appropriate for user.</p>
              </div>
            </li>
            <li class="status-progressbar-item  active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-pc-pointer"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">Kit
                  Registered</p>
                <p class="txt-small txt-center progressbar-txt-color">The user has spit in their sample tube and registered it for shipment.</p>
              </div>
            </li>
            <li class="status-progressbar-item active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-forklift"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">Manifest
                  Uploaded</p>
                <p class="txt-small txt-center progressbar-txt-color">The user's sample has been received by the lab.</p>
              </div>
            </li>
            <li class="status-progressbar-item  active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-test-tubes"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">DNA Extraction
                  Complete</p>
                <p class="txt-small txt-center progressbar-txt-color">The user's sample is done in the lab and currently being processed.</p>
              </div>
            </li>
            <li class="status-progressbar-item  active">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-pc-dna"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold progressbar-txt-color txt-center">Data Delivery
                  Complete</p>
                <p class="txt-small txt-center progressbar-txt-color">The Genomics Service will now provide variant data from the user's sample.</p>
              </div>
            </li>
            <li class="status-progressbar-item  active active--current">
              <div class="status-progressbar-inner"></div>
              <div class="status-progressbar-icon icon-pc-dna"></div>
              <div class="status-progressbar-txt">
                <p class="txt txt-bold txt-center progressbar-txt-color">Results ready
                  for view</p>
                <p class="txt-small txt-center progressbar-txt-color">The user's sample is being reanalyzed.</p>
              </div>
            </li>
          </ul>
        </div>
        <!--end  progress-bar-->
        <div class="title__wrap txt-center">
          <div class="container-xs-button-flex">
            <div class="test-ok active"></div>
            <h4 class="txt-blue-dark align-vertical--center">Your DNA sample test
              results are now ready.</h4>
          </div>
        </div>
        <div class="button__wrap button--center">
          <div class="bt-round bt-round--greatest bt-round--blue-dark">Click Here To View</div>
        </div>
        <div class="txt--indent-small txt-wrap-under-button">
          <p class="txt txt-black txt--small txt-center">
            An email with your DNA test results
            has been sent to you.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section__wrap">
    <div class="section-bgc--silver">
      <div class="container-lg--dashboard">
        <h1 class="txt-blue-dark txt-center">Education</h1>
        <div class="txt__wrap txt__wrap--border-bottom">
          <div class="row">
            <div class="col-sm-6">
              <p class="txt txt-black txt-bold">The ApoE gene comes in three variants:</p>
              <p class="txt txt-black">ApoE2, ApoE3, and ApoE4, and everyone has two copies of the gene.</p>
              <div class="txt--indent">
                <p class="txt txt-black">Genotyping reveals what specific combination of the ApoE gene you have, which may be two copies of the same form (e.g. ApoE3/ApoE3), or two different forms (e.g. ApoE2/ApoE4).</p>
              </div>
              <div class="txt--indent">
                <p class="txt txt-black">ADx ApoE Genetic test will test which allel e combination you have.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="txt txt-black"><p class="txt-bold">What will my results tell me?</p>
                Your test results will explain which combination of the ApoE alleles you have. This genetic combination will be further interpreted, to help you identify your lifetime risk for developing Alzheimer’s disease, based on your genetics and your current age. Your ApoE status will not change as you age, but as you age your chance of developing Alzheimer’s will increase at a different rate dependent on which ApoE combination you have. A genetics counselor will be available to go through your results with you if you have questions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>