@media (max-height: 710px) {
  .page .verify-page {
    height: 100%;
  }
}

@media (max-height: $breakpoint-md) {
  .page .register-page {
    height: 100%;
  }
}

@media (max-width: $breakpoint-md) {
  .register-page, .verify-page {
    height: calc(100vh - 55px);
  }
}