.register-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.register-page__image-bgc {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  filter: blur(6px);
}

.panel--register {
  position: relative;
  top: 88px;
}

.form-input__register-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

.register-checkbox__wrap {
  text-align: center;
}

.register-button__wrap {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.register-link__inner {
  text-align: center;
  padding-top: 15px;
}

.register-form__wrap {
  width: 942px;
  margin: 0 auto;
  padding-top: 9%;
}


