.register-page {
  height: calc(100vh - 80px);
  width: 100%;
}

.register-form__wrap {
  width: 100%;
  height: auto;
  position: relative;
  padding: 88px 15px 0;
  &.complete {
    padding: 88px 15px 265px;
  }
}

.register-form {
  max-width: 573px;
  min-height: 480px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: $silver;
  border-radius: 7px;
  padding: 47px 42px;
}

.form-input__register-wrap {
  padding-top: 40px;
  width: 100%;
  height: auto;
}

.checkbox__txt {
  display: inline-block;
  padding-left: 15px;
}

.form-consent {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.register-complete {
  display: flex;
  flex-flow: column;
  height: 385px;
  justify-content: space-evenly;
}