.register-page {
  height: 100%;
  width: 100%;
}

.register-form__wrap {
  width: 100%;
  height: auto;
  padding: 88px 0;
}

.register-form {
  max-width: 507px;
  min-height: 480px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: $silver;
  border-radius: 7px;
  padding: 47px 42px;
}

.form-input__register-wrap {
  padding-top: 40px;
  width: 100%;
  height: auto;
}