<div class="container-fluid">
    <div class="row">
        <h1 class="txt-blue-dark">Status: {{ status.seq_status }}</h1>
        <ul>
            <li ng-repeat="product in status.product_status">
                <p class="txt-blue-dark">product Id: {{product.product_id}}</p>
                <p class="txt-blue-dark" ng-if="product.product_consent_agreed_date"> Product consent agreed date{{ product.product_consent_agreed_date }}</p>
                <p class="txt-blue-dark">Product status {{ product.product_status}}</p>
                <p class="txt-blue-dark">Submitted date {{ product.ldt_submitted_date }}</p>
            </li>
        </ul>
    </div>
</div>