@media (max-width: $breakpoint) {
  a.bt-round, button.button-border-rounded {
    font-size: 12pt;
    min-width: 162px;
  }
  button.button-border-rounded {
    padding: 5px 34px;
  }
  .bt-round-right-icon {
    &::before, &::after {
      top: 10px;
    }
  }
  .bt-round-lg {
    padding: 9px 36px;
  }
}

@media (max-width: $breakpoint-lg) {
  button.button-border-rounded, a.bt-round {
    padding: 5px 20px;
    min-width: 112px;
  }
}

@media (max-width: $breakpoint-md) {

  .cross-button-open {
    height: 46px;
  }

  .cross-button-open:before, .cross-button-open:after {
    width: 46px;
    top: 30%;
  }
}

@media (max-width: $breakpoint-sm) {
  .bt-round:before, .bt-round:after {
    height: 52%;
  }
  .bt-round.bt-round--blue-dark:hover {
     box-shadow: inset 0px 0px 3px 2px $blue-dark;
   }
  .bt-round.bt-round--blue:hover {
    box-shadow: inset 0px 0px 3px 2px $blue-6;
  }
  .cross-button-open {
    width: 32px;
    height: 36px;
    &:before, &:after {
      width: 29px;
      top: 19px;
    }
  }
  .button-border-rounded.button-border-rounded--small {
    padding: 10px 48px;
  }

  .cross-button-open__wrap {
    position: absolute;
    margin: -9px 0px;
  }
  .bt-round.bt-round-left-icon.bt-round-right-icon {
    padding: 9px 65px;
  }
}


@media (max-width: $breakpoint-exs) {
  .container-md-button-flex {
    justify-content: center;
    flex-flow: wrap;
  }
  .button__wrap--step {
    margin: 14px auto;
  }
  .bt-round.bt-round--large {
    padding: 9px 63px;
  }
}