@media (max-width: $breakpoint) {
  .carousel {
    width: 80vw;
    margin: 0 auto;
  }
  .slider__wrap {
    max-width: 85%;
    margin: 0 auto;
  }
}


@media (max-width: $breakpoint-sm) {
  .carousel {
    width: 97vw;
  }
  .slider__wrap {
    max-width: 100%;
  }
  .carousel-control.right {
    right: calc(99px - 17vw);
  }
  .slider__wrap {
    padding: 0 50px;
  }
  .carousel-control.right:after {
    left: 12px;
  }

  .carousel-control.left {
    left: 0;
    &:after {
      left: -36px;
    }
  }
}

@media (max-width: $breakpoint-exs) {
  .carousel-control.right:after {
    left: -17px;
  }
  .carousel-control.right {
    right: 0;
  }
}