@media (max-width: $breakpoint) {
  .img-bgc-wrap__rounded {
    height: 512px;
    max-width: 512px;
  }
}

@media (max-width: $breakpoint-lg) {
  .img-bgc-wrap__rounded {
    height: 400px;
    max-width: 400px;
  }
  .svg-inner-rounded-big {
    width: 200px;
  }

  .img-bgc-wrap-middle__rounded.img-bgc-wrap-middle__rounded--md-small {
    height: 216px;
    width: 216px;
  }
  .svg-inner-rounded-middle.svg-inner-rounded-middle--larger svg {
    width: 92px;
    left: 29%;
    top: 31%;
  }
  .img-bgc-wrap-middle__rounded--md-small .svg-inner-rounded-middle--logo {
    svg {
      max-width: 130px;
    }
  }

  .img-border-wrap {
    width: 330px;
    height: 330px;
  }
}

@media (max-width: $breakpoint-md) {

  .img--center-md {
    text-align: center;
  }

  .img-bgc-wrap__rounded {
    height: 360px;
    max-width: 360px;
  }
  .svg-inner-rounded-big {
    width: 178px;
  }
  .img--md {
    max-width: 360px;
    margin: 0 auto;
    display: inline-block;
  }
  .img__wrap--md {
    margin-top: 20px;
  }
  .img-logo {
    max-width: 80px;
  }
}

@media (max-width: $breakpoint-sm) {

  .img-middle--large-sm {
    max-width: 368px;
    height: auto;
  }

  .img--center-sm {
    text-align: center;
  }

  .img__wrap--not-top-space-sm {
    padding: 0px 20px 0;
  }
  
  .img-bgc-wrap__rounded, .img-bgc-wrap-middle__rounded {
    height: 57vw;
    width: 57vw;
    min-width: 257px;
    min-height: 257px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
  }
  .svg-inner-rounded-big, .svg-inner-rounded-middle svg {
    width: 28vw;
    min-width: 130px;
  }
  .img-bgc-wrap__rounded--float-right {
    float: none;
  }

  .img-bgc-wrap-middle__rounded--md-small .svg-inner-rounded-middle--logo svg {
    max-width: 130px;
  }

  .img-large {
    max-width: 366px;
    height: auto;
  }
  .img-logo {
    max-width: 67px;
    height: auto;
  }

  .img-middle--md {
    height: auto;
  }
}

