@media (max-width: $breakpoint) {
  h1 {
    font-size: 50px;
    line-height: 64px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 25px;
  }
  .img-bgc-wrap__rounded {
    height: 512px;
    max-width: 512px;
  }
  .container-lg--dashboard {
    padding: 0 25px;
  }

  .container-lg--dashboard.container-lg--dashboard--not-space-exlg {
    padding: 0;
  }

  .txt-space-left-exlg {
    padding-left: 25px;
  }
}

@media (max-width: $breakpoint-lg) {
  .box {
    height: auto;
  }
  .box-data__wrap {
    padding-bottom: 30px;
  }
  .img-bgc-wrap__rounded {
    height: 400px;
    max-width: 400px;
  }
  .svg-inner-rounded-big {
    width: 200px;
  }

  .sub-header-txt {
    font-size: 22px;
    line-height: 36px;
  }
  .sub-header-txt.sub-header-txt--small {
    font-size: 18px;
    line-height: 36px;
  }

  .txt {
    font-size: 18px;
  }

  .img-bgc-wrap-middle__rounded {
    height: 216px;
    width: 216px;
  }
  .svg-inner-rounded-middle.svg-inner-rounded-middle--larger svg {
    width: 92px;
    left: 29%;
    top: 31%;
  }
  .box-title__wrap {
    padding-top: 50px;
  }
  .box-half-column {
    padding: 50px 2%;
  }
  .box-txt__wrap--inline-block {
    width: 77%;
  }
}

@media (max-width: $breakpoint-md) {
  h1 {
    font-size: 35px;
    line-height: 44px;
  }

  h2 {
    font-size: 35px;
    line-height: 28px;
  }

  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  .title__wrap--md-center {
    text-align: center;
  }

  .section-box-shadow {
    margin-top: 25px;
  }
  .boxes__wrap {
    flex-flow: wrap;
  }
  .boxes__wrap.boxes__wrap--large {
    flex-flow: row;
  }
  .box {
    margin: 25px 15px;
  }
  .img-bgc-wrap__rounded {
    height: 360px;
    max-width: 360px;
  }
  .svg-inner-rounded-big {
    width: 178px;
  }
  .hide-desktop-md {
    display: inline-block !important;
  }
  .box-half-column {
    width: 100%;
  }
  .container-md-button-flex {
    padding: 0 25px;
  }
}

@media (max-width: $breakpoint-sm) {

  .sub-header-txt {
    font-size: 18px;
    line-height: 36px;
  }
  .sub-header-txt.sub-header-txt--small {
    font-size: 18px;
    line-height: 36px;
  }

  .txt {
    font-size: 14px;
  }

  .container-page {
    padding-top: 55px !important;
  }
  .hide-mobile {
    display: none !important;
  }

  .hide-desktop {
    display: inline-block !important;
  }
  //svg
  .img-bgc-wrap__rounded, .img-bgc-wrap-middle__rounded {
    height: 57vw;
    width: 57vw;
    min-width: 257px;
    min-height: 257px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
  }
  .svg-inner-rounded-big, .svg-inner-rounded-middle svg {
    width: 28vw;
    min-width: 130px;
  }
  .img-bgc-wrap__rounded--float-right {
    float: none;
  }
  .svg-inner-rounded-middle svg {
    position: absolute;
    left: 24%;
    top: 23%;
  }
  .txt--indent {
    padding-top: 20px;
  }
  .boxes__wrap.boxes__wrap--large {
    flex-flow: wrap;
  }
  .box {
    padding-left: 15px;
    padding-right: 15px;
  }

  .box-checkbox__wrap {
    padding-left: 20px;
  }
  .box-txt__wrap--inline-block {
    width: 68%;
    padding-top: 5px;
    padding-left: 3%;
  }

  .row-image-flex {
    padding-top: 50px;
  }

  .section__wrap {
    padding-top: 50px;
  }
}

@media (max-width: $breakpoint-exs) {
  .section-bgc--silver {
    padding: 50px 0;
  }

  .row__wrap {
    width: 100%;
    padding-top: 50px;
  }

  .row-image-flex {
    padding-top: 0;
  }
}