@media (max-width: $breakpoint) {
  .img-bgc-wrap__rounded {
    height: 512px;
    max-width: 512px;
  }
}

@media (max-width: $breakpoint-lg) {
  .img-bgc-wrap__rounded {
    height: 400px;
    max-width: 400px;
  }
  .svg-inner-rounded-big {
    width: 200px;
  }

  .img-bgc-wrap-middle__rounded.img-bgc-wrap-middle__rounded--md-small {
    height: 216px;
    width: 216px;
  }
  .svg-inner-rounded-middle.svg-inner-rounded-middle--larger svg {
    width: 92px;
    left: 29%;
    top: 31%;
  }
  .img-bgc-wrap-middle__rounded--md-small .svg-inner-rounded-middle--logo {
    svg {
      width: 202px;
      left: 6px;
      top: 76px;
    }
  }

  .img-border-wrap {
    width: 330px;
    height: 330px;
  }
}

@media (max-width: $breakpoint-md) {

  .img-bgc-wrap__rounded {
    height: 360px;
    max-width: 360px;
  }
  .svg-inner-rounded-big {
    width: 178px;
  }
}

@media (max-width: $breakpoint-sm) {
  
  .img-bgc-wrap__rounded, .img-bgc-wrap-middle__rounded {
    height: 57vw;
    width: 57vw;
    min-width: 257px;
    min-height: 257px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
  }
  .svg-inner-rounded-big, .svg-inner-rounded-middle svg {
    width: 28vw;
    min-width: 130px;
  }
  .img-bgc-wrap__rounded--float-right {
    float: none;
  }
  .svg-inner-rounded-middle svg {
    position: absolute;
    left: 24%;
    top: 23%;
  }

  .img-bgc-wrap-middle__rounded--md-small .svg-inner-rounded-middle--logo svg {
    width: 202px;
    left: 31px;
    top: 102px;
  }
}