@media (max-width: $breakpoint) {
  .container-lg--dashboard {
    padding: 0 25px;
  }

  .container-lg--dashboard.container-lg--dashboard--not-space-exlg {
    padding: 0;
  }
  .container-flex--column-lg-wrap {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: $breakpoint-lg) {
  .container-flex--column-lg {
    flex-flow: column;
  }
  .container-flex--column-reverse-lg {
    flex-flow: column-reverse;
  }
}

@media (max-width: $breakpoint-md) {
  .container-md-button-flex {
    padding: 0 25px;
  }
  .container-flex--column-md {
    flex-flow: column;
  }
  .container-flex--column-reverse-md {
    flex-flow: column-reverse;
  }
}

@media (max-width: $breakpoint-sm) {
  .row--space-top {
    padding-top: 30px;
  }
  .section__wrap-sm--not-space-sm {
    padding: 0;
  }
  .container-flex--column-sm {
    flex-flow: column;
  }

  .container-flex--column-reverse-sm {
    flex-flow: column-reverse;
  }

  .container-page {
    padding-top: 55px !important;
  }

  .section__wrap {
    padding-top: 50px;
  }
  .flex-column-tabs--hide-sm {
    display: none;
  }
  .container-lg--dashboard-not-space-sm {
    padding: 0;
  }
  .section-dropdown-txt__wrap {
    padding-top: 30px;
  }
}

@media (max-width: $breakpoint-exs) {
  .section-bgc--silver {
    padding: 50px 0;
  }

  .row__wrap {
    width: 100%;
    padding-top: 50px;
  }

  .container-lg--dashboard--not-space-xs {
    padding: 0;
  }
}