@media (max-width: $breakpoint) {
  h1 {
    font-size: 50px;
    line-height: 64px;
  }

  h2 {
    font-size: 40px;;
    line-height: 28px;
  }

  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 25px;
  }
}

@media (max-width: $breakpoint-lg) {
  .box {
    height: auto;
  }
  .box-data__wrap {
    padding-bottom: 30px;
  }
}

@media (max-width: $breakpoint-md) {
  h1 {
    font-size: 35px;
    line-height: 44px;
  }

  h2 {
    font-size: 35px;
    line-height: 28px;
  }

  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  .title__wrap--md-center {
    text-align: center;
  }
  .sub-header-txt {
    font-size: 25px;
    line-height: 22px;
  }
  .section-box-shadow {
    margin-top: 25px;
  }
  .boxes__wrap {
    flex-flow: wrap;
  }
  .box {
    margin: 25px 15px;
  }
}