@media (max-width: $breakpoint) {

}

@media (max-width: $breakpoint-lg) {

}

@media (max-width: $breakpoint-md) {

  .hide-desktop-md {
    display: inline-block !important;
  }
  .hide-table {
    display: none !important;;
  }
}

@media (max-width: $breakpoint-sm) {

  .hide-mobile {
    display: none !important;
  }

  .hide-desktop {
    display: inline-block !important;
  }

}

@media (max-width: $breakpoint-exs) {
  .hide-xs-mobile {
    display: none !important;
  }
}