@media (max-width: $breakpoint) {
  .txt-space-left-exlg {
    padding-left: 25px;
  }

}

@media (max-width: $breakpoint-lg) {
}


@media (max-width: $breakpoint-md) {
  .title__wrap--md-center {
    text-align: center;
  }

  .txt-center-md {
    text-align: center;
  }

  .title-space-top-md {
    padding-top: 30px;
  }
}


@media (max-width: $breakpoint-sm) {

  .txt-left-sm {
    text-align: left;
  }

  .txt.txt-static {
    font-size: 18px;
  }

  .txt--indent {
    padding-top: 20px;
  }

  .txt--space-top-sm {
    padding-top: 20px;
  }

  .title__wrap {
    padding-top: 25px;
  }
}