@media (max-width: $breakpoint-lg) {
  .container-fluid.container-fluid--section {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: $breakpoint-md) {
  .container-page {
    padding-top: 55px !important;
  }
  body .page {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
