.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 337px;
  text-align: left;
  background: $white;
  color: white;
  z-index: 999;
  overflow-x: hidden;
  box-shadow: -1px 0px 12px 0px $black-light;
}


.side-navbar__logo {
  width: 70%;
  max-width: 209px;
  margin: 0 auto;
  padding-top: 50px;
}

.side-navbar__account {
  width: 100%;
  height: auto;
  padding: 85px 0 40px;
  border-bottom: 6px solid $silver;
}

.side-navbar-account__name {
  width: 74%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.status-icon__wrap {
  font-size: 24px;
  width: auto;
  height: auto;
}

.status-txt__wrap {
  width: auto;
  height: auto;
  padding-left: 23px;
}

.side-navbar-navigation__wrap {
  width: 100%;
  height: auto;
  padding-top: 36px;
}

.side-navbar-navigation-link__wrap {
  padding: 0;
  margin: 0;
  list-style: none;
}

.side-navbar-navigation-link__item {
  display: block;
  width: 100%;
  height: auto;
  padding: 14px 35px 0;
}



