<nav class="side-navbar" ng-class="{'open': show}">
  <div class="container-fluid">
    <div class="row">
      <!--logo header-->
      <div class="side-navbar__logo">
        <a ui-sref="master.home" class="header-logo__link">
          <img class="img" src="./assets/images/logo-img.png" alt="">
        </a>
      </div>
      <!--end logo header-->
      
      <!--mobile button-->
      <div class="side-navbar__mobile-button hide-desktop-md">
        <div class="mobile-button" ng-click="showMenu()" ng-class="{'toggle': show}">
          <span class="line-1"></span>
          <span class="line-2"></span>
          <span class="line-3"></span>
        </div>
      </div>
      <!--end mobile button-->
      
    </div>
    <div class="row">
      <div class="side-navbar__account">
        <div class="side-navbar-account__name">
          <div class="txt txt-medium txt-blue-dark txt-ellipsis">
            {{ user.first_name }}
            {{ user.last_name }}
          </div>
        </div>
        <div class="side-navbar-account__button">
          <a ui-sref="master_signedin.profile" ng-click="showMenu()" class="button-circle" uib-tooltip="Profile"><i class="fa fa-cog" aria-hidden="true"></i></a>
          <button uib-tooltip="Logout" ui-sref="master.logout"  class="button-circle" ng-click="showMenu()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="side-navbar__navigation">
        <div class="side-navbar-navigation__wrap">
          <div class="side-navbar-navigation__link">
            <ul class="side-navbar-navigation-link__wrap">
              <li class="side-navbar-navigation-link__item side-navbar-navigation-link__item--not-space">
                <a ui-sref-active="active-bgc-blue"  ui-sref="master_signedin.dashboard" ng-click="showMenu(); homeTransition($event)" class="navbar-link navbar-link--second">
                  <span class="link-icon-inline">
                    <ng-include class="link-icon--inner" src="'./assets/images/icon/home.svg'"></ng-include>
                  </span>
                  <span class="txt txt-black">Home</span>
                </a>
              </li>

            <ul class="side-navbar-navigation-link__wrap" ng-show="showResults">
              <li class="side-navbar-navigation-link__item">
                <a ui-sref-active="active-number-blue" ui-sref="master_signedin.results.p1" ng-click="showMenu()" class="navbar-link">
                  <span class="number-bgc">1</span>
                  <span class="side-navbar-link__txt">
                    <span class="txt-small txt-blue-dark">Your result</span>
                  </span>
                </a>
              </li>
              <li class="side-navbar-navigation-link__item">
                <a ui-sref-active="active-number-blue" ui-sref="master_signedin.results.p2" ng-click="showMenu()" class="navbar-link">
                  <span class="number-bgc">2</span>
                  <span class="side-navbar-link__txt">
                    <span class="txt-small txt-blue-dark">About Alzheimer’s disease</span>
                  </span>
                </a>
              </li>
              <li class="side-navbar-navigation-link__item">
                <a ui-sref-active="active-number-blue" ui-sref="master_signedin.results.p3" ng-click="showMenu()" class="navbar-link">
                  <span class="number-bgc">3</span>
                  <span class="side-navbar-link__txt">
                    <span class="txt-small txt-blue-dark">Lifestyle & other factor</span>
                  </span>
                </a>
              </li>
              <li class="side-navbar-navigation-link__item">
                <a ui-sref-active="active-number-blue" ui-sref="master_signedin.results.p4" ng-click="showMenu()" class="navbar-link">
                  <span class="number-bgc">4</span>
                  <span class="side-navbar-link__txt">
                    <span class="txt-small txt-blue-dark">Next steps</span>
                  </span>
                </a>
              </li>
            </ul>

              <li class="side-navbar-navigation-link__item side-navbar-navigation-link__item--not-space">
                <a ui-sref-active="active-bgc-blue" ui-sref="master_signedin.results.science" ng-click="showMenu()" class="navbar-link navbar-link--second">
                  <span class="link-icon-inline">
                    <ng-include class="link-icon--inner" src="'./assets/images/icon/dna-blue.svg'"></ng-include>
                  </span>
                  <span class="txt txt-black">Science</span>
                </a>
              </li>
              <li class="side-navbar-navigation-link__item side-navbar-navigation-link__item--not-space">
                <a ui-sref-active="active-bgc-blue" ui-sref="master_signedin.results.sharing" ng-click="showMenu()" class="navbar-link navbar-link--second">
                  <span class="link-icon-inline">
                    <ng-include class="link-icon--inner" src="'./assets/images/icon/users.svg'"></ng-include>
                  </span>
                  <span class="txt txt-black">Share results</span>
                </a>
              </li>
              <li class="side-navbar-navigation-link__item side-navbar-navigation-link__item--not-space">
                <a ui-sref-active="active-bgc-blue" ui-sref="master_signedin.results.questions" ng-click="showMenu()" class="navbar-link navbar-link--second">
                  <span class="link-icon-inline">
                    <ng-include class="link-icon--inner" src="'./assets/images/icon/question.svg'"></ng-include>
                  </span>
                  <span class="txt txt-black">General questions</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>