.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 278px;
  text-align: left;
  background: $blue;
  color: white;
  z-index: 999;
  overflow-y: auto;
}
.header-logo.header-logo--small {
  transform: scale(0.4);
  width: 36px;
  height: 39px;
}

.side-navbar-header__logo {
  padding-left: 73px;
}

.header-logo-txt {
  display: inline-block;
  font-size: 17px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
.header-about-txt {
  text-align: left;
  font-size: 12pt;
  padding-left: 11px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.side-navbar-link__item {
  list-style: none;
  padding-bottom: 26px;
}

.nav-link {
  color: $white;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 12pt;
  transition: color 0.3s ease;
  &:hover {
    color: silver;
    cursor: pointer;
  }
}

i.fa {
  padding-right: 8px;
}

.side-navbar-link__top {
  margin-top: 93px;
  padding: 0 0 0 36px;
}

.side-navbar-link__bottom {
  position: absolute;
  bottom: 7%;
}

