@media (max-width: $breakpoint-lg) {
  .science-p-head__img {
    padding-top: 30px;
  }
  .science-p-head__img--first {
    padding-bottom: 30px;
  }
}

@media (max-width: $breakpoint-sm) {
  .science-p-section-fifth .slider__wrap {
    padding: 0 0 125px;
  }
}