<update-meta property="og:title" content="ADx Healthcare - The Alzheimer’s ApoE test is a single gene test that looks at your ApoE-related genetic risk for Alzheimer’s disease."></update-meta>
<update-meta name="twitter:title" content="ADx Healthcare - The Alzheimer’s ApoE test is a single gene test that looks at your ApoE-related genetic risk for Alzheimer’s disease."></update-meta>

<div class="science-p">
  <div class="science-p-head">
    <div class="container-fluid container-fluid--section">
      <div class="container-lg">
        <div class="science-p__wrap">
          <div class="science-p-head__title txt-center anim-content-transition">
            <h3 class="txt-blue">How it works - Introduction</h3>
          </div>
          <div class="science-p-head__body anim-content-transition">
            <div class="science-p-head-body__row">
              <div class="container-flex align-items--center container-flex--column-reverse-sm">
                <div class="flex-column anim-content-transition">
                  <div class="flex-column__wrap">
                    <div class="science-p-head__img anim-content-transition img--center-sm">
                      <ng-include class="img-middle" src="'./assets/images/svg/human-brain-medical.svg'"></ng-include>
                    </div>
                  </div>
                </div>
                <div class="flex-column-2 anim-content-transition">
                  <div class="flex-column__wrap">
                    <h3 class="txt-blue-dark">What causes dementia?</h3>
                    <div class="txt__wrap">
                      <p class="txt txt-black">Dementia is the result of a malfunction of nerve cells in the brain, which in turn lose their connections with other neurons, ultimately resulting in a disconnect between parts of the brain that used to work together.  These malfunctions are the result of damage to or changes in the brain. Together your genetics, other medical conditions, and lifestyle and environmental factors influence your brain health and function, and are thus associated with your risk of developing dementia.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="science-p-head-body__row anim-content-transition">
              <div class="container-flex align-items--center container-flex--column-sm">
                <div class="flex-column-2 anim-content-transition">
                  <div class="flex-column__wrap">
                    <div class="txt--space-top-sm">
                      <h3 class="txt-blue-dark anim-content-transition">What is Alzheimer’s disease?</h3>
                    </div>
                    <div class="txt__wrap anim-content-transition">
                      <p class="txt txt-black">
                        <!--Late-onset Alzheimer’s disease is a progressive form of dementia that is characterized by tau and plaques in the brain that result in brain cell death over time. Scientists believe that for most people the development of late-onset Alzheimer’s disease is caused by a combination of age, genetic, medical, lifestyle, and environmental factors.-->
                        Alzheimer's disease comes in multiple forms: early-onset, familial,  and late-onset.  Early-onset is a rare form of Alzheimer's disease, representing about 5% of the cases. Early-onset Alzheimer's occurs in people younger than age 65.  Familial Alzheimer's is known to be linked to genetics, and is a rare form of early-onset Alzheimer's that represents less than 1% of all Alzheimer's cases.
                        <br>Late-onset Alzheimer's disease is the most common form of the disease, with symptoms appearing on or after age 65.  Genetics is a risk factor for late-onset Alzheimer's disease, but not everyone who carries the ApoE-e4 gene will develop late-onset Alzheimer's disease and some of the people with late-onset Alzheimer's do not have a copy of ApoE-e4.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="flex-column anim-content-transition">
                  <div class="flex-column__wrap">
                    <div class="science-p-head__img txt-right img--center-sm">
                      <ng-include class="img-middle" src="'./assets/images/svg/molecule.svg'"></ng-include>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid container-fluid--section">
    <div class="science-p-section-second">
      <div class="section-box-shadow">
        <div class="container-lg">
          <div class="title__wrap">
            <h3 class="txt-blue txt-center">Symptoms and diagnoses</h3>
          </div>
          <div class="txt__wrap txt-center">
            <p class="txt-large txt-black">
              Dementia is a decline in mental function severe enough to interfere with daily living.
              Scientists believe that for most people the development of late-onset Alzheimer’s disease is caused by a combination of age, genetic, medical, lifestyle, and environmental factors.
              <br>Some of the symptoms may include:
              <!--Late-onset Alzheimer’s disease is a progressive form of dementia that is characterized by tau and plaques in the brain that result in brain cell death over time. Scientists believe that for most people the development of late-onset Alzheimer’s disease is caused by a combina-->
            </p>
          </div>
          <div class="science-p__wrap">
            <div class="container-flex container-flex--column-md">
              <div class="flex-column align-vertical--center">
                <div class="flex-column__wrap">
                  <div class="science-p-section-second__img img--center-md">
                    <ng-include class="img-middle" src="'./assets/images/svg/Apoe.svg'" alt=""></ng-include>
                  </div>
                </div>
              </div>
              <div class="flex-column-2">
                <div class="flex-column__wrap">
                  <ul class="science-p-list">
                    <li class="science-p-list__items">
                      <div class="science-p-list-items science-p-list-items--circle-blue-sm">
                        <p class="txt txt-black">Memory loss</p>
                      </div>
                    </li>
                    <li class="science-p-list__items">
                      <div class="science-p-list-items science-p-list-items--circle-blue-sm">
                        <p class="txt txt-black">Behavioral changes such as agitation, delusions, and hallucinations</p>
                      </div>
                    </li>
                    <li class="science-p-list__items">
                      <div class="science-p-list-items science-p-list-items--circle-blue-sm">
                        <p class="txt txt-black">Loss of interest in previously enjoyed activities</p>
                      </div>
                    </li>
                    <li class="science-p-list__items">
                      <div class="science-p-list-items science-p-list-items--circle-blue-sm">
                        <p class="txt txt-black">Difficulty with problem solving</p>
                      </div>
                    </li>
                    <li class="science-p-list__items">
                      <div class="science-p-list-items science-p-list-items--circle-blue-sm">
                        <p class="txt txt-black">Difficulty performing tasks that were previously easy</p>
                      </div>
                    </li>
                    <li class="science-p-list__items">
                      <div class="science-p-list-items science-p-list-items--circle-blue-sm">
                        <p class="txt txt-black">Personality changes</p>
                      </div>
                    </li>
                    <li class="science-p-list__items">
                      <div class="science-p-list-items science-p-list-items--circle-blue-sm">
                        <p class="txt txt-black">Loss of social skills and tendency to withdraw or isolate self</p>
                      </div>
                    </li>
                    <li class="science-p-list__items">
                      <div class="science-p-list-items science-p-list-items--circle-blue-sm">
                        <p class="txt txt-black">Language problems including forgetting names of familiar objects</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="science-p__wrap-bottom">
            <div class="title__wrap txt-center">
              <p class="txt-large txt-black txt-bold">SOURCE: www.medhelp.org/senior-care/articles/Dementia-vs-Alzheimers-Whats-theDifference/161</p>
            </div>
            <div class="txt__wrap txt-center">
              <p class="txt-large txt-black">Unfortunately, there is not a single universally accepted standard of care for diagnosing or treating Alzheimer’s disease in the US. This leaves many people seeking answers alone.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="science-p-section-third">
      <div class="section-box-silver">
        <div class="container-lg">
          <div class="science-p-section-third__wrap">
            <div class="container-flex container-flex--column-sm">
              <div class="flex-column-2">
                <div class="flex-column__wrap">
                  <div class="science-p-section-third__title">
                    <h3 class="txt-blue">Why learn if you are at risk for
                      Alzheimer’s disease?</h3>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black">
                      Research indicates that lifestyle behaviors across your life span may contribute to the development of late-onset Alzheimer’s disease. Also, changes occur in the brain up to two decades before the first symptoms develop. Because late-onset Alzheimer's disease is believed to be caused by a combination of environmental, genetic, medical, and lifestyle factors, learning your genetic risk can help you determine how aggressively you need to make lifestyle changes to reduce your risk. The earlier in your life that you commit to living a cognitively healthy lifestyle, the more you can reduce your risk for or delay the development of late-onset Alzheimer's disease.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex-column align-vertical--center">
                <div class="flex-column__wrap">
                  <div class="science-p-head__img txt-right img--center-sm">
                    <ng-include class="img-middle" src="'./assets/images/svg/medical-table-with-pen.svg'"></ng-include>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="science-p-section-fourth">
      <div class="section-box-shadow">
        <div class="container-lg">
          <div class="science-p-section-fourth__wrap">
            <div class="title__wrap txt-center science-p-section-fourth__title">
              <h3 class="txt-blue">Why haven’t I heard that I can reduce my risk for Alzheimer’s disease?</h3>
            </div>
            <div class="txt__wrap">
              <ul class="science-p-list">
                <li class="science-p-list__items">
                  <div class="science-p-list-items science-p-list-items--circle-blue-md">
                    <p class="txt txt-medium txt-black">Emerging research can take a while to be accepted by mainstream
                      healthcare providers.
                    </p>
                  </div>
                </li>
                <li class="science-p-list__items">
                  <div class="science-p-list-items science-p-list-items--circle-blue-md">
                    <p class="txt txt-medium txt-black">
                      You may have seen headlines on news shows or on the internet highlighting some of the scientific breakthroughs on modifiable risk factors for Alzheimer’s disease, but may have not heard about them elsewhere yet.
                    </p>
                  </div>
                </li>
                <li class="science-p-list__items">
                  <div class="science-p-list-items science-p-list-items--circle-blue-md">
                    <p class="txt txt-medium txt-black">
                      Also, because genetic testing for Alzheimer’s disease is still not covered by insurance, many medical practices are not equipped to handle these evaluation paths yet.
                    </p>
                  </div>
                </li>
                <li class="science-p-list__items">
                  <div class="science-p-list-items science-p-list-items--circle-blue-md">
                    <p class="txt txt-medium txt-black">
                      There is not a single universally accepted standard of care for diagnosing or treating Alzheimer’s disease in the US.
                      This leaves many patients seeking answers alone.
                    </p>
                  </div>
                </li>
                <li class="science-p-list__items">
                  <div class="science-p-list-items science-p-list-items--circle-blue-md">
                    <p class="txt txt-medium txt-black">
                      You aren’t limited by what your doctor’s office offers or what your insurance will cover.  Genetic testing is now available through private pay. What sets ADx Healthcare apart is a physician will review your medical history to help you determine if the Alzheimer’s disease genetic test is a good fit for you, and genetics counselors are available to help you understand your results… all at no additional cost to you.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="science-p-section-fifth">
      <div class="section-box-silver">
        <div class="section-box-head section-box-head--blue">
          <div class="section-box-head__wrap">
            <div class="container-flex align-items--center">
              <div class="flex-column-2">
                <div class="txt-left">
                  <h3>How it works?</h3>
                </div>
              </div>
              <div class="flex-column hide-mobile">
                <div class="txt-right">
                  <h4 class="txt-blue-dark">Part {{slideIndex}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-lg hide-mobile">
          <div uib-carousel class="carousel--arrow-silver" active="active"  no-wrap="false">
            <div uib-slide index="0">
              <div class="slider__wrap">
                <div class="container-flex align-items--center container-flex--column-sm">
                  <div class="flex-column txt-left">
                    <div class="flex-column__wrap">
                      <div class="img__wrap img--center-sm">
                        <ng-include class="img img-middle" src="'./assets/images/svg/key-blue-dark.svg'"></ng-include>
                      </div>
                    </div>
                  </div>
                  <div class="flex-column-2">
                    <div class="flex-column__wrap">
                      <div class="container-exs">
                        <div class="txt-left txt-center-md txt--space-top-sm">
                          <h3 class="txt-blue-3" >Security and Privacy Your DNA is just for you</h3>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black txt-left">
                            Alzheimer's ApoE Genetic Test report will be delivered to you via a secure, electronic report. Your results will be kept confidential and we will not share your results with anyone but you. You will receive an electronic and printable copy of your results which you can share with anybody you choose such as your healthcare provider or family and friends. Our genetic counselors are available to go through your results with you too, if you choose.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="container-flex align-items--center container-flex--column-reverse-sm">
                    <div class="flex-column-2">
                      <div class="flex-column__wrap">
                        <div class="container-exs">
                          <div class="txt-right txt-center-md title-space-top-md">
                            <h3 class="txt-blue-3">Your privacy is our priority</h3>
                          </div>
                          <div class="txt__wrap txt-right txt-left-sm">
                            <p class="txt txt-black">
                              We will never share your name or data and you will never be included in any Alzheimer’s research without your prior written consent. Your health information is fully encrypted and secure. Regular security scans are performed to make sure your data remains safe.

                            </p>
                            <div class="txt--indent-small">
                              <p class="txt txt-black">
                                Your health information is fully encrypted and secure. Regular security scans are performed to make sure your data remains safe.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex-column txt-right">
                      <div class="flex-column__wrap">
                        <div class="img__wrap img--center-sm">
                          <ng-include class="img-middle" src="'./assets/images/svg/protection-blue-dark.svg'"></ng-include>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div uib-slide index="1">
              <div class="slider__wrap">
                <div class="container-flex container-flex--column-sm">
                  <div class="flex-column">
                    <div class="flex-column__wrap">
                      <div class="img__wrap txt-center">
                        <ng-include class="img-middle--md" src="'./assets/images/svg/test-tube.svg'"></ng-include>
                      </div>
                      <div class="title__wrap">
                        <h3 class="txt-blue-dark">Easy to use</h3>
                      </div>
                      <div class="txt__wrap txt-center">
                        <p class="txt txt-black">
                          As simple as click, spit, and ship on your side.  The heavy lifting is our responsibility.  From physician review, to sample analysis, to data reporting, and genetic counselor interpretation, we
                          have you supported each step of the way.
                          *I like this graphic from the Helix site to demonstrate the process. Can we use something like this to help demonstrate our process?
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="flex-column anim-content-transition">
                    <div class="flex-column__wrap">
                      <div class="flex-column__wrap">
                        <div class="img__wrap txt-center">
                          <ng-include class="img-middle--md" src="'./assets/images/svg/first-aid-kit.svg'"></ng-include>
                        </div>
                        <div class="title__wrap">
                          <h3 class="txt-blue-dark">Data-Driven</h3>
                        </div>
                        <div class="txt__wrap txt-center">
                          <p class="txt txt-black">
                            Doctor ordered: At ADx Healthcare, we believe you should be in control of what health information you want to learn and whom you share it with. We also believe it is best to have a physician still be a part of the path, to ensure you understand what the results will and will not tell you, so they can help you decide if the test is a good fit for you. We offer comprehensive, physician-supervised genetic testing from the privacy of your own home.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__wrap-sm">
                  <div class="container-flex container-flex--column-sm">
                    <div class="flex-column">
                      <div class="flex-column__wrap">
                        <div class="img__wrap txt-center">
                          <ng-include class="img-middle--md" src="'./assets/images/svg/email-checked.svg'"></ng-include>
                        </div>
                        <div class="title__wrap">
                          <h3 class="txt-blue-dark">Access Online </h3>
                        </div>
                        <div class="txt__wrap txt-center">
                          <p class="txt txt-black">
                            Once your results are ready, you will receive an e-mail from ADx Healthcare.  When you are ready, simply log-in to your account to access your private results.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="flex-column">
                      <div class="flex-column__wrap">
                        <div class="img__wrap txt-center">
                          <ng-include class="img-middle--md" src="'./assets/images/svg/molecule-2-green.svg'"></ng-include>
                        </div>
                        <div class="title__wrap">
                          <h3 class="txt-blue-dark">Sharable insignts</h3>
                        </div>
                        <div class="txt__wrap txt-center">
                          <p class="txt txt-black">
                            Share your results with your physician, and your family members. In your secure results section, you can also access a PDF version of your Alzheimer’s disease ApoE genetic test results.  You can download and print this document to share with your healthcare provider.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div uib-slide index="2">
              <div class="slider__wrap">
                <div class="container-flex container-flex--column-sm">
                  <div class="flex-column">
                    <div class="flex-column__wrap">
                      <div class="img__wrap">
                        <ng-include class="img-middle" src="'./assets/images/svg/molecules-3.svg'"></ng-include>
                      </div>
                    </div>
                  </div>
                  <div class="flex-column-2">
                    <div class="flex-column__wrap">
                      <div class="title__wrap txt-left">
                        <h3 class="txt-blue">
                          The latest science (results you can trust)
                        </h3>
                      </div>
                      <div class="txt__wrap txt-left">
                        <p class="txt txt-black">How your DNA becomes a report
                          Once Helix laboratories have analyzed your saliva sample and sequenced your DNA, they identify your SNP’s specific to the ApoE test (rs429358 and rs7412). This information is then transferred to ADx Healthcare and interpreted to develop your personalized Alzheimer’s ApoE Genetic Test report.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-flex container-flex--column-sm">
                  <div class="flex-column align-vertical--center">
                    <div class="flex-column__wrap">
                      <div class="img__wrap">
                        <ng-include class="img-middle dna-molecule--bgc-silver" src="'./assets/images/svg/dna-molecule.svg'"></ng-include>
                      </div>
                    </div>
                  </div>
                  <div class="flex-column-2">
                    <div class="flex-column__wrap">
                      <div class="title__wrap txt-left">
                        <h3 class="txt-blue">
                          More about the test
                        </h3>
                      </div>
                      <div class="txt__wrap txt-left">
                        <p class="txt txt-black">HThe Alzheimer’s ApoE test is a single gene test that looks at your genetic risk for Alzheimer’s disease. Genome-Wide Association Studies (GWAS) indicate that the e4 allele of ApoE is the strongest single genetic risk factor for Alzheimer’s disease.1,2 Apolipoprotein E (ApoE) is a protein that is involved in the metabolism of fats in your body and injury repair in your brain.3 ApoE is associated with both cardiovascular disease and Alzheimer’s disease risk.4 Researchers have identified that ApoE plays a role in Aβ (amyloid-beta) aggregation and clearance in the brain, synaptic plasticity, neuroinflammation, glucose metabolism, neuronal signaling, and mitochondrial function.4 ApoE also mediates cholesterol metabolism, with the ApoE-e4 allele associated with both hyperlipidaemia and hypercholesterolaemia, which can lead to atherosclerosis, coronary heart disease and stroke.5,6
                        </p>
                        <div class="txt--indent-small">
                          <p class="txt txt-black">
                            Alzheimer's disease is influenced by genetics, environment, lifestyle, and other medical factors.7-24 Thus, having the high risk copy of this gene (ApoE-e4) does not guarantee that you will develop Alzheimer's disease and not possessing a copy of the highest risk allele (APOE e4) does not mean you won't ever develop Alzheimer's disease. You cannot change your genetics and your risk for Alzheimer’s disease increases as you age, but there is hope in the fight against Alzheimer’s.  Learning your genetic risk for Alzheimer’s disease before symptoms of memory loss begin helps inform you how aggressively you want to address your modifiable lifestyle factors to optimize your cognitive health.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container-lg hide-desktop">
          <div class="slider__wrap">
            <div class="container-flex align-items--center container-flex--column-sm">
              <div class="flex-column txt-left">
                <div class="flex-column__wrap">
                  <div class="img__wrap img--center-sm">
                    <ng-include class="img img-middle" src="'./assets/images/svg/key-blue-dark.svg'"></ng-include>
                  </div>
                </div>
              </div>
              <div class="flex-column-2">
                <div class="flex-column__wrap">
                  <div class="container-exs">
                    <div class="txt-left txt-center-md txt--space-top-sm">
                      <h3 class="txt-blue-3" >Security and privacy
                        Your DNA is just for you</h3>
                    </div>
                    <div class="txt__wrap txt-center-sm">
                      <p class="txt txt-black txt-left">
                        Your Alzheimer’s genetic information will be delivered to you via a secure, electronic report.  These results will also be available for download. It is up to you whom you share your results with, including your healthcare provider or family.  Our genetics counselors are available to go through your results with you too, if you choose. You are in control of how you receive your genetic results and whom you share them with.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="container-flex align-items--center container-flex--column-reverse-sm">
                <div class="flex-column-2">
                  <div class="flex-column__wrap">
                    <div class="container-exs">
                      <div class="txt-right txt-center-md title-space-top-md">
                        <h3 class="txt-blue-3">Your privacy is our priority</h3>
                      </div>
                      <div class="txt__wrap txt-right txt-left-sm txt-center-sm">
                        <p class="txt txt-black">
                          We will never share your name or data and you will never be included in any Alzheimer’s research without your
                          prior written consen
                        </p>
                        <div class="txt--indent-small">
                          <p class="txt txt-black">
                            From when you input your order to when your results are delivered, your health information is fully encrypted and secure. Regular security scans are performed to make
                            sure your data remains safe.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-column txt-right">
                  <div class="flex-column__wrap">
                    <div class="img__wrap img--center-sm">
                      <ng-include class="img-middle" src="'./assets/images/svg/protection-blue-dark.svg'"></ng-include>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!--slide second-->
            <div class="container-flex container-flex--column-sm">
              <div class="flex-column">
                <div class="flex-column__wrap">
                  <div class="img__wrap txt-center">
                    <ng-include class="img-middle--md img-middle--large-sm" src="'./assets/images/svg/test-tube.svg'"></ng-include>
                  </div>
                  <div class="title__wrap txt-center-sm">
                    <h3 class="txt-blue-dark">Easy to use</h3>
                  </div>
                  <div class="txt__wrap txt-center">
                    <p class="txt txt-black">
                      As simple as click, spit, and ship on your side.  The heavy lifting is our responsibility.  From physician review, to sample analysis, to data reporting, and genetic counselor interpretation, we
                      have you supported each step of the way.
                      *I like this graphic from the Helix site to demonstrate the process. Can we use something like this to help demonstrate our process?
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex-column anim-content-transition">
                <div class="flex-column__wrap">
                  <div class="flex-column__wrap">
                    <div class="img__wrap txt-center">
                      <ng-include class="img-middle--md img-middle--large-sm" src="'./assets/images/svg/first-aid-kit.svg'"></ng-include>
                    </div>
                    <div class="title__wrap txt-center-sm">
                      <h3 class="txt-blue-dark">Data-Driven</h3>
                    </div>
                    <div class="txt__wrap txt-center">
                      <p class="txt txt-black">
                        Doctor ordered: At ADx Healthcare, we believe you should be in control of what health information you want to learn and whom you share it with. We also believe it is best to have a physician still be a part of the path, to ensure you understand what the results will and will not tell you, so they can help you decide if the test is a good fit for you. We offer comprehensive, physician-supervised genetic testing from the privacy of your own home.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section__wrap-sm">
              <div class="container-flex container-flex--column-sm">
                <div class="flex-column">
                  <div class="flex-column__wrap">
                    <div class="img__wrap txt-center">
                      <ng-include class="img-middle--md img-middle--large-sm" src="'./assets/images/svg/email-checked.svg'"></ng-include>
                    </div>
                    <div class="title__wrap txt-center-sm">
                      <h3 class="txt-blue-dark">Access Online </h3>
                    </div>
                    <div class="txt__wrap txt-center">
                      <p class="txt txt-black">
                        Once your results are ready, you will receive an e-mail from ADx Healthcare.  When you are ready, simply log-in to your account to access your private results.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="flex-column">
                  <div class="flex-column__wrap">
                    <div class="img__wrap txt-center">
                      <ng-include class="img-middle--md img-middle--large-sm" src="'./assets/images/svg/molecule-2-green.svg'"></ng-include>
                    </div>
                    <div class="title__wrap txt-center-sm">
                      <h3 class="txt-blue-dark">Sharable insignts</h3>
                    </div>
                    <div class="txt__wrap txt-center">
                      <p class="txt txt-black">
                        Share your results with your physician, and your family members. In your secure results section, you can also access a PDF version of your Alzheimer’s disease ApoE genetic test results.  You can download and print this document to share with your healthcare provider.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!--slide third-->
            <div class="container-flex container-flex--column-sm">
              <div class="flex-column">
                <div class="flex-column__wrap">
                  <div class="img__wrap img--center-sm">
                    <ng-include class="img-middle" src="'./assets/images/svg/molecules-3.svg'"></ng-include>
                  </div>
                </div>
              </div>
              <div class="flex-column-2">
                <div class="flex-column__wrap">
                  <div class="title__wrap txt-left txt-center-sm">
                    <h3 class="txt-blue">
                      The latest science (results you can trust)
                    </h3>
                  </div>
                  <div class="txt__wrap txt-left txt-center-sm">
                    <p class="txt txt-black">How your DNA becomes a report
                      Once Helix laboratories have analyzed your saliva sample and sequenced your DNA, they identify your SNP’s specific to the ApoE test (rs429358 and rs7412). This information is then transferred to ADx Healthcare and interpreted to develop your personalized Alzheimer’s ApoE Genetic Test report.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-flex container-flex--column-sm">
              <div class="flex-column align-vertical--center">
                <div class="flex-column__wrap">
                  <div class="img__wrap img--center-sm">
                    <ng-include class="img-middle dna-molecule--bgc-silver" src="'./assets/images/svg/dna-molecule.svg'"></ng-include>
                  </div>
                </div>
              </div>
              <div class="flex-column-2">
                <div class="flex-column__wrap">
                  <div class="title__wrap txt-left txt-center-sm">
                    <h3 class="txt-blue">
                      More about the test
                    </h3>
                  </div>
                  <div class="txt__wrap txt-left txt-center-sm">
                    <p class="txt txt-black">HThe Alzheimer’s ApoE test is a single gene test that looks at your genetic risk for Alzheimer’s disease. Genome-Wide Association Studies (GWAS) indicate that the e4 allele of ApoE is the strongest single genetic risk factor for Alzheimer’s disease.1,2 Apolipoprotein E (ApoE) is a protein that is involved in the metabolism of fats in your body and injury repair in your brain.3 ApoE is associated with both cardiovascular disease and Alzheimer’s disease risk.4 Researchers have identified that ApoE plays a role in Aβ (amyloid-beta) aggregation and clearance in the brain, synaptic plasticity, neuroinflammation, glucose metabolism, neuronal signaling, and mitochondrial function.4 ApoE also mediates cholesterol metabolism, with the ApoE-e4 allele associated with both hyperlipidaemia and hypercholesterolaemia, which can lead to atherosclerosis, coronary heart disease and stroke.5,6
                    </p>
                    <div class="txt--indent-small">
                      <p class="txt txt-black">
                        Alzheimer's disease is influenced by genetics, environment, lifestyle, and other medical factors.7-24 Thus, having the high risk copy of this gene (ApoE-e4) does not guarantee that you will develop Alzheimer's disease and not possessing a copy of the highest risk allele (APOE e4) does not mean you won't ever develop Alzheimer's disease. You cannot change your genetics and your risk for Alzheimer’s disease increases as you age, but there is hope in the fight against Alzheimer’s.  Learning your genetic risk for Alzheimer’s disease before symptoms of memory loss begin helps inform you how aggressively you want to address your modifiable lifestyle factors to optimize your cognitive health.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        </div>
      </div>
    </div>
    
  </div>
  
  
  
</div>