<header class="header">
  <div class="container-fluid container-fluid--section">
    <div class="row">
      <div class="header__wrap">
        <!--logo-->
        <div class="header__logo">
          <a ui-sref="master.home" class="header-logo__link header-logo__link--space-left">
            <div class="img-logo" ng-include="'assets/images/adx-healthCare-logo.svg'"></div>
          </a>
        </div>
        <!--navigation-->
        <div class="header-nav">
          <div class="header-nav__mobile-menu hide-desktop">
            <div class="mobile-button" ng-click="showMenu()" ng-class="{'toggle': show}">
              <span class="line-1"></span>
              <span class="line-2"></span>
              <span class="line-3"></span>
            </div>
            <div class="mobile-menu" ng-class="{'mobile-menu-show-anim': show}">
              
              <!--mobile menu-->
              <div class="mobile-menu__wrap" ng-class="{'mobile-menu-show': show}">
                <nav class="header-nav__wrap">
                  <ul class="header-nav-wrap__inner">
                    <li class="header-nav-item">
                      <a ui-sref-active="active-mobile" ui-sref="master.products.about" ng-click="showMenu()" class="header-nav-link">Products</a>
                    </li>
                    <li class="header-nav-item">
                      <a ui-sref-active="active-mobile" ui-sref="master.about" ng-click="showMenu()" class="header-nav-link">About</a>
                    </li>
                    <li class="header-nav-item">
                      <a ui-sref-active="active-mobile" ui-sref="master.science" ng-click="showMenu()" class="header-nav-link">Science</a>
                    </li>
                    <li class="header-nav-item">
                      <a ui-sref-active="active-mobile" ui-sref="master.FAQ" ng-click="showMenu()" class="header-nav-link">FAQ</a>
                    </li>
                    <li ng-show="!logged"  class="header-nav-item">
                      <a ui-sref-active="active-mobile" ui-sref="master.login" ng-click="showMenu()" class="header-nav-link">Sign-in</a>
                    </li>
                    <li class="header-nav-item">
                      <a ng-show="logged" ui-sref="master_signedin.results({'page':''})" ng-click="showMenu()" class="header-nav-link">My Results</a>
                      <a ng-show="!logged" ui-sref="master.register" ng-click="showMenu()" class="header-nav-link">Register</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!--end mobile menu-->
              
            </div>
          </div>
          <!--desktop menu-->
          <nav class="header-nav__wrap hide-mobile">
            <ul class="header-nav-wrap__inner">
              <li class="header-nav-item">
                <a ui-sref-active="active" ui-sref="master.products.about" class="header-nav-link txt-small txt-bold">Products</a>
              </li>
              <li class="header-nav-item">
                <a ui-sref-active="active" ui-sref="master.about" class="header-nav-link txt-small txt-bold">About</a>
              </li>
              <li class="header-nav-item">
                <a ui-sref-active="active" ui-sref="master.science" class="header-nav-link txt-small txt-bold">Science</a>
              </li>
              <li class="header-nav-item">
                <a ui-sref-active="active" ui-sref="master.FAQ" class="header-nav-link txt-small txt-bold">FAQ</a>
              </li>
              <li class="header-nav-item">
                <a ng-show="!logged" ui-sref-active="active" ui-sref="master.login" class="header-nav-link txt-small txt-bold">Sign-in</a>
              </li>
            </ul>
          </nav>
          <div class="header__button">
            <div class="button__login hide-mobile">
                  <a ng-class="{'ng-hide': !logged}" ui-sref="master_signedin.results({'page':''})" class="bt-round bt-round--sm bt-round--header bt-round--blue">My Results</a>
                  <a ng-class="{'ng-hide': logged}" ui-sref="master.register" class="bt-round bt-round--header bt-round--blue hide-mobile">Register</a>
            </div>
            <div class="button__purchase">
              <a ng-class="{'ng-hide': logged}" ng-href="{{ globals.order_url_with_kit }}" target="_blank" class="bt-round bt-round--sm bt-round--header bt-round--blue-dark">Order</a>
              <a ng-class="{'ng-hide': !logged}" ui-sref="master.logout" class="bt-round bt-round--header bt-round--blue-dark hide-mobile">Logout</a>
            </div>
          </div>
          
          <!--end desktop menu-->
          
        </div>
      </div>
    </div>
  </div>
</header>