@media (max-width: $breakpoint) {
  .header-nav-link {
    font-size: 12pt;
  }
  .header {
    height: 100px;
  }
  .header__wrap {
    padding-top: 12px;
  }
}

@media (max-width: $breakpoint-lg) {
  .header__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: $breakpoint-md) {
  .header {
    height: 77px;
  }
}