.header {
  position: fixed;
  width: 100%;
  min-height: 60px;
  height: 100px;
  background-color: $silver;
  z-index: 1000;
  box-shadow: 0 0 14px -1px $black-light;
}

.header__wrap {
  width: 100%;
  height: auto;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}


.header__logo {
  position: relative;
  width: 236px;
  height: 62px;
  cursor: pointer;
  margin: 6px 0px;
}

.header-nav__wrap {
  padding-right: 17px;
}

.header-nav-item {
  list-style: none;
  width: auto;
  height: auto;
  display: inline-block;
  padding-left: 14px;
}

.header-nav-link {
  color: $blue-dark;
  font-family: 'CircularStd-Medium', sans-serif;
  font-size: 16.5pt;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: $blue-6;
  }
}

.header-nav-wrap__inner {
  padding-top: 10px;
}

.header-nav {
  display: flex;
  align-self: flex-end;
  width: auto;
  height: auto;
}

.header__button {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.button__login {
  padding-right: 17px;
}

//mobile menu
.mobile-button {
  display: inline-block;
  background-color: $silver;
  box-shadow: 0px 2px 10px -2px $blue-dark;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  z-index: 100;
  position: relative;
}

.mobile-button__inner {
  display: inherit;
  width: 82%;
  height: 3px;
  background-color: $blue-6;
  border-radius: 5px;
  position: relative;
  left: 9%;
  top: -2px;
  transition: all .3s ease-out;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: $blue-6;
  }
  &:before {
    top: 10px;
  }
  &:after {
    top: 20px;
    transition: all .3s ease-out;
  }
}

.mobile-button--close {
  transform: rotate(45deg);
  top: 8px;
  &:before {
    opacity: 0;
  }
  &:after {
    top: 0;
    transform: rotate(-90deg);
    transform-origin: center;
  }
}

.header-nav__mobile-menu {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-menu {
  position: absolute;
  width: 101vw;
  height: 0;
  background: linear-gradient(to bottom, $silver 46%, transparent 98%);
  right: -16px;
  top: 49px;
  padding: 0;
  transition: all .5s ease-in;
  z-index: 99;
}

.mobile-menu-show-anim-add-remove {
  height: 0;
  padding: 0;
}
.mobile-menu-show-anim {
  height: auto;
  padding: 0 0 220px;
  border-radius: 0;
}

.mobile-menu__wrap {
  display: none;
}

.mobile-menu__wrap.mobile-menu-show {
  display: block
}