.header {
  position: relative;
  min-height: 60px;
  background-color: $silver;
  z-index: 1000;
  box-shadow: 0 0 14px -1px $black-light;
}

.header__wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}


.header__logo {
  position: relative;
  width: auto;
  height: fit-content;
  cursor: pointer;
  &:hover {
    .logo-affirmativ-cross {
      animation: anim-affirmativ-cross 2s 1 forwards cubic-bezier(0, 0.63, 0.17, 1.16);
    }
  }
}

.header-nav-item {
  list-style: none;
  width: auto;
  height: auto;
  display: inline-block;
  padding-left: 14px;
}

.header-nav-link {
  color: $black-light;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: $blue-5;
  }
}

.header-nav-wrap__inner {
  padding-top: 10px;
}

.header-nav {
  display: flex;
  width: auto;
  height: auto;
}

.header__button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 25px;
}

.button__register {
  padding-right: 15px;
}