@media (max-width: $breakpoint) {
  .header-nav-link {
    font-size: 12pt;
  }
  .header {
    height: 100px;
  }
  .header__wrap {
    padding-top: 12px;
  }
}

@media (max-width: $breakpoint-lg) {
  .header__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: $breakpoint-md) {
  .header {
    height: 77px;
  }
  .header-nav-wrap__inner {
    padding-right: 0;
    padding-left: 0;
  }
  .header-nav {
    align-self: center;
    padding-top: 10px
  }
  .header__logo {
    width: 19%;
    height: auto;
  }
  .header-nav__wrap {
    padding-right: 0;
  }
  .header__button {
    padding-left: 10px;
  }
}

@media (max-width: $breakpoint-sm) {
  .header {
    height: 55px;
    min-height: 50px;
  }
  .header__wrap {
    padding-top: 2px;
  }
  .header__logo {
    width: 136px;
  }
  .header-nav {
    padding-top: 3px;
    align-self: start;
  }
  .header__button {
    justify-content: end;
    padding-left: 22px;
  }
  .header-nav-wrap__inner {
    display: flex;
    flex-flow: column;
    padding-left: 21px;
  }
  .header-nav-item {
    padding-top: 9px;
  }
}