@media (max-width: $breakpoint) {
  .header-nav-link {
    font-size: 12pt;
  }
  .header {
    height: 80px;
  }
  .header__wrap {
    padding-top: 12px;
  }
}

@media (max-width: $breakpoint-lg) {
  .header__wrap {
    padding-left: 15px;
    padding-right: 35px;
  }
  .header-nav__wrap {
    padding-right: 10px;
  }
}

@media (max-width: $breakpoint-md) {
  .header {
    height: 77px;
  }
  .header-nav-wrap__inner {
    padding-right: 0;
    padding-left: 0;
  }
  .header-nav {
    align-self: baseline;
    padding-top: 10px
  }
  .header__logo {
    width: 16%;
    height: auto;
    margin: 8px 0px;
  }
  .header-nav__wrap {
    padding-right: 0;
  }
  .header__button {
    padding-left: 10px;
  }
  .button__login {
    padding-right: 9px;
  }
}

@media (max-width: $breakpoint-sm) {
  .header {
    height: 55px;
    min-height: 50px;
  }
  .header__wrap {
    padding-top: 2px;
  }
  .header__logo {
    width: 100%;
  }
  .header-nav {
    padding-top: 3px;
    align-self: flex-start;
  }
  .header__button {
    justify-content: center;
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 9px;
  }
  .header-nav-wrap__inner {
    display: flex;
    flex-flow: column;
    padding: 0;
    text-align: center;
  }
  .button__purchase {
    padding-right: 9px;
  }
  .header-nav-item {
    border-bottom: 1px solid $silver;
    padding: 5px 0;
    background-color: $silver;
    color: white;
  }
  .header-nav-link {
    color: $silver;
  }
  .header-nav-item {
    padding-top: 9px;
  }
  .header__wrap {
    flex-flow: row-reverse;
  }
}