.header {
  position: relative;
  min-height: 60px;
  height: 100px;
  background-color: $silver;
  z-index: 1000;
  box-shadow: 0 0 14px -1px $black-light;
}

.header__wrap {
  width: 100%;
  height: auto;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}


.header__logo {
  position: relative;
  width: 236px;
  height: 62px;
  cursor: pointer;
  margin: 6px 0px;
}

.header-nav__wrap {
  padding-right: 17px;
}

.header-nav-item {
  list-style: none;
  width: auto;
  height: auto;
  display: inline-block;
  padding-left: 14px;
}

.header-nav-link {
  color: $blue-dark;
  font-family: 'CircularStd-Medium', sans-serif;
  font-size: 16.5pt;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: $blue-6;
  }
}

.header-nav-wrap__inner {
  padding-top: 10px;
}

.header-nav {
  display: flex;
  align-self: flex-end;
  width: auto;
  height: auto;
}

.header__button {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.button__login {
  padding-right: 17px;
}