.fp-p {
  height: calc(100vh - 80px);
  width: 100%;
  padding-bottom: 55px;
}

.fp-p__wrap {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  &.success {
    padding-bottom: 72px;
  }
}

.fp-p-form {
  max-width: 449px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.panel.panel--fp {
  padding: 50px 50px 80px;
}


@media (max-height: 604px) {
  .page .fp-p {
    height: 100%;
  }
}