.fp-p__wrap {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
}

.fp-p-form {
  max-width: 449px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.fp-p-form-wrapper {
  padding: 0 15px;
}

.panel.panel--fp {
  padding: 50px 50px 80px;
}