<section class="fp-p">
  <div class="container-fluid container-fluid--section">
    <div class="fp-p__wrap">
      <div class="fp-p-form">
        <div class="fp-p-form__wrap">
          <h6 class="txt-medium txt-blue-dark txt-center">Reset your password</h6>
          <div class="panel panel--fp" ng-controller="ForgotPasswordCtrl">
            <div ng-show="!success">
              <form name="form" novalidate ng-submit="forgotSubmit(userForm)">
                <p class="about-title-txt txt-black-light">Enter the email address used to create your account</p>
                <div class="form-group">
                  <label class="form-label">Email</label>
                  <input type="text" name="email" id="email"  class="form-control"  ng-model="forgotForm.email" required>
                  <div class="error" ng-show="form.email.$invalid && form.email.$dirty">
                    <span ng-show="form.email.$error.email">Please enter a valid email address</span>
                    <span ng-show="form.email.$error.required">Please enter a value</span>
                  </div>
                </div>
                <div class="fp-form-button">
                  <div class="fp-form-button__wrap">
                    <button class="bt-round bt-round--large bt-round--blue-dark" type="submit" ng-disabled="form.$invalid">Reset Password</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.password">{{::error}}</div>
            <div class="alert alert-danger" ng-if="error">{{::error.detail}}</div>
            <div class="alert alert-success" ng-if="success">Great! Please check your email and click on the link to continue</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>