.fp-section {
  height: 100vh;
  width: 100%;
  background-color: $white;
}

.fp-head {
  width: 100%;
  height: auto;
  position: relative;
}

.head-fp__background {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 167px;
}

.fp-form-button {
  display: flex;
  justify-content: flex-end;
}

.panel--fp {
  margin-top: 18%;
}