<section class="fp-p login-bgc">
  <div class="container-fluid container-fluid--section" ng-controller="ForgotPasswordCtrl">
    <div class="fp-p__wrap" ng-class="{'success': success}">
      <div class="fp-p-form">
        <div class="fp-p-form__wrap">
          <div class="panel panel--fp">
            <div ng-show="!success">
              <form name="form" novalidate ng-submit="forgotSubmit(userForm)">
               <div class="txt-center">
                 <h6 class="txt-medium txt-blue-dark">Reset your password</h6>
               </div>
                <div class="txt__wrap txt-center">
                  <p class="about-title-txt txt-black-light">Enter the email address used to create your account</p>
                </div>
                <div class="form-group">
                  <label class="form-label">Email</label>
                  <input type="text" name="email" id="email"  class="form-control"  ng-model="forgotForm.email" required>
                  <div class="error" ng-show="form.email.$invalid && form.email.$dirty">
                    <span ng-show="form.email.$error.email">Please enter a valid email address</span>
                    <span ng-show="form.email.$error.required">Please enter a value</span>
                  </div>
                </div>
                <div class="fp-form-button">
                  <div class="button__wrap button--center">
                    <button class="bt-round bt-round--blue-dark" type="submit" ng-disabled="form.$invalid">Reset Password</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.password">{{::error}}</div>
            <div class="alert alert-danger" ng-if="error">{{::error.detail}}</div>
            <div class="form-success" ng-if="success">
              <div class="txt-center">
                <h6 class="txt-medium txt-blue-dark">Password reset email sent!</h6>
              </div>
              <div class="txt__wrap txt-center">
                <p class="about-title-txt txt-black-light">If your email address matches our records, we will send an email with instructions to reset your account password</p>
              </div>
              <div class="fp-form-button">
                <div class="button__wrap button--center">
                  <a ui-sref="master.login" class="bt-round bt-round--blue-dark" type="submit">Back to sign-in page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>