@media (max-width: $breakpoint) {
  .home-head {
    padding: 61px 0 0;
  }

  .head-title__wrap {
    max-width: 64%;
  }

  .home-head__wrap {
    padding: 87px 0 0;
  }
  .home-head-image__wrap {
    left: calc(6% - 38px);
    top: 139px;
  }

  .home-head-bottom__button {
    padding-top: 7px;
    padding-left: 10px;
  }
}

@media (max-width: $breakpoint-lg) {
  .home-head-image__wrap {
    width: 47%;
  }
  .home-section-first__content {
    padding-top: 50px;
  }
  .home-section-first__wrap {
    padding: 50px 0;
  }
  .home-section-second__wrap {
    padding-top: 0;
  }
  .home-section-second__title-blue {
    margin-top: 50px;
  }
  .row-padding-top {
    padding-top: 50px;
  }
  .home-section-second__bottom {
    margin-top: 50px;
  }
  .home-section-second-bottom__wrap {
    padding-top: 0;
  }
  .home-section-second-bottom__img {
    align-self: center;
  }
  .home-section-third {
    padding: 50px 0;
  }
  .home-section-third__boxes {
    padding-top: 50px;
  }
  .home-section-fourth__head {
    padding: 100px 0;
  }

  .home-section-fourth__content {
    padding-bottom: 50px;
  }
}

@media (max-width: $breakpoint-md) {
  .home-section-second__bottom {
    padding: 0 0 50px;
  }
  .home-head-image__wrap {
    top: 89px;
  }
  .home-section-first-content__txt-content {
    padding-top: 0;
  }
  .home-section-first-content__image {
    align-self: center;
  }
  .head-button__wrap {
    padding-bottom: 35px;
  }
  .head-image {
    height: auto;
  }
  .home-head-bottom__wrap {
    padding: 15px 0;
  }
  .home-section-first__title-about {
    padding-top: 25px;
  }
  .home-section-first__content {
    padding-top: 25px;
  }
  .home-section-second-bottom__wrap {
    flex-flow: column-reverse;
  }
  .home-section-second-bottom__img {
    width: auto;
    padding-top: 0;
  }
  .home-section-second-bottom__content {
    width: auto;
  }
  .button__wrap {
    text-align: center;
    padding-bottom: 27px;
  }
}

@media (max-width: $breakpoint-sm) {

  .head-title {
    margin: 0 auto;
  }

  .home-head-bottom__wrap {
    justify-content: center;
  }

  .row-padding-top {
    padding-top: 0;
  }

  .head-title__wrap {
    max-width: 100%;
    margin: 0 auto;
  }
  .home-head__wrap {
    padding: 25px 0 71px;
  }
  .home-head-bottom__title {
    padding-top: 0;
    align-self: center;
  }
  .home-head-bottom__button {
    align-self: center;
    padding-top: 0;
  }
  .home-section-first-content__first, .home-section-first-content__second {
    flex-flow: column;
  }
  .home-section-first-content__txt-content, .home-section-first-content__image {
    width: 100%;
  }

  .home-section-first-content__image {
    padding-top: 20px;
  }
  .home-section-first-content__second {
    padding-top: 0px;
  }

  .content-txt__wrap {
    padding-left: 0;
    padding-top: 15px;
  }
}