<div class="container-fluid container-fluid--section">
  <div class="home-head">
    <div class="container-lg">
      <div class="home-head__wrap">
        <div class="head-title__wrap">
          <div class="head-title txt-center-sm anim-content-transition">
            <h2>Alzheimer's disease</h2>
            <h3 class="txt-padding-top">Learn your ApoE genetic risk</h3>
          </div>
          <div class="head-button__wrap txt-center-sm anim-content-transition">
            <button jq-slider class="button-border-rounded">Order test</button>
          </div>
        </div>
        <div class="hide-mobile home-head-image__wrap anim-content-transition">
          <img class="head-image" src="../../../assets/images/home-page/helix-front-right.png" alt="">
        </div>
      </div>
    </div>
    <div class="home-arrow-down__wrap anim-content-transition">
      <a href="#anchor" smooth-scroll ng-include="'./assets/images/svg/arrow-down.svg'"  class="arrow-down"></a>
    </div>
  </div>
  <div class="home-head-bottom hide-xs-mobile">
    <div class="container-lg">
      <div class="home-head-bottom__wrap">
        <div class="home-head-bottom__title anim-content-transition">
          <h3 class="txt-fonts-circular-book">Get an ApoE genetic test today</h3>
        </div>
        <div class="home-head-bottom__button anim-content-transition">
          <div class="button__purchase">
            <a ui-sref="" class="bt-round bt-round--blue-dark">Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--section second-->
  <div id="anchor" class="section-box-shadow home-section-first">
    <div class="container-lg">
      <div class="home-section-first__wrap">
        <div class="home-section-first__title">
          <h2 class="txt-blue">Information about the product</h2>
        </div>
        <div class="home-section-first__title-about">
          <div class="txt-large txt-black">Whether you are 35 or 75, your Alzheimer’s genetics are the same.
            <br> It is never too early or too late to learn your genetic risk for late-onset Alzheimer’s disease.</div>
        </div>
        <div class="home-section-first__content">
          <div class="container-flex container-flex--column-reverse-md">
            <div class="flex-column">
              <div class="flex-column__wrap">
                <div class="title__wrap">
                  <h3 class="txt-blue-dark">Why should I take this test?</h3>
                </div>
                <div class="txt__wrap">
                  <div class="txt txt-black">
                    Changes begin happening in the brain about two decades before the first symptoms of memory decline.
                    Many factors impact your brain health: lifestyle, environment, age, other medical conditions, and your genetics.
                    <br>
                    Knowing if you have an increased risk based on your genetics gives you time to consider your options, set expectations, and make lifestyle changes that feel right for you.
                    For individuals with an increased risk for Alzheimer’s disease, early action may make a difference.
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-column">
              <div class="flex-column__wrap">
                <div class="img__wrap txt-center">
                  <ng-include class="img-middle" src="'./assets/images/svg/human-brain-medical-blue-dark.svg'"></ng-include>
                </div>
              </div>
            </div>
          </div>
          <div class="container-flex container-flex--column-md">
            <div class="flex-column">
              <div class="flex-column__wrap">
                <div class="img__wrap txt-center">
                  <ng-include class="img-middle" src="'./assets/images/svg/notebook-medical-dark.svg'"></ng-include>
                </div>
              </div>
            </div>
            <div class="flex-column">
              <div class="flex-column__wrap">
                <div class="title__wrap">
                  <h3 class="txt-blue-dark">What will the test tell me?</h3>
                </div>
                <div class="txt__wrap">
                  <div class="txt txt-black">
                    The Alzheimer’s ApoE Genetic Test looks for the most common inherited genetic risk associated with late-onset Alzheimer’s disease (occurring after age 65).
                    This test does not look for rare genes associated with early-onset Alzheimer’s (PS1, PS2 or APP) that track in families and tend to occur at very young ages.
                    <!--div class="txt--indent"-->
                    <br>
                    Your Alzheimer's ApoE Genetic Test results will explain whether you have an increased genetic risk for developing late-onset Alzheimer's, which combination of ApoE you inherited,
                    and how your lifetime risk for developing late-onset Alzheimer’s disease changes as you age.
                    <!--/div -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-box-shadow home-section-second">
    <div class="home-section-second__head-img">
      <img class="img" src="./assets/images/home-page/img-section-second.png" alt="">
    </div>
    <div class="home-section-second__wrap">
      <div class="container-lg">
        <div class="row">
          <div class="col-sm-6">
            <div class="home-section-second__test-info">
              <div class="title__wrap">
                <h3 class="txt-blue-dark">Test information</h3>
              </div>
              <div class="txt__wrap">
                <div class="txt txt-black">
                  From start to finish you are never alone in the process.
                  ADx Healthcare offers the addition of physician review to be sure you understand what test you are ordering,
                  what it does and does not reveal, plus the support of genetic counseling to help you understand your results.
                </div>
              </div>
            </div>
            <div class="home-section-second__physician">
              <div class="title__wrap">
                <h3 class="txt-blue-dark">Physician approved</h3>
              </div>
              <div class="txt__wrap">
                <div class="txt txt-black">
                  A physician will review your medical history and determine if the Alzheimer’s ApoE genetic test is right for you.
                  If they need any additional information, they will reach out to you directly.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="home-section-second__fast-results">
              <div class="title__wrap">
                <h3 class="txt-blue-dark">Your genes, your future health</h3>
              </div>
              <div class="txt__wrap">
                <div class="txt txt-black">
                  With private pay testing, you are in control of your healthcare and can access the information you want to learn.
                </div>
              </div>
            </div>
            <div class="home-section-second__genes">
              <div class="title__wrap">
                <h3 class="txt-blue-dark">
                  Your Genes. Your Privacy.
                </h3>
              </div>
              <div class="txt__wrap">
                <div class="txt txt-black">
                  Once your results are ready, an electronic copy of your report will be delivered on our secure platform. A printable copy of your results will also be available. It is up to you whom you share your test results with.  A genetic counselor is available at no additional cost if you want to ask questions about your results.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-section-second__title-blue">
        <div class="title-blue__inner txt-center">
          <div class="txt-blue-dark title-first">Protect your future self</div>
        </div>
      </div>
      <div class="container-lg">
        <div class="container-flex section__wrap-sm section__wrap-sm--not-space-sm container-flex--column-sm">
          <div class="flex-column">
            <div class="flex-column__wrap">
              <div class="img__wrap txt-center">
                <ng-include class="img-middle--md" src="'./assets/images/svg/doctor--bgc-silver.svg'"></ng-include>
              </div>
              <div class="title__wrap txt-center">
                <h3 class="txt-blue-dark">
                  Physician review
                </h3>
              </div>
              <div class="txt__wrap txt-center">
                <p class="txt txt-black">
                  A physician will review your medical history and determine if the Alzheimer's ApoE Genetic Test is right for you.  If they need any additional information, they will reach out to you.
                </p>
              </div>
            </div>
          </div>
          <div class="flex-column">
            <div class="flex-column__wrap">
              <div class="img__wrap txt-center">
                <ng-include class="img-middle--md" src="'./assets/images/svg/test-tube.svg'"></ng-include>
              </div>
              <div class="title__wrap txt-center">
                <h3 class="txt-blue-dark txt-center">
                  Saliva Sample
                </h3>
              </div>
              <div class="txt__wrap txt-center">
                <p class="txt txt-black txt-center">
                  Once your test is approved, you will receive your testing kit in the mail. Collect your saliva sample and mail it back in the prepaid envelope.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container-flex row-padding-top container-flex--column-sm">
          <div class="flex-column">
            <div class="flex-column__wrap">
              <div class="img__wrap txt-center">
                <ng-include class="img-middle--md" src="'./assets/images/svg/notebook-checked.svg'"></ng-include>
              </div>
              <div class="title__wrap txt-center">
                <h3 class="txt-blue-dark">
                  Results
                </h3>
              </div>
              <div class="txt__wrap txt-center">
                <p class="txt txt-black">
                  Obtain your results privately and securely online. We’ll help you schedule your free genetic counseling session if you would like to review your results with a genetic counselor. You can also print a copy of your results if you want to share them with family or your doctor.
                </p>
              </div>
            </div>
          </div>
          <div class="flex-column">
            <div class="flex-column__wrap">
              <div class="img__wrap txt-center">
                <ng-include class="img-middle--md" src="'./assets/images/svg/clapperboard--dark.svg'"></ng-include>
              </div>
              <div class="title__wrap txt-center">
                <h3 class="txt-blue-dark">
                  Take action
                </h3>
              </div>
              <div class="txt__wrap txt-center">
                <p class="txt txt-black">
                  Get started reducing your risk for or delaying the onset of Alzheimer's disease and improving your cognitive health.
                  Understand your genetic risk for late-onset Alzheimer's disease.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-section-second__bottom">
        <div class="container-lg">
          <div class="container-flex align-items--center container-flex--column-md">
            <div class="flex-column">
              <div class="flex-column__wrap">
                <div class="img__wrap img--center-md">
                  <ng-include class="img-middle" src="'./assets/images/svg/microscope.svg'"></ng-include>
                </div>
              </div>
            </div>
            <div class="flex-column">
              <div class="flex-column__wrap">
                <div class="title__wrap">
                  <h2 class="txt-blue-dark">Science</h2>
                </div>
                <div class="txt__wrap">
                  <div class="txt">
                    The Alzheimer’s ApoE test is a single gene test that looks at your ApoE-related genetic risk for Alzheimer’s disease.
                    In addition to genetics, your Alzheimer’s disease risk is also influenced by your  other medical conditions, age, gender, and environmental and lifestyle factors.
                    <!--<div class="txt&#45;&#45;indent">-->
                      <!--ApoE comes in three forms: ApoE-e2, ApoE-e3, and ApoE-e4.  Having a copy of this gene that increases your risk for late-onset Alzheimer's disease (ApoE-e4) does not guarantee that you will develop Alzheimer’s disease.-->
                      <!--Likewise, having the ApoE copy with the lowest risk (ApoE-e2) does not mean you won’t develop Alzheimer’s disease.-->
                      <!--Our Alzheimer’s ApoE genetic test combines your ApoE -related genetics with your age to help assess your Alzheimer’s disease genetic risk. Other factors such as gender, medical health and lifestyle habits also influence your Alzheimer’s disease risk.-->
                      <!--Your Alzheimer's ApoE Genetic Test report only provides your genetic risk based on the ApoE gene. It does not report on risk associated with these other lifestyle factors or other genes (such as the rare “familial” Alzheimer’s disease mutations in PS1, PS2 or APP, which are associated with autosomal dominant early-onset Alzheimer’s disease, a rare subtype of the disease).-->
                    <!--</div>-->
                  </div>
                </div>
                <div class="button__wrap button__wrap--left-md">
                  <a ui-sref="master.science" class="bt-round bt-round--lg bt-round--blue-dark">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--section third-->
  <div class="home-section-third section-box-shadow">
    <div class="title__wrap txt-center">
      <h2 class="txt-blue-dark">What people say about us</h2>
    </div>
    <div class="sub-header-txt__wrap txt-center">
      <div class="txt-large txt-black">
        ApoE is the most important piece of the puzzle.
      </div>
    </div>
    <div class="home-section-third__boxes">
      <div class="boxes__wrap boxes__wrap--large">
        <div class="box box-orange">
          <div class="box-title__wrap">
            <h3 class="txt-blue-dark">Tracy Smith</h3>
          </div>
          <div class="box-txt__wrap">
            <div class="txt txt-black">
              ApoE testing must be approved by your physician or other qualified health care provider. If you don't have a health care provider AFFIRMATIV diagnostics.
            </div>
          </div>
          <div class="box-data__wrap">
            <div class="data">2018.01.12</div>
          </div>
        </div>
        <div class="box box-blue-dark">
          <div class="box-title__wrap">
            <h3 class="txt-blue-dark">Daniel Trevor</h3>
          </div>
          <div class="box-txt__wrap">
            <div class="txt txt-black">
              ApoE testing must be approved by your physician or other qualified health care provider. If you don't have a health care provider AFFIRMATIV diagnostics.
            </div>
          </div>
          <div class="box-data__wrap">
            <div class="data">2018.01.12</div>
          </div>
        </div>
        <div class="box box-blue">
          <div class="box-title__wrap">
            <h3 class="txt-blue-dark">Gloria Sanchez</h3>
          </div>
          <div class="box-txt__wrap">
            <div class="txt txt-black">
              ApoE testing must be approved by your physician or other qualified health care provider. If you don't have a health care provider AFFIRMATIV diagnostics.
            </div>
          </div>
          <div class="box-data__wrap">
            <div class="data">2018.01.12</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--section fourth-->
  <div class="home-section-fourth section-box-shadow">
    <div class="home-section-fourth__head">
      <div class="home-section-fourth-head__title">
        <!--<h3 class="txt-blue txt-center">Frequently asked questions</h3>-->
        <h1 class="txt-blue txt-center">We care about you</h1>
        <div class="sub-header-txt__wrap">
          <div class="txt txt-center">
            Our customer support team is available
            by email or chat, and is happy to answer your
            questions about your test kit, results, and more.
          </div>
        </div>
      </div>
    </div>
    <div class="home-section-fourth__content">
      <div class="container-lg">
        <div uib-accordion close-others="false">
          <div uib-accordion-group class="dropdown-txt__content">
            <div uib-accordion-heading>
              <div class="accordion-heading-wrap">
                <div class="cross-button-open__wrap">
                  <div class="cross-button-open"></div>
                </div>
                <div class="content-title__wrap">
                  <h2 class="txt-blue-dark">You’re not alone</h2>
                </div>
              </div>
            </div>
            <div class="content-txt__wrap">
              <div class="txt txt-black">
                From the physician review of your order, to the genetics counselors available to answer questions about your test results, ADx Healthcare will support you through the process.
                <div class="txt--indent">
                  For all the steps in between, our customer support team is available to discuss your questions about the science behind ApoE,
                  ordering a test, completing your kit, or interpreting your results.
                </div>
              </div>
            </div>
          </div>
          <div uib-accordion-group class="dropdown-txt__content">
            <div uib-accordion-heading>
              <div class="accordion-heading-wrap">
                <div class="cross-button-open__wrap">
                  <div class="cross-button-open"></div>
                </div>
                <div class="content-title__wrap">
                  <h2 class="txt-blue-dark">Genetic counseling</h2>
                </div>
              </div>
            </div>
            <div class="content-txt__wrap">
              <div class="txt txt-black">
                You can choose to receive your results while speaking with a genetic counselor, or you can receive them on your own. You can always choose to speak with a genetic counselor after you have had time to review your results, and what they mean for you.
              </div>
            </div>
          </div>
          <div uib-accordion-group class="dropdown-txt__content">
            <div uib-accordion-heading>
              <div class="accordion-heading-wrap">
                <div class="cross-button-open__wrap">
                  <div class="cross-button-open"></div>
                </div>
                <div class="content-title__wrap">
                  <h2 class="txt-blue-dark">Power of emotions</h2>
                </div>
              </div>
            </div>
            <div class="content-txt__wrap">
              <div class="txt txt-black">
                Genetics is only one part of your risk for developing late-onset Alzheimer's disease.
                Knowing that you have a high genetic risk for Alzheimer’s disease is unsettling, but it can help empower you to take measured action to live a cognitively healthy life in order to best protect your future self.
                <div class="txt--indent">
                  Having the ApoE-e4 variant means that you have an increased genetic risk for late-onset Alzheimer's disease. This does not mean, however, that you will definitely develop Alzheimer's disease. Learning your genetic risk can help you take measured steps towards improving your cognitive health, so you can reduce your risk for or delay the onset of Alzheimer’s disease.  Sometimes making lifestyle changes can be hard, but having a reason for why you are eating healthier, reducing your stress, and making fitness and sleep a priority can be motivating.
                </div>
              </div>
            </div>
          </div>
          <div uib-accordion-group class="dropdown-txt__content">
            <div uib-accordion-heading>
              <div class="accordion-heading-wrap">
                <div class="cross-button-open__wrap">
                  <div class="cross-button-open"></div>
                </div>
                <div class="content-title__wrap">
                  <h2 class="txt-blue-dark">Lifestyle changes</h2>
                </div>
              </div>
            </div>
            <div class="content-txt__wrap">
              <div class="txt txt-black">
                Stress management, nutrition, fitness, social engagement, ongoing brain training (music, games, reading, crafts, etc), and avoiding environmental toxins may improve your cognitive health. Living and overall healthier life may also help reduce your risk for or delay the onset of late-onset Alzheimer's disease.
              </div>
            </div>
          </div>
          <div uib-accordion-group class="dropdown-txt__content">
            <div uib-accordion-heading>
              <div class="accordion-heading-wrap">
                <div class="cross-button-open__wrap">
                  <div class="cross-button-open"></div>
                </div>
                <div class="content-title__wrap">
                  <h2 class="txt-blue-dark">Connecting with community</h2>
                </div>
              </div>
            </div>
            <div class="content-txt__wrap">
              <div class="txt txt-black">
                We encourage you to share your results with your family and healthcare provider.  The more support you have for implementing brain healthy lifestyle behaviors, the more likely you are to be successful at turning them into lifelong habits.
              </div>
              <div class="txt--indent">
                <a href="" class="link-padding-right txt txt-blue-dark">Community</a>
                <div class="txt--indent">
                  <a href="" class="link-padding-right txt txt-blue-dark">Facebook</a>
                  <a href="" class="link-padding-right txt txt-blue-dark">Twitter</a>
                  <a href="" class="link-padding-right txt txt-blue-dark">Blog</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
