.home-head {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("../assets/images/home-page/home-head-bg.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 183px 0 0;
}

.home-head__wrap {
 display: flex;
}

.head-title {
  max-width: 407px;
  widtH: 100%;
  height: auto;
}

.head-title__wrap {
  max-width: 986px;
  width: 100%;
  position: relative;
}

.head-button__wrap {
  padding-top: 35px;
}

.home-head-image__wrap {
  position: relative;
  left: calc(61% - 393px);
  top: 139px;
  z-index: 100;
  width: 59%;
}

.head-image {
  width: 100%;
  height: 100%;
}

.home-arrow-down__wrap {
  position: absolute;
  top: 88%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.home-head-bottom {
  width: 100%;
  height: auto;
  background-color:  $blue-6;
}

.home-head-bottom__wrap {
  padding: 27px 0;
  margin-top: 28px;
  display: flex;
  align-items: center;
}

.home-head-bottom__button {
  align-self: flex-end;
  padding-left: 9%;
}


//styling for the section first
.home-section-first__wrap {
  padding: 100px 0 100px;
}

.home-section-first__title {
  width: 100%;
  height: 100%;
  text-align: center;
}

.home-section-first__title-about {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 1058px;
  padding-top: 48px;
}

.home-section-first__content {
  width: 100%;
  height: auto;
  padding-top: 117px;
}

.home-section-first-content__second {
  flex-flow: row-reverse;
  padding-top: 45px;
}

.home-section-first-content__txt-content {
  width: 50%;
  padding-top: 50px;
}

.home-section-first-content__image {
  width: 50%;
}

.home-section-second__wrap {
  width: 100%;
  height: auto;
  padding-top: 90px;
}

.home-section-second__title-blue {
  width: 100%;
  height: auto;
  background-color: $blue-6;
  padding: 38px 0 38px 50px;
  margin-top: 95px;
}

.home-section-second__bottom {
  width: 100%;
  height: auto;
  background-image: url('../assets/images/home-page/bgc-section-second.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  padding: 100px 0;
}

.home-section-second-bottom__wrap {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-section-second-bottom__img {
  width: 50%;
  padding-top: 50px;
}

.home-section-second-bottom__content {
  width: 50%;
}

//section third

.home-section-third {
  width: 100%;
  height: auto;
  background-image: url('../assets/images/home-page/bgc-section-third.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 134px 0 125px;
}

.home-section-third__boxes {
  width: 100%;
  height: auto;
  padding-top: 140px;
}

//section fourth
.home-section-fourth {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url('../assets/images/home-page/bgc-section-fourth-bottom.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.home-section-fourth__head {
  width: 100%;
  height: auto;
  background-image: url('../assets/images/home-page/bgc-section-fourth.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 197px;
  padding-bottom: 162px;
}

.home-section-fourth-head__title {
  width: 100%;
  max-width: 376px;
  margin: 0 auto;
  height: auto;
  padding: 0 20px;
}

.home-section-fourth__content {
  width: 100%;
  height: auto;
  padding-bottom: 119px;
}



