.head-wrap {
  width: 100%;
  height: auto;
  background-image: url("../assets/images/home-page/home-head-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 203px 0;
}

.head-title__wrap {
  max-width: 986px;
  width: 100%;
  position: relative;
  left: 9%;
}