<div class="container-fluid container-fluid--section">
  <div class="home-head">
    <div class="home-head__wrap">
      <div class="head-title__wrap">
        <div class="head-title anim-content-transition">
          <h1>Finding answers for Alzheimer’s disease begins with knowing your genetic risk!
          </h1>
          <h3 class="txt-padding-top">Get an ApoE genetic test today</h3>
        </div>
        <div class="head-button__wrap anim-content-transition">
          <button class="button-border-rounded">Order test</button>
        </div>
      </div>
      <div class="head-image__wrap anim-content-transition">
        <img class="head-image" src="../../../assets/images/home-page/helix-front-right.png" alt="">
      </div>
    </div>
    <div class="home-arrow-down__wrap anim-content-transition">
      <div ng-include="'./assets/images/svg/arrow-down.svg'" class="arrow-down"></div>
    </div>
  </div>
  <div class="home-head-bottom">
    <div class="home-head-bottom__wrap anim-content-transition">
     <div class="home-head-bottom__title">
       <h3 class="txt-fonts-circular-book">Get an ApoE genetic test today</h3>
     </div>
      <div class="home-head-bottom__button anim-content-transition">
        <div class="button__purchase">
          <a ui-sref="" class="bt-round bt-round--blue-dark"><span class="bt-content">Purchase</span></a>
        </div>
      </div>
    </div>
  </div>
  
  <!--section second-->
  <div class="home-section-first">
    <div class="home-section-first__wrap">
      <div class="home-section-first__title">
        <h1 class="txt-blue">Information about the product</h1>
      </div>
      <div class="home-section-first__title-about">
        <div class="sub-header-txt txt-black">Whether you are 35 or 75, your Alzheimer’s genetics are the same.
          <br> It is never too early or too late to learn your genetic risk for late-onset Alzheimer’s disease!</div>
      </div>
      <div class="home-section-first__content">
        <div class="home-section-first-content__first">
          <div class="home-section-first-content__txt-content">
            <div class="home-section-first-content__title">
              <h3 class="txt-blue-dark">Why should I take this test?</h3>
            </div>
            <div class="home-section-first-content__txt">
              <div class="txt txt-black">
                Changes begin happening in the brain about two decades before the first symptoms of memory decline. Your lifestyle, environment, and other medical conditions, along with your genetics and age influence your cognitive health. Don’t wait until your memory begins to fade. Find out your genetic risk for late-onset Alzheimer’s disease early, so you have the time to consider your options and make lifestyle changes that feel right for you. For individuals at high risk for Alzheimer’s disease, early action can make a difference.
              </div>
            </div>
          </div>
          <div class="home-section-first-content__image">
            <div class="img-bgc-wrap__rounded img-bgc-wrap__rounded--float-right">
              <ng-include class="svg-inner-rounded-big" src="'./assets/images/home-page/img-test-tubes.svg'"></ng-include>
            </div>
          </div>
        </div>
        <div class="home-section-first-content__second">
          <div class="home-section-first-content__txt-content">
            <div class="home-section-first-content__title">
              <h3 class="txt-blue-dark">What will the test tell me</h3>
            </div>
            <div class="home-section-first-content__txt">
              <div class="txt txt-black">
                Your ApoE test results will explain which combination of the ApoE alleles you have, and what the associated risk of Alzheimer’s disease development is based on your ApoE alleles.
                <div class="span txt--indent">
                  The test will also tell you how your lifetime risk for developing Alzheimer’s disease changes as you age.
                </div>
              </div>
            </div>
          </div>
          <div class="home-section-first-content__image">
            <div class="img-bgc-wrap__rounded img-bgc-wrap__rounded--blue">
              <ng-include class="svg-inner-rounded-big" src="'./assets/images/home-page/img-notebook.svg'"></ng-include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>