<div class="container-fluid container-fluid--section">
  <div class="home-head">
    <div class="home-head__wrap">
      <div class="head-title__wrap">
        <div class="head-title anim-content-transition">
          <h1>Finding answers for Alzheimer’s disease begins with knowing your genetic risk!
          </h1>
          <h2>Get an ApoE genetic test today</h2>
        </div>
        <div class="head-button__wrap anim-content-transition">
          <button class="button-border-rounded">Order test</button>
        </div>
      </div>
      <div class="head-image__wrap anim-content-transition">
        <img class="head-image" src="../../../assets/images/home-page/helix-front-right.png" alt="">
      </div>
    </div>
    <div class="home-arrow-down__wrap anim-content-transition">
      <div ng-include="'./assets/images/svg/arrow-down.svg'" class="arrow-down"></div>
    </div>
  </div>
  <div class="home-head-bottom">
    <div class="home-head-bottom__wrap">
     <div class="home-head-bottom__title">
       <h2>Get an ApoE genetic test today</h2>
     </div>
      <div class="home-head-bottom__button">
        <div class="button__purchase">
          <a ui-sref="" class="bt-round bt-round--blue-dark"><span class="bt-content">Purchase</span></a>
        </div>
      </div>
    </div>
  </div>
  
  <!--section second-->
  <div class="home-section-first">
    <div class="home-section-first__wrap">
      <div class="home-section-first__title">
        <h1>Information about the product</h1>
      </div>
    </div>
  </div>
</div>