<div class="faq-p">
    <div class="faq-p-head">
        <div class="container-fluid container-fluid--section">
            <div class="container-lg">
                <div class="faq-p-head__body">
                    <div class="faq-p-head__title">
                        <h3 class="txt-blue-dark txt-center">Frequently asked questions</h3>
                        <h1 class="txt-blue-dark txt-center">We care about you</h1>
                        <div class="sub-header-txt__wrap">
                            <div class="sub-header-txt txt-center">
                                Our customer support team is available
                                by email or chat, and is happy to answer your
                                questions about your test kit, results, and more.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>