@media (max-height: 892px) {
  .page .login-page {
    height: 100%;
  }
}

@media (max-height: 620px) {
  .page .change-psw-page {
    height: 100%;
  }
}

@media (max-width: $breakpoint-md) {
  .login-page, .change-psw-page, .fp-p {
    height: calc(100vh - 55px);
  }
}

@media (max-width: $breakpoint-exs) {
  .login-form {
    padding: 15px;
  }
  .form-input__login-wrap {
    padding-top: 15px;
  }
}