.login-page {
  height: calc(100vh - 100px);
  width: 100%;
}

.login-bgc {
  background-image: url("../assets/images/background-login.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form__wrap {
  width: 100%;
  height: auto;
  padding: 88px 0;
}

.form-input__login-wrap {
  padding-top: 40px;
}

.login-form {
  max-width: 510px;
  min-height: 480px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: $silver;
  border-radius: 7px;
  padding: 47px 42px;
}