.login-page {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $white;
}

.login-page__image-bgc {
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  background-size: cover;
  filter: blur(6px);
}

.head-sign {
  width: 100%;
  height: auto;
  position: relative;
}

.head-sign__background {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 167px;
}

.panel--login {
  margin-top: 18%;
}

.forgot-password {
  display: inline-block;
}

.login-button {
  display: flex;
  justify-content: space-between;
  padding-left: 207px;
}

.login-form {
  z-index: 10;
  position: relative;
  width: 40%;
  margin: 0 auto;
  padding-top: 9%;
}

.form--login {
  padding-top: 30px;
}

.form-input__login-wrap {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.login-button__wrap {
  padding-top: 14px;
  text-align: center;
}

.login-link {
  text-align: center;
}

.login-link__inner {
  padding-top: 15px;
}

.login-link--register {
  font-size: 14pt;
}
