<div class="login-page login-bgc">
  <div class="container-fluid container-fluid--section">
    <div class="login-form__wrap">
        <div class="login-form">
          <h6 class="txt-small txt-medium txt-blue-dark txt-center">Sign in to ADx Health</h6>
          <form class="form--login" name="form" novalidate ng-submit="loginUser(userForm)">
            <div class="form-input">
              <div class="form-input__login-wrap">
                <div class="form-group form-group--col">
                  <label class="input-label txt--exs-small txt txt-blue-2 txt-medium" for="email">Email address</label>
                  <input type="email" id="email" name="email" class="form-control" required ng-model="userForm.email">
                  <div class="error" ng-show="form.email.$invalid && form.email.$dirty">
                    <span ng-show="form.email.$error.email">Please enter a valid email address</span>
                    <span ng-show="form.email.$error.required">Please enter a value</span>
                  </div>
                </div>
                <div class="form-group form-group--col">
                  <label class="input-label txt--exs-small txt txt-blue-2 txt-medium" for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control" ng-model="userForm.password" required>
                </div>
              </div>
            </div>
            <div class="txt--indent-small txt-right ">
              <a href ui-sref="master.forgot_password" class="txt-link txt-blue-2 txt-small txt-medium">
                Forgot your password ?
              </a>
            </div>
            <div class="button__wrap button--center">
              <button class="bt-round bt-round--large bt-round--blue-dark" type="submit" ng-disabled="form.$invalid" test-hook="login-button"><span class="txt-medium">Sign-in</span></button>
            </div>
            <div class="txt--indent-small txt-center">
              <a href ui-sref="master.register" class="txt-link txt-blue-2 txt-small txt-medium">
                I need to create an account
              </a>
            </div>
          </form>
          <br>
          <div class="alert alert-danger" ng-if="error">{{::error.detail}}</div>
        </div>
    </div>
  </div>
</div>















