<section class="login-page">
  <div class="head-sign">
    <div class="login-page__image-bgc"></div>
    <div class="container">
      <div class="row">
        <div class="login-form">
          <div class="panel panel--login">
            <div class="panel__title">
              <h2 class="txt-brown txt-middle not-margin">Sign in to Affirmativ</h2>
            </div>
            <form class="form--login" name="form" novalidate ng-submit="loginUser(userForm)">
              <div class="form-input">
                <div class="form-input__login-wrap">
                  <div class="form-group form-group--col">
                    <input placeholder="Email address" type="email" name="email" class="form-control" required ng-model="userForm.email">
                    <div class="error" ng-show="form.email.$invalid && form.email.$dirty">
                      <span ng-show="form.email.$error.email">Please enter a valid email address</span>
                      <span ng-show="form.email.$error.required">Please enter a value</span>
                    </div>
                  </div>
                  <div class="form-group form-group--col">
                    <input placeholder="Password" type="password" name="password" class="form-control" ng-model="userForm.password" required>
                  </div>
                </div>
              </div>
              <div class="login-button__wrap">
                <button class="bt-round bt-round--blue" type="submit" ng-disabled="form.$invalid" test-hook="login-button"><span class="bt-content">Sign in</span></button>
              </div>
              <div class="login-link">
                <div class="login-link__inner">
                  <a href ui-sref="register" class="txt-link txt-bold login-link--register">
                    I need to create a Affirmativ account
                  </a>
                </div>
                <div class="login-link__inner">
                  <a href ui-sref="forgot_password" class="txt-link">
                    Forgot your password ?
                  </a>
                </div>
              </div>
            </form>
            <br>
            <div class="alert alert-danger" ng-repeat="error in errors.password">{{::error}}</div>
            <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{::error}}</div>
            <div class="alert alert-danger" ng-if="error">{{::error.detail}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>