@media (max-width: $breakpoint) {
  .img__wrap--float-right {
    width: calc(16% + 502px);
    margin: 55px -344px 16px 13px;
  }
}

@media (max-width: $breakpoint-lg) {
  .result-head {
    min-height: 0;
    padding-bottom: 100px;
  }
}

@media (max-width: $breakpoint-md) {
  .result-head {
    min-height: 350px;
    padding-bottom: 50px;
  }
}

@media (max-width: $breakpoint-sm) {
  .result-head {
    min-height: 0;
  }

  .product-p-items {
    max-width: 100%;
  }
}