//common styling for the result pages
.result--space-bottom {
  padding-bottom: 100px;
}

.result-head__over {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 25px;
}

.result-head {
  width: 100%;
  height: auto;
  min-height: 500px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.result-head__title {
  width: 100%;
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
}

.result-head.pre-result-head {
  background-image: url("../assets/images/results-page/bgc-preresults-page.png");
}

.result-head.result-head--p1 {
  background-image: url("../assets/images/results-page/bgc-result-head--p1.png");
}

.result-progressbar__wrap {
  width: 100%;
  height: auto;
  background-color: $silver;
  padding: 41px 0 31px;
}

//charts
.chart__wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: auto;
  padding-top: 50px;
}
//end charts

//end common styling for the result pages

//pre ressult
// head

.pre-result {
  padding-bottom: 100px;
}

.pre-result-head__wrap {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.pre-result-head__content {
  width: 100%;
  height: auto;
}

.pre-result-head__title {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.pre-result-head-img {
 text-align: center;
}

.pre-result-head-img__innner {
  max-width: 273px;
}

.pre-result-head-txt {
  max-width: 422px;
}

.pre-results-box-flex {
  display: flex;
  align-items: end;
  max-width: 1000px;
  margin: 0 auto;
}

.pre-results-box-flex-2 {
  padding-left: 15px;
}

//section first

.pre-result-section-first__sub-header {
  max-width: 822px;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.pre-result-section-first__image {
  max-width: 964px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding-top: 74px;
}

.pre-result-section-third__title {
  width: 100%;
  height: auto;
  padding-top: 210px;
  padding-left: 62px;
  padding-bottom: 20px;
}

.title-wrap__pre-results--left-space {
  padding-left: 62px;
}


.img__wrap--float-right {
  width: 730px;
  height: auto;
  float: right;
  margin: 55px -463px 16px 13px;
}

.result-section-first__img {
  float: right;
  width: 24%;
  padding-top: 54px;
}
