//common styling for the result pages
.result--space-bottom {
  padding-bottom: 100px;
}

.txt-rubric__wrap {
  padding-top: 20px;
  padding-left: 35px;
}

.result-head__over {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 25px;
}

.result-head {
  width: 100%;
  height: auto;
  min-height: 450px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.result-head__title {
  width: 100%;
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
}

.result-head.pre-result-head {
  background-image: url("../assets/images/results-page/bgc-preresults-page.png");
}

.result-head.result-head--p1 {
  background-image: url("../assets/images/results-page/bgc-result-head--p1.png");
}

.result-progressbar__wrap {
  width: 100%;
  height: auto;
  background-color: $silver;
  padding: 29px 0 21px;
}

//charts
.chart__wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: auto;
  padding-top: 50px;
}
//end charts

.result-button-head__wrap {
  display: inline-block;
}

.download__wrap {
  display: flex;
  width: 256px;
  align-items: center;
}
//end common styling for the result pages

//pre ressult
// head

.pre-result {
  padding-bottom: 43px;
}

.pre-result-head__wrap {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.pre-result-head__content {
  width: 100%;
  height: auto;
}

.pre-result-head__title {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.pre-result-head-img {
 text-align: center;
}

.pre-result-head-img__innner {
  max-width: 273px;
}

.pre-result-head-txt {
  max-width: 422px;
}

.pre-results-box-flex {
  display: flex;
  align-items: end;
  max-width: 1000px;
  margin: 0 auto;
}

.pre-results-box-flex-2 {
  padding-left: 15px;
}

//section first

.pre-result-section-first__sub-header {
  max-width: 822px;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.pre-result-section-first__image {
  max-width: 964px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding-top: 74px;
}

.pre-result-section-third__title {
  width: 100%;
  height: auto;
  padding-top: 210px;
  padding-left: 62px;
  padding-bottom: 20px;
}

.title-wrap__pre-results--left-space {
  padding-left: 62px;
}


.img__wrap--float-right {
  width: 390px;
  height: auto;
  float: right;
  position: relative;
  left: 0;
  padding-top: 198px;
}

.result-section-first__img {
  float: right;
  width: 30%;
  padding-top: 54px;
}


//pre-purchase
.products-p-head__body {
  padding-top: 20px;
}

.products-p-head__wrap {
  width: 100%;
  height: auto;
  background-image: url('../assets/images/bgc-polygon-light-silver.png');
  background-repeat: no-repeat;
  background-size: 168%;
  background-position: 59% 67%;
  padding-bottom: 70px;
}

.product-p-items {
  padding-top: 38px;
  max-width: 63%;
  margin: 0 auto;
}

.box-content__wrap {
  max-height: 463px;
  overflow: hidden;
  &.open-height {
    animation: anim-height 1.5s forwards ease-in-out 1;
  }
}

.tabs-link-bottom__wrap {
  padding-left: 50px;
  padding-top: 10px;
}

.science-p-list__items.science-p-list__items--small-space-top {
  padding-top: 10px;
}

.science-p-list.science-p-list--space-side {
  padding: 0 15px;
}

.container-txt-share-results {
  max-width: 854px;
  margin: 0 auto;
}

.tabs-link-bottom {
  cursor: pointer;
}

.box-shadow.box-shadow--result-p1 {
  padding: 15px 30px;
  max-width: 604px;
}

.box-shadow.box-shadow--result-p1-second {
  padding: 35px 50px;
}

.section-p1-learn__wrap {
  padding-top: 34px;
}


.result-p2-section-silver__wrap {
  padding-top: 70px;
}

.result-p2-section-silver {
  background-color: $silver;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
}

@keyframes anim-height {
  0% {
    max-height: 463px;
  }
  80% {
    max-height: 1000px;
  }
  100% {
    max-height: 100%;
  }
}

