.profile-page {
  background-image: url("../assets/images/bgc-polygon-silver.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -165px;
}

.profile-info__wrap {
  width: 100%;
  height: auto;
  padding: 90px 110px;
}

.profile-view--display-column-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.row--profile-view-space-top {
  padding-top: 65px;
}

.profile-button__wrap {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.profile-info__wrap--border-bottom {
  padding-bottom: 80px;
  border-bottom: 1px solid $silver-2;
}

.profile-edit-form {
  width: 100%;
}