<div class="profile-page">
    
    <!--section first -->
    <div class="section__wrap">
        <div class="container-lg--dashboard">
            <div class="section-box-shadow">
                <div class="title__wrap">
                    <h2 class="txt-blue-dark txt-center">Account information</h2>
                </div>
                <div class="profile-info__wrap">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="txt txt-blue-dark txt-medium">Email</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="txt txt-black">
                                <div class="profile-view--display-column-wrap">
                                    <div class="profile-view-column-1">
                                        {{profile.user.email}} <span class="txt-left-space">(Verifed)</span>
                                    </div>
                                    <div class="profile-view-column-2">
                                        <a class="txt-blue txt-right">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row--profile-view-space-top">
                        <div class="col-xs-4">
                            <div class="txt txt-blue-dark txt-medium">Password</div>
                        </div>
                        <div class="col-xs-8">
                            <a class="txt txt-blue"> Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end section first-->
    
    <!--section second-->
    <div class="section__wrap section__wrap--space-bottom">
        <div class="container-lg--dashboard">
            <div class="section-box-shadow">
                <div class="title__wrap">
                    <h2 class="txt-blue-dark txt-center">Personal information</h2>
                </div>
                <div class="profile-info__wrap">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="txt txt-blue-dark txt-medium">Firstname</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="txt txt-black">
                                {{profile.user.first_name}}
                            </div>
                        </div>
                    </div>
                    <div class="row row--profile-view-space-top">
                        <div class="col-xs-4">
                            <div class="txt txt-blue-dark txt-medium">Lastname</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="txt txt-black">
                                {{profile.user.last_name}}
                            </div>
                        </div>
                    </div>
                    <div class="row row--profile-view-space-top">
                        <div class="col-xs-4">
                            <div class="txt txt-blue-dark txt-medium">Gender</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="txt txt-black">
                                {{profile.gender}}
                            </div>
                        </div>
                    </div>
                    <div class="row row--profile-view-space-top">
                        <div class="col-xs-4">
                            <div class="txt txt-blue-dark txt-medium">Date of Birth</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="txt txt-black">
                                {{profile.date_of_birth}}
                            </div>
                        </div>
                    </div>
                    <div class="row row--profile-view-space-top">
                        <div class="col-xs-4">
                            <div class="txt txt-blue-dark txt-medium">Phone</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="txt txt-black">
                                {{profile.phone}}
                            </div>
                        </div>
                    </div>
                    <div class="profile-button__wrap">
                        <button class="bt-round bt-round--blue" ui-sref="master_signedin.profileEdit">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end section second-->
    
</div>