<div class="references-p">
    <div class="references-p-head-bgc"></div>
    <div class="container-fluid container-fluid--section">
        <div class="section-box-shadow section-box-shadow--space-inner">
            <div class="container-lg">
                <div class="references-p-body">
                    <div class="references-p-body__wrap">
                        <div class="references-p-body__img anim-content-transition">
                            <ng-include class="img-small" src="'./assets/images/svg/parcel.svg'"></ng-include>
                        </div>
                        <div class="title__wrap anim-content-transition">
                            <h3 class="txt-blue-dark txt-center">Result Science -  Test interpretation</h3>
                        </div>
                       <div class="txt__wrap">
                            <p class="txt txt-black" id="RS1"> <span class="txt txt-bold txt-black">1.</span>
                                Vagelatos NT, Eslick GD (2013) <a
                                    href="https://www.ncbi.nlm.nih.gov/pubmed/23314404" target="_blank">Type 2 diabetes as a risk factor for Alzheimer's disease: the confounders, interactions, and neuropathology associated with this relationship.</a> Epidemiological reviews 35, 152-160.
                            </p>
                       </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="RS2"> <span class="txt txt-bold txt-black">2.</span>
                                Rodrigue KM, Rieck JR, Kennedy KM et al. (2013)<a
                                    href="https://www.ncbi.nlm.nih.gov/pubmed/23553344" target="_blank">Risk factors for beta-amyloid deposition in healthy aging: vascular and genetic effects.</a> JAMA Neurol 70, 600-606.
                                Guo Z, Fratiglioni L, Viitanen M et al. (2001) Apolipoprotein E genotypes and the
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="RS3"> <span class="txt txt-bold txt-black">3.</span>
                                Guo Z, Fratiglioni L, Viitanen M et al. (2001)<a
                                    href="https://www.ncbi.nlm.nih.gov/pubmed/23553344" target="_blank">R Apolipoprotein E genotypes and the incidence of Alzheimer's disease among persons aged 75 years and older: variation by use of antihypertensive medication?</a>American journal of epidemiology 153, 225-231.
                            </p>
                        </div>
                        <div class="title__wrap anim-content-transition">
                            <h3 class="txt-blue-dark txt-center"> About Genetics</h3>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG1"> <span class="txt txt-bold txt-black">1.</span>
                                Stolerman IP (ed). Encyclopedia of Psychopharmacology. 2010. Online ed. Berlin: Springer. ISBN 97835406869.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG2"> <span class="txt txt-bold txt-black">2.</span>
                                Liu CC, Kanekiyo T, Xu B, Bu G. Apolipoprotein E and Alzheimer disease: risk, mechanisms, and therapy. Nature Reviews: Neurology. 2013; 9:106-118.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG3"> <span class="txt txt-bold txt-black">3.</span>
                                Mahley, R. W. & Rall, S. C. Jr. Apolipoprotein E: far more than a lipid transport protein. Annu. Rev. Genomics Hum Genet. 2000; 1:507–537.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG4"> <span class="txt txt-bold txt-black">4.</span>
                                Lahoz, C. et al. Apolipoprotein E genotype and cardiovascular disease in the Framingham Heart Study. Atherosclerosis. 2001;154:529–537.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG5"> <span class="txt txt-bold txt-black">5.</span>
                                5Harold, D. et al. Genome-wide association study identifies variants at CLU and PICALM associated with Alzheimer’s disease. Nat. Genet. 2009; 41:1088–1093.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG6"> <span class="txt txt-bold txt-black">6.</span>
                                Lambert, J. C. et al. Genome-wide association study identifies variants at CLU and CR1 associated with Alzheimer’s disease. Nat. Genet. 2009; 41:1094–1099.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG7"> <span class="txt txt-bold txt-black">7.</span>
                                Farrer, L. A. et al. Effects of age, sex, and ethnicity on the association between apolipoprotein E genotype and Alzheimer disease: a meta-analysis. JAMA. 1997; 278: 1349–1356.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG8"> <span class="txt txt-bold txt-black">8.</span>
                                Hallman DM, et al. The Apolipoprotein E polymorphism: a comparison of allele frequencies and effects in nine populations. Am J Hum Genet. 1991; 49: 338-349.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG9"> <span class="txt txt-bold txt-black">9.</span>
                                Corder EH, et al. Gene dose of Apolipoprotein E type 4 allele and the risk of Alzheimer’s disease in late onset families. Science. 1993; 261:921-923.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG10"> <span class="txt txt-bold txt-black">10.</span>
                                Haan, M. N., Shemanski, L., Jagust, W. J., Manolio, T. A. & Kuller, L. The role of APOE ε4 in modulating effects of other risk factors for cognitive decline in elderly persons. JAMA. 1999; 282:40–46.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG11"> <span class="txt txt-bold txt-black">11.</span>
                                Peila, R., Rodriguez, B. L. & Launer, L. J. Type 2 diabetes, APOE gene, and the risk for dementia and related pathologies: the Honolulu-Asia Aging Study. Diabetes. 2002; 51: 1256–1262.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG12"> <span class="txt txt-bold txt-black">12.</span>
                                Irie, F. et al. Enhanced risk for Alzheimer disease in persons with type 2 diabetes and APOE e4: the Cardiovascular Health Study Cognition Study. Arch. Neurol. 2008; 65:89–93..
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG13"> <span class="txt txt-bold txt-black">13.</span>
                                Matsuzaki, T. et al. Insulin resistance is associated with the pathology of Alzheimer disease: the Hisayama study. Neurology. 2010; 75:764–770.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG14"> <span class="txt txt-bold txt-black">14.</span>
                                Ngandu T. et al., A 2 year multidomain intervention of diet, exercise, cognitive training, and vascular risk monitoring versus control to prevent cognitive decline in at-risk elderly people (FINGER): a randomized controlled trial. The Lancet. 2014; 386: 2255-2263.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG15"> <span class="txt txt-bold txt-black">15.</span>
                                PLOS Collections. Dementia: Across the Lifespan and Around the Globe.  Collection of articles on Alzheimer’s disease and dementia. Published March 2017. http://collections.plos.org/dementia.  Accessed September 23, 2017.ipoprotein E type 4 allele and the risk of Alzheimer’s disease in late onset families. Science. 1993; 261:921-923.
                            </p>
                        </div>
                        <div class="txt__wrap">
                            <p class="txt txt-black" id="AG16"> <span class="txt txt-bold txt-black">16.</span>
                                Clare L, Wu YT, Teale JC, et al. Potentially modifiable lifestyle factors, cognitive reserve, and cognitive function in later life: A cross-sectional study. PLoS Med. 2017;14(3):e10022259.
                            </p>
                        </div>
                        <div class="title__wrap anim-content-transition">
                          <h3 class="txt-blue-dark txt-center">Nutrition</h3>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N1"> <span class="txt txt-bold txt-black">1.</span>
                            Singh B, Parsaik AK, Mielke MM, et al. Association of Mediterranean diet with Mild Cognitive Impairment and Alzheimer’s disease: A systematic review and meta-analysis. J Alzheimers Dis. 2014;39(2):271-282.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N2"> <span class="txt txt-bold txt-black">2.</span>
                            Martinez-Lapiscina EH, Claver P, Toledo E, et al. Mediterranean diet improves cognition: The PREMIED-NAVARRA randomized trial. J Neurol Neurosurg Psychiatry. 2013;84(12):1318-1325.

                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N3"> <span class="txt txt-bold txt-black">3.</span>
                            Tagney CC, Kwasny MJ, Li H, et al. Adherence to a Mediterranean-type dietary pattern and cognitive decline in a community population. Am J Clin Nutr. 2011;93:601-607.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N4"> <span class="txt txt-bold txt-black">4.</span>
                            Scarmeas N, Stern Y, Tang MX, et al. Mediterranean diet and risk for Alzhiemers disease. Ann Neurology. 2006;59(6):912-921.
                          </p>
                        </div><div class="txt__wrap">
                        <p class="txt txt-black" id="N5"> <span class="txt txt-bold txt-black">5.</span>
                          Scarmeas N, Stern Y, Mayeux R, et al. Mediterranean diet and Mild Cognitive Impairment. Arch Neurol. 2009;66(2):216-225.
                        </p>
                      </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N6"> <span class="txt txt-bold txt-black">6.</span>
                            Tsivgoulis G, Judd S, Letter AJ, et al. Adherence to a Mediterranean diet and risk of incident cognitive impairment. Nerology. 2013;80:1684-1692.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N7"> <span class="txt txt-bold txt-black">7.</span>
                            Morris MC, Tangney CC, Wang Y, et al. MIND diet associated with reduced incidence of Alzheimer’s diesea. Alzheimers Dement. 2015;11(9):1007-1014.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N8"> <span class="txt txt-bold txt-black">8.</span>
                            Henderson ST. Ketone bodies as a therapeutic for Alzheimer’s disease. Neurotherapeutics. 2008;5:470-480.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N9"> <span class="txt txt-bold txt-black">9.</span>
                            Branco AF, Ferreira A, Simoes RF, et al. Ketogenic diets: from cancer to mitochondrial diseases and beyond. Eur J Clin INvest. 2016;46(3):285-298.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N11"> <span class="txt txt-bold txt-black">11.</span>
                            Henderson ST, Vogel JL, Barr LJ, et al. Study of the ketogenic agent AC-1202 in mild to moderate Alzheimer’s disease: a randomized, double-blind placebo-controlled, multicenter trial. J Nutr Metab. 2009;6:31-56.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N12"> <span class="txt txt-bold txt-black">12.</span>
                            Reger MA, Henderson ST, Hale C. Effects of beta-hydroxybutyrate on cognition in memory-impaired adults. Neurobiol Aging. 2004;25(3):311-314.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N13"> <span class="txt txt-bold txt-black">13.</span>
                            Newport MT, Vanltallie TB, Kashiwaya Y, et al. A new way to produce hyperketonemia: Use of ketone ester in a case of Alzheimers. Alzheimers Dement. 2015;11(1):99-103.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N14"> <span class="txt txt-bold txt-black">14.</span>
                            Dehghan M, Mente A, Zhang X, et al. Associations of fats and carbohydrate intake with cardiovascular disease and mortality in 18 countries from five continents (PURE): A prospective cohort study. Lancet. Published 29 August 2017.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N15"> <span class="txt txt-bold txt-black">15.</span>
                            Pasinetti GM, Wang J, Porter S, et al. Caloric intake, dietary lifestyles, macronutrient composition, and Alzheimer’ disease dementia. Int J Alzheimers Dis. Published online 2011 Jun 19.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N16"> <span class="txt txt-bold txt-black">16.</span>
                            Cao L, Tan L, Wang HF, et al. Dietary patterns and risk of dementia: a systematic review and meta-analysis of cohort studies. Mol Neurobiol. 2016;53(9):6144-6154.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N17"> <span class="txt txt-bold txt-black">17.</span>
                            Kalmijn S, Launer LJ, Ott A, et al. Dietary fat intake and the risk of incident dementia in the Rotterdam Study. Ann Neurol. 1997;42:776-782.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N18"> <span class="txt txt-bold txt-black">18.</span>
                            Naqvi AZ, Harty B, Mukamal KJ, et al. Monounsaturated, trans, & saturated fatty acids and cognitive decline in women. J Am Geriatr Soc. 20111;59(5):837-843.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N19"> <span class="txt txt-bold txt-black">19.</span>
                            Barberger-Gateau P, Raffaitin C, Letenneur L, et al. Dietary patterns and risk of dementia: The Three-City cohort study. Neurology. 2007;69:1921-1930.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N20"> <span class="txt txt-bold txt-black">20.</span>
                            Lauretti E, Iuliano L, Pratico D. Extra-virgin olive oil ameliorates cognition and neuropathology of the 3xTg mice: Role of autophagy. Ann Clin Transl Neurol. 2017;4(8):564-574.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N21"> <span class="txt txt-bold txt-black">21.</span>
                            Morris MC, Evans DA, Bienias JL, et al. Consumption of fish and n-3 fatty acids and risk of incident Alzheimer disease. Arch Neurol. 2003;60:940-946.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N22"> <span class="txt txt-bold txt-black">22.</span>
                            Morris MC, Evans DA, Tangney CC, et al. Associations of vegetable and fruit consumption with age-related cognitive change. Neurology. 2006;67(8):1370-1376.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N23"> <span class="txt txt-bold txt-black">23.</span>
                            Roberts RO, Geda YE, Cerhan JR, et al. Vegetables, unsaturated fats, moderate alcohol intake, and mild cognitive impairment. Dement Geriatr Cogn Disord. 2010;29:413-423.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N24"> <span class="txt txt-bold txt-black">24.</span>
                            Devore EE, Kang JE, Breteler MMB, et al. Dietary intake of berries and flavonoids in relation to cognitive decline. Ann Neurol. 2012;72(1):135-143.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N25"> <span class="txt txt-bold txt-black">25.</span>
                            Estemadi A, Sinha R, Ward MH, et al. Mortality from different causes associated with meat, heme iron, nitrates, and nitrites in the NIH-AARP Diet and Health Study: Population based cohort study. BMJ. 2018;357:1957-1968.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N26"> <span class="txt txt-bold txt-black">26.</span>
                            Pase MP, Himali JJ, Beiser AS, et al. Sugar- and artificially sweetened beverages and the risks of incident stroke and dementia. Stroke. 2017;48(5):1139-1146.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="N27"> <span class="txt txt-bold txt-black">27.</span>
                            Roberts RO, Roberts LA, Geda YE, et al. Relative intake of macronutrients impacts risk of Mild Cognitive Impairment or dementia. J Alzheimers Dis. 2012;32(2):329-339.
                          </p>
                        </div>
                        <div class="title__wrap anim-content-transition">
                          <h3 class="txt-blue-dark txt-center">Exercise</h3>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="E1"> <span class="txt txt-bold txt-black">1.</span>
                            Harvard Health Publications: Harvard Medical School. Regular Exercise Changes the Brain to Improve Memory, Thinking Skills.
                          </p>
                          <p class="txt txt-black">
                            <a href="https://www.health.harvard.edu/blog/regular-exercise-changes-brain-improve-memory-thinking-skills-201404097110" target="_blank">http://www.health.harvard.edu/blog/regular-exercise-changes-brain-improve-memory-thinking-skills-201404097110.</a> Accessed July 14, 2017.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="E2"> <span class="txt txt-bold txt-black">2.</span>
                            Dimitrov S, Hulteng E, Hong S. Inflammation and exercise: Inhibition of monocytic intracellular TNF production by acute exercise via β2-adrenergic activation. Brain, behavior, & Immunity. March 2017.; 61: 60-68.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="E3"> <span class="txt txt-bold txt-black">3.</span>
                            Centers for Disease Control and Prevention. How much physical activity do older adults need?<a href="https://www.cdc.gov/physicalactivity/basics/older_adults/index.htm" target="_blank">https://www.cdc.gov/physicalactivity/basics/older_adults/index.htm</a>   Accessed on March 9, 2017.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="E4"> <span class="txt txt-bold txt-black">4.</span>
                            Office of Disease Prevention and Health Promotion. 2008 Physical Activity Guidelines for Americans, Chapter 5: Active Older Adults.
                            <a href="https://health.gov/paguidelines/guidelines/chapter5.aspx%20Accessed%20March%209" target="_blank">https://health.gov/paguidelines/guidelines/chapter5.aspx Accessed March 9, </a>2017
                          </p>
                        </div><div class="txt__wrap">
                        <p class="txt txt-black" id="E5"> <span class="txt txt-bold txt-black">5.</span>
                          Smith PJ, Blumenthal JA, Hoffman BM, et al. Aerobic exercise and neurocognitive performance: a meta-analytic review of randomized controlled trials. Psychosomotor Medicine. 2010 Apr; 72(3):239-52.
                        </p>
                      </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="E6"> <span class="txt txt-bold txt-black">6.</span>
                            Smolarek AC, Ferreira LH, Mascarenhas LP. The effects of strength training on cognitive performance in elderly women. Clinical Interventions in Aging. 2016 Jun 1;11:749-54.)
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="E7"> <span class="txt txt-bold txt-black">7.</span>
                            Forbes D, Forbes SC, Blake CM, Thiessen EJ, Forbes S. Exercise programs for people with dementia.<a href="https://www.ncbi.nlm.nih.gov/pubmed/25874613" target="_blank">Cochrane Database Syst Rev.</a>  2015 Apr 15;(4):CD006489.
                          </p>
                        </div>
                        <div class="txt__wrap">
                          <p class="txt txt-black" id="E8"> <span class="txt txt-bold txt-black">8.</span>
                            National Institutes of Health NIHSeniorHealth. Exercise: Exercises to Try: Balance Exercises.</p>
                          <p class="txt txt-black"><a href="https://go4life.nia.nih.gov/exercises/balance" target="_blank">https://nihseniorhealth.gov/exerciseandphysicalactivityexercisestotry/balanceexercises/01.html.</a>Accessed on June 17, 2017.</p>
                        </div>
                      <div class="title__wrap anim-content-transition">
                        <h3 class="txt-blue-dark txt-center">Sleep</h3>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S1"> <span class="txt txt-bold txt-black">1.</span>
                          Buby OM, Brannick M, Mortimer J, et al. Sleep, Cognitive impairment and Alzheimer's disease: A systematic review and meta-analysis. Sleep. September 2106; pii: sp-00173-16
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S2"> <span class="txt txt-bold txt-black">2.</span>
                          Lim AS, Kowgier M, Yu L, Buchman AS, Bennett DA. Sleep Fragmentation and the Risk of Incident Alzheimer's Disease and Cognitive Decline in Older Persons. Sleep. 2013 Jul 1; 36(7):1027-1032.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S3"> <span class="txt txt-bold txt-black">3.</span>
                          Harvard Medical School: Division of Sleep Medicine. Healthy Sleep: Why do we Sleep, Anyway?
                        </p>
                        <p class="txt txt-black">
                          <a href="http://healthysleep.med.harvard.edu/healthy/matters/benefits-of-sleep/why-do-we-sleep" target="_blank">http://healthysleep.med.harvard.edu/healthy/matters/benefits-of-sleep/why-do-we-sleep.</a>
                        </p>
                        <p class="txt txt-black">Accessed July 1, 2017.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S4"> <span class="txt txt-bold txt-black">4.</span>
                          Eugene AR, Masiak J.  The Neuroprotective Aspects of Sleep.  MEDtube Science. 2015 Mar; 3(1): 35-40.
                        </p>
                      </div><div class="txt__wrap">
                      <p class="txt txt-black" id="S5"> <span class="txt txt-bold txt-black">5.</span>
                          Xie L, Kang H, Xu Q, et al. Sleep drives metabolite clearance from the adult brain. Science. 2013 Oct 18; 342(6156):373-7.
                      </p>
                    </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S6"> <span class="txt txt-bold txt-black">6.</span>
                          Savage VM, West GB. A quantitative, theoretical framework for understanding mammalian sleep. Proceedings of the National Academy of Sciences USA. 2007; 104(3): 1051-6.)
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S7"> <span class="txt txt-bold txt-black">6.</span>
                          <a href="https://www.health.harvard.edu/staying-healthy/blue-light-has-a-dark-side" target="_blank">https://www.health.harvard.edu/staying-healthy/blue-light-has-a-dark-side</a>
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S16"> <span class="txt txt-bold txt-black">16.</span>
                          Young T. Rationale, design and findings from the Wisconsin Sleep Cohort Study: Toward understanding the total societal burden of sleep disordered breathing. Sleep Medicine Clinics. 2009 Mar 1;4(1):37-46.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S17"> <span class="txt txt-bold txt-black">17.</span>
                          Redline S, Yenokyan G, Gottlieb DJ, et al. Obstructive sleep apnea hypopnea and incident stroke: The sleep heart health study. American Journal of Respiratory and Critical Care Medicine. 2010 Jul 15;182(2):269-77.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S18"> <span class="txt txt-bold txt-black">18.</span>
                          Punjabi NM, Caffo BS, Goodwin JL, et al. Sleep-disordered breathing and mortality: A prospective cohort study. PLoS Medicine. 2009 Aug;6(8).
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S19"> <span class="txt txt-bold txt-black">19.</span>
                          Pan W & Kastin AJ. Can sleep apnea cause Alzheimer’s disease? Neuroscience and Behavioral Reviews; 2014 Nov; 47: 656-669.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="S20"> <span class="txt txt-bold txt-black">20.</span>
                          Belenky G, Wesensten NJ, Thorne DR, et al. Patterns of performance degradation and restoration during sleep restriction and subsequent recovery: a sleep dose-response study. J Sleep Res. March 2003; 12(1):1-12.)
                        </p>
                      </div>
                      <div class="title__wrap anim-content-transition">
                        <h3 class="txt-blue-dark txt-center">Stress</h3>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str1"> <span class="txt txt-bold txt-black">1.</span>
                          Singh B, Parsaik AK, Mielke MM, et al. Association of Mediterranean diet with Mild Cognitive Impairment and Alzheimer’s disease: A systematic review and meta-analysis. J Alzheimers Dis. 2014;39(2):271-282.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str2"> <span class="txt txt-bold txt-black">2.</span><a
                            href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Green%20KN%5BAuthor%5D&cauthor=true&cauthor_uid=16943563" target="_blank">Green KN,</a>
                          <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Billings%20LM%5BAuthor%5D&cauthor=true&cauthor_uid=16943563" target="_blank">Billings LM,</a>
                          <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Roozendaal%20B%5BAuthor%5D&cauthor=true&cauthor_uid=16943563" target="_blank">Roozendaal B,</a>
                          <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=McGaugh%20JL%5BAuthor%5D&cauthor=true&cauthor_uid=16943563" target="_blank">McGaugh JL,</a>
                          <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=LaFerla%20FM%5BAuthor%5D&cauthor=true&cauthor_uid=16943563" target="_blank">LaFerla FM.</a> Glucocorticoids increase amyloid-beta and tau pathology in a mouse model of Alzheimer's disease. Journal of Neuroscience. 2006 Aug 30;26(35):9047-56.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str3"> <span class="txt txt-bold txt-black">3.</span>
                          Dismdale JE, Herd JA. Variability of plasma lipids on response to emotional arousal.  Psychomatic Medicine. 1982; 44:413-430.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str4"> <span class="txt txt-bold txt-black">4.</span>
                          Mattiasson I, Lindgarde F, Nilsson JA, Thoerell T. Threat of unemployment and cardiovascular risk factors: Longitudinal study of quality of sleep and serum cholesterol concentrations in men threatened with redundancy. British Medical Journal. 1990; 301: 461-466.
                        </p>
                      </div><div class="txt__wrap">
                      <p class="txt txt-black" id="Str5"> <span class="txt txt-bold txt-black">5.</span>
                        Stoney CM, Matthews KA, McDonal RH, & Johnson CA.  Sex differences in lipid, lipoprotein, cardiovascular, and neuroendocrine responses to acute stress. Psychophysiology. 1988; 25: 645-656.
                      </p>
                    </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str6"> <span class="txt txt-bold txt-black">6.</span>
                          Muldoon MF, Bachen EA, Manuck SB, et al. Acute cholesterol responses to mental stress and changes in posture. Archives of Internal Medicine. 1992; 152: 775-780.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str7"> <span class="txt txt-bold txt-black">7.</span>
                          Markovitz JH, Matthews KA, Kannel WB, Cobb JL, D’Agostino RB. Psychological predictors of hypertension in the Framingham study: Is there tension in hypertension? Journal of the American Medical Association. 1993; 270: 2439-2443.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str8"> <span class="txt txt-bold txt-black">8.</span>
                          Schnall PL, Schwartz PA, Landsbergis PA, et al. Relation between job strain, alcohol, and ambulatory blood pressure. Hypertension. 1992; 19: 488-494.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str9"> <span class="txt txt-bold txt-black">9.</span>
                          Rosengren A, Tibblin G, Wilhelmsen L. Self-perceived psychological stress and incidence of coronary artery disease in middle-aged men. American Journal of Cardiology. 1991; 68: 1171-1175.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str11"> <span class="txt txt-bold txt-black">11.</span>
                          Yeung AC, Vekshtein VI, Krantz DS, et al. The effect of atherosclerosis on the vasomotor response of coronary arteries to mental stress.  New England Journal of Medicine. 1991; 325: 1551-1556.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str12"> <span class="txt txt-bold txt-black">12.</span>
                          Davis M, Eshelman ER, McKay M. The relaxation and stress reduction workbook. 1995. Oakland, CA: New Harbinger Press.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str13"> <span class="txt txt-bold txt-black">13.</span>
                          Lahad A, Malter AD, Berg AO, Deyo RA. The effectiveness of four interventions for the prevention of low back pain. Journal of the American Medical Association, 1994; 272: 1286-1291.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str14"> <span class="txt txt-bold txt-black">14.</span>
                          Futterman AD, Kemeny ME, Shapiro D, Fahey JL. Immunological and physiological changes associated with induced positive and negative mood. Psychosomatic Medicine. 1994; 56: 499-511.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str15"> <span class="txt txt-bold txt-black">15.</span>
                          Mills PJ, Berry CC, Dimsdale JE, et al. Lymphocyte subset redistribution in response to acute experimental stress: Effects of gender, ethnicity, hypertension, and the sympathetic nervous system. Brain, Behavior, and Immunity. 1995; 9: 61-69.
                        </p>
                      </div>
                      <div class="txt__wrap">
                        <p class="txt txt-black" id="Str16"> <span class="txt txt-bold txt-black">16.</span>
                          Brannon L, Feist J. Health Psychology: An Introduction to Behavior and Health. 1992. Belmont, CA: Wadsworth.
                        </p>
                      </div>
                    </div>
                  <div class="title__wrap anim-content-transition">
                    <h3 class="txt-blue-dark txt-center">Education/Brain Stimulation</h3>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black"> <span class="txt txt-bold txt-black">6.</span>
                      Ngandu T. et al., A 2 year multidomain intervention of diet, exercise, cognitive training, and vascular risk monitoring versus control to prevent cognitive decline in at-risk elderly people (FINGER): a randomized controlled trial. The Lancet. 2014; 386: 2255-2263.
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc7"> <span class="txt txt-bold txt-black">7.</span>
                      White L, Katzman R, Losonczy K, et al. Association of education with incidence of cognitive impairment in three established populations for epidemiologic studies of the elderly. Journal of clinical epidemiology. 1994;47:363–74.
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc8"> <span class="txt txt-bold txt-black">8.</span>
                      Woollett K, Maguire EA. Acquiring “the Knowledge” of London’s layout drives structural brain changes. Current biology: CB. 2011;21:2109–14.
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc9"> <span class="txt txt-bold txt-black">9.</span>
                      Wilson RS, Hebert LE, Scherr PA, Barnes LL, Mendes de Leon CF, Evans DA. Educational attainment and cognitive decline in old age. Neurology. 2009;72:460–5.
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc10"> <span class="txt txt-bold txt-black">10.</span>
                      Scarmeas N, Stern Y, Tang MX, et al. Mediterranean diet and risk for Alzhiemers disease. Ann Neurology. 2006;59(6):912-921.
                    </p>
                  </div><div class="txt__wrap">
                  <p class="txt txt-black" id="Edc5"> <span class="txt txt-bold txt-black">5.</span>
                    Stern Y, Gurland B, Tatemichi TK, Tang MX, Wilder D, Mayeux R. Influence of education and occupation on the incidence of Alzheimer’s disease. JAMA: the Journal of the American Medical Association. 1994;271:1004–10.
                  </p>
                </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc11"> <span class="txt txt-bold txt-black">11.</span>
                      Mechelli  A, Crinion  JT, Noppeney U, et al. Neurolinguistics: structural plasticity in the bilingual brain. Nature. October 2004; 14;431(7010):757
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc12"> <span class="txt txt-bold txt-black">12.</span>
                      Gaser C, Schlaug G. Brain structures differ between musicians and non-musicians. Journal of Neuroscience. October 2003;23(27):9240-9245.
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc13"> <span class="txt txt-bold txt-black">13.</span>
                      Verghese J, Lipton RB, et al. Leisure Activities and the Risk of Dementia in the Elderly. New England Journal of Medicine. 2003; 348:2508-16
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc14"> <span class="txt txt-bold txt-black">14.</span>
                      Crowe M, Andel R, Pedersen NL, Johansson B, Gatz M. Does participation in leisure activities lead to reduced risk of Alzheimer’s disease? A prospective study of Swedish twins. The journals of Gerontology Series B, Psychological Sciences and Social Sciences. 2003;58:P249–55.
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc15"> <span class="txt txt-bold txt-black">15.</span>
                      Scarmeas N, Levy G, Tang MX, Manly J, Stern Y. Influence of leisure activity on the incidence of Alzheimer’s disease. Neurology. 2001;57:2236–42.
                    </p>
                  </div>
                  <div class="txt__wrap">
                    <p class="txt txt-black" id="Edc16"> <span class="txt txt-bold txt-black">16.</span>
                      Wang HX, Karp A, Winblad B, Fratiglioni L. Late-life engagement in social and leisure activities is associated with a decreased risk of dementia: a longitudinal study from the Kungsholmen project. American Journal of Epidemiology. 2002;155:1081–7.
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>