.references-p-head-bgc {
  height: 246px;
  background-image: url("../assets/images/legal-bgc.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.references-p-body__img {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 10px;
}

.references-p-body {
  width: 100%;
  height: auto;
}

.references-p-body__wrap {
  padding-bottom: 80px;
}

.references-number-highlight {
  cursor: pointer;
}