<!DOCTYPE html>
<html ng-app="ixLayer" ng-controller="AppCtrl">
<head>
  <base href="/" />
  
  <title ng-bind="pageTitle"></title>
  
  <!-- social media tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="ixLayer">
  <meta name="twitter:description" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image:src" content="">
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

</head>
<body>
<div app-side-navbar ng-if="logged && hideSideNavBar"></div>
<div class="page" ng-class="{'logged-out' : !logged || !hideSideNavBar}">
  <div app-header ng-if="!logged || !hideSideNavBar"></div>
  <div class="container-page" ui-view></div>
  <div app-footer></div>
</div>
</body>
</html>
