.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  text-align: left;
  background: $white;
  color: white;
  z-index: 999;
  overflow-x: hidden;
  box-shadow: -1px 0px 12px 0px $black-light;
}

.side-navbar__logo {
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 18px;
}

.header-logo__link {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-left: 13px;
}

.side-navbar__account {
  width: 100%;
  height: auto;
  margin: 20px auto 0;
  padding: 9px 8px 15px 27px;
  border-bottom: 4px solid $silver;
}

.side-navbar-account__button {
  width: 35%;
  height: auto;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}


.side-navbar-account__name {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.status-icon__wrap {
  font-size: 24px;
  width: auto;
  height: auto;
}

.status-txt__wrap {
  width: auto;
  height: auto;
  padding-left: 23px;
  align-self: center;
}

.side-navbar-navigation__wrap {
  width: 100%;
  height: auto;
  padding-top: 36px;
}

.side-navbar-navigation-link__wrap {
  padding: 16px 0 0;
  margin: 0;
  list-style: none;
}

.side-navbar-navigation-link__item {
  display: block;
  width: 100%;
  height: auto;
  padding: 14px 20px 0;
}

.side-navbar-navigation-link__item--not-space {
  padding: 0 10px;
}

.navbar-link--second {
  padding: 7px 10px;
  display: inline-block;
  width: 96%;
  border-radius: 40px;
  transition: all .9s ease;
}

.active-bgc-blue.navbar-link--second {
  background-color: $blue-6;
  .link, .txt {
    color: $white !important;
  }
  .dna-blue-1, .question-svg-1, .users-svg-1, .home-icon {
    fill: $white;
  }
}

.side-navbar-navigation-link__wrap--home {
  position: relative;
  top: 16px;
}




