@media (max-width: $breakpoint-lg) {
  .footer {
    margin-top: 0;
  }
  .footer-blue__wrap {
    margin-top: 50px;
  }
  .footer-bottom__wrap {
    padding-top: 0;
  }
  .footer-submit__wrap {
    padding-top: 10px;
  }
}

@media (max-width: $breakpoint-md) {
  .footer-title-blue__wrap {
    padding-right: 25px;
  }
}

@media (max-width: $breakpoint-sm) {
  .footer-blue__wrap {
    padding: 25px 25px;
    flex-flow: column;
  }
  .footer-form__wrap {
    flex-flow: column;
    padding-top: 25px;
  }
  .footer-submit__wrap {
    padding-top: 25px;
    margin: 0 auto;
  }
}