@media (max-width: $breakpoint-lg) {
  .footer {
    margin-top: 0;
  }
  .footer-blue__wrap {
    margin-top: 50px;
  }
  .footer-bottom__wrap {
    padding-top: 0;
  }
  .footer-submit__wrap {
    padding-top: 10px;
  }
}