<div class="login-bgc change-psw-page">
  <div class="container-fluid container-fluid--section">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="fp-p-form">
          <div class="title__wrap">
            <div class="panel panel-wrapper" ng-controller="ChangePasswordCtrl">
              <h6 class="txt-small txt-medium txt-blue-dark txt-center">Change password</h6>
              <div ng-show="!success">
                <form name="form" novalidate ng-submit="changeSubmit(userForm)">
                  <div class="form-group">
                    <label class="input-label txt--exs-small txt txt-blue-2 txt-medium">New Password</label>
                    <input type="password" name="password" class="form-control" ng-model="userForm.password" ng-minlength="5" required>
                    <div class="error" ng-show="form.password.$dirty">
                      <div class="error" ng-show="form.password.$error.required">This field is required</div>
                      <div class="error" ng-show="form.password.$error.minlength && !form.password.pristine">Password must be at least 5 characters long</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="input-label txt--exs-small txt txt-blue-2 txt-medium">Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control" ng-model="userForm.confirm_password" password-verify match-target="userForm.password" required>
                    <div class="error" ng-show="form.confirm_password.$error.match && form.confirm_password.$dirty">Passwords do not match.</div>
                  </div>
                  <div class="button__wrap button--center">
                    <button class="bt-round bt-round--large bt-round--blue-dark" type="submit" ng-disabled="form.$invalid">Submit</button>
                  </div>
                </form>
              </div>
              <div class="alert alert-danger" ng-repeat="error in errors.password">{{::error}}</div>
              <div class="alert alert-danger" ng-if="error">{{::error.detail}}</div>
              <div class="alert alert-success" ng-if="success">Great! Your password was changed successfully.</div>
              <div ng-if="success" class="button__wrap button--center">
                <button class="bt-round bt-round--large bt-round--blue-dark" type="submit" ng-disabled="form.$invalid">Sign in</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>