$animation-speed: 0.5s;

a.bt, button.bt {
  margin: 10px;
  padding: 14px 24px;
  background: $silver;
  color: $white;
  display: inline-block;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: auto;
  min-width: 165px;
  height: auto;
  font-size: 9pt;
  font-weight: 700;
  letter-spacing: 0.8pt;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.15) 0 3px 6px;
  transition: all .2s ease;
}

a.bt:hover, button.bt:hover {
  transform: translateY(2px);
  box-shadow: rgba(0,0,0,.15) 0 1px 6px;
  text-decoration: none;
}

a.bt.green, button.bt.green {
  background: $green-2;
}

a.bt.green:hover, button.bt.green:hover {
  background: $green-light;
}

a.bt.purple, button.bt.purple {
  background: $purple;
}

a.bt.purple:hover, button.bt.purple:hover {
  background: $purple-light;
}

a.bt.blue, button.bt.blue {
  background: $blue-6;
}

a.bt.blue:hover, button.bt.blue:hover {
  background: $blue-light-2;
}

a.bt.gray, button.bt.gray {
  background: $gray;
  color: $blue-2;
}

a.bt.gray:hover, button.bt.gray:hover {
  background: $white-gray;
}

.button__wrap {
  width: 100%;
  height: auto;
  padding-top: 27px;
}

.button__wrap--large-top {
  padding-top: 67px;
}

.button--center {
  text-align: center
}

//border button
button.button-border-rounded, a.button-border-rounded {
  width: auto;
  min-width: 165px;
  height: auto;
  background-color: transparent;
  color: $white;
  outline: none;
  border: 2px solid $white;
  border-radius: 35px;
  padding: 7px 54px;
  font-weight: 400;
  font-family: 'CircularStd-Medium', sans-serif;
  font-size: 19pt;
  transition: all .5s ease-out;
  z-index: 100;
  position: relative;
  display: inline-block;

  &:hover {
    background-color: rgba($white, 0.3);
  }
}

.button-border-rounded.button-border-rounded--long {
  min-width: 347px;
}

.button-border-rounded.button-border-rounded--blue {
  color: $blue-6;
  border-color: $blue-6;
  &:hover {
    background-color: rgba($blue-6, 0.2);
  }
}

.button-border-rounded.button-border-rounded--blue-dark {
  color: $blue-dark;
  border-color: $blue-dark;
  &:hover {
    background-color: rgba($blue-dark, 0.2);
  }
}

.button-border-rounded.button-border-rounded--small {
  padding: 4px 39px;
}

.button-border-rounded.button-border-rounded--small-line-height {
  padding: 8px 54px;
  line-height: 0;
}

button[disabled].bt-round {
  cursor: not-allowed;
  &:hover, &:focus {
    &:before {
      transform: none;
    }

    &:after {
      transform: none;
    }
    .bt-content {
      color: red;
      animation: none;
    }
  }
}

.bt-round {
  color: $white;
  background-color: transparent;
  border-radius: 100px;
  padding: 9px 57px;
  display: inline-block;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  text-decoration: transparent;
  border: none;
  min-width: 228px;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 100;
  transition: background-color .3s ease-out;
  cursor: pointer;
  &:hover, &:focus {
    border: none;
    color: $white;
    outline: none;
    text-decoration: transparent;
  }
  &.bt-round-left-icon.bt-round-right-icon {
    padding: 9px 110px;
  }
}

.bt-round--all-width {
  width: 100%;
  padding: 17px 57px;
}

.bt-round.bt-round--large {
  padding: 9px 95px;
}

.bt-round.bt-round--greatest {
  padding: 44px 93px;
}

.bt-round.bt-round--blue {
  background-color: $blue-6;
  &:hover {
    background-color: $blue-light-6;
  }
}

.bt-round.bt-round--gray {
  background-color: $gray;
  color: $gray-3;
  &:hover {
    background-color: $silver;
  }
}

.bt-round.bt-round--blue-dark {
  background-color: $blue-dark;

  &:hover {
    background-color: $blue-dark-light;
  }
}

.bt-round.bt-round--orange {
  background-color: $orange-2;

  &:hover {
    background-color: $orange-2-light;
  }
}


//styling for the bt-round with icon
.bt-round-left-icon {
  &:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 25px;
    top: 14px;
  }
}

.bt-round-right-icon {
  &:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 25px;
    top: 14px;
  }
}

.bt-round-left-icon--dna::before, .bt-round-right-icon--dna::after  {
  background-image: url("../assets/images/icon/dna-white.svg");
}

.bt-round-right-icon--arrow::after, .bt-round-left-icon--arrow::before {
  background-image: url("../assets/images/icon/arrow-right.svg");
}

.bt-round-left-icon--arrow::before {
  transform: scale(-1);
  transform-origin: center left;
  left: 32px;
}
//end styling for the bt-round with icon

.bt-content {
  color: $white;
  display: inline-block;
  z-index: 100;
  position: relative;
}

.arrow-down {
  position: relative;
  height: 56px;
  transition: .5s ease-in;
  perspective: 1200px;
  perspective-origin: center;
  z-index: 10;
  &:hover {
    cursor: pointer;
    .arrow-down-svg {
      animation: trans-arrow 1.5s forwards ease-in-out infinite;
    }
  }
}

//cross-button for open menu

.cross-button-open__wrap {
  width: 100px;
  height: 100%;
}

.cross-button-open {
  width: 33px;
  height: 33px;
  position: relative;
  padding-left: 34px;
  &:before, &:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 33px;
    background-color: $silver-2;
    top: 14px;
    transition: all .3s ease-in-out;
  }
  &:after {
    transform: rotate(90deg);
  }
}

.panel-open {
  .cross-button-open {
    &:after {
      opacity: 0;
      transform: rotate(180deg);
    }
  }
}

//mobile button
.mobile-button {
  transition: transform $animation-speed;
  display: inline-block;
  width: 40px;
  height: 40px;
  z-index: 100;
  position: relative;
  padding-top: 11px;

  .line-1 {
    border-top: 3px solid $blue-6;
    display: block;
    transition: all $animation-speed;
    width: 34px;
    position: absolute;
    left: 7px;
  }
  .line-2 {
    @extend .line-1;
    margin: 10px 0;
  }
  .line-3 {
    @extend .line-1;
    top: 31px;
  }
  &.toggle {

    .line-1 {
      transform: rotate(45deg);
      top: 19px;
    }

    .line-2 {
      margin: -3px 0;
      opacity: 0;
    }

    .line-3 {
      top: 19px;
      transform: rotate(-45deg);
    }

  }

}


.button-circle {
  width: 32px;
  height: 32px;
  background-color: $blue-6;
  display: inline-block;
  color: $white;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  padding-top: 4px;
  transition: background-color 0.3s ease-out;
  border: none;
  outline: none;
  &:hover {
    background-color: $blue-light-6;
  }
}

//download button
.download-button {
  display: inline-block;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-image: url('../assets/images/svg/download-svg.svg');
  background-color: $blue-dark;
  background-repeat: no-repeat;
  background-size: 47px;
  background-position: 50% 48%;
}


//progressbar
.progressbar-wrap {
  counter-reset: step;
  max-width: 997px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.progressbar-item {
  list-style-type: none;
  width: 24%;
  position: relative;
  text-align: center;
  display: inline-block;
  &:before {
    content: counter(step);
    counter-increment: step;
    font-size: 37px;
    font-family: Montserrat, sans-serif;
    width: 66px;
    height: 66px;
    line-height: 66px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: $gray;
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $gray;
    top: 29px;
    left: -50%;
    z-index: 1;
  }
  &:first-child:after {
    content: none;
  }
  &.active::before {
    background-color: $blue-6;
  }
}

//progresbar status purchase
//progressbar
.status-progressbar__wrap {
  padding-top: 100px;
}

.status-progressbar-container {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.status-progressbar-item {
  width: 92px;
  height: 100%;
  list-style: none;
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
  }
  &:before {
    height: 10px;
    width: 0;
    right: 100%;
    top: 40px;
    background-color: $gray;
    z-index: 99;
    transform: translate(-100%, 0);
  }
  &:after {
    width: 92px;
    height: 92px;
    background-color: $gray;
    border-radius: 50%;
    z-index: 100;
    top: 0;
  }
  &:first-child::before {
    content: none;
  }
  &.active {
    &:before {
      width: 9vw;
      transform: translate(0, 0);
    }
    &:before, &:after {
      background-color: $blue-6;
    }
    .status-progressbar-inner {
      border-color: rgba($blue-6, 0.3);
    }
    .status-progressbar-txt  {
      p.txt.progressbar-txt-color {
        color: $blue-dark
      }
      p.txt-small.progressbar-txt-color {
        color: $black
      }
    }
  }
  &:last-child.active {
    &:after {
      background-color: $blue-dark;
    }
  }

  &.active--current {
    &:after {
      width: 112px;
      height: 112px;
      top: -10px;
    }
    .status-progressbar-inner {
      width: 139px;
      height: 139px;
      top: -23px;
      left: -14px;
      border-color: rgba($blue-6, 0.3);
      &:after {
        content: '';
        position: absolute;
        width: 167px;
        height: 167px;
        border: 32px solid rgba($blue-6, 0.12);
        border-radius: 50%;
        top: -17px;
        left: -18px;
      }
    }
    .status-progressbar-icon {
      margin-left: 10px;
    }
  }
}

.status-progressbar-inner {
  width: 115px;
  height: 115px;
  position: relative;
  border-radius: 50%;
  border: 4px solid $gray;
  top: -12px;
  left: -11px;
}

.status-progressbar-icon {
  width: 55%;
  height: 100%;
  position: absolute;
  top: 25px;
  left: 20px;
  background-repeat: no-repeat;
  z-index: 101;
}

.status-progressbar-icon.icon-test-tubes {
  width: 48%;
  left: 24px;
  top: 23px;
}

.status-progressbar-icon.icon-forklift {
  left: 22px;
  width: 61%;
  top: 22px;
}


.icon-car {
  background-image: url(../assets/images/icon/car-icon.svg);
}

.icon-pc-pointer {
  background-image: url(../assets/images/icon/pc-pointer-icon.svg);
}

.icon-forklift {
  background-image: url(../assets/images/icon/forklift-icon.svg);
}

.icon-test-tubes {
  background-image: url(../assets/images/icon/test-tubes-icon.svg);
}

.icon-pc-dna {
  background-image: url(../assets/images/icon/pc-dna-icon.svg);
}

.status-progressbar-txt {
  width: 135px;
  margin: 0 auto;
  position: relative;
  right: 20px;
  padding-top: 20px;

  .progressbar-txt-color {
    color: $gray;
  }

}

//animation
@keyframes anim-text-btn-round {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes trans-arrow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  80% {
    transform: translate3d(0, 20px, 100px);
  }
}




