body {
  font-family: Roboto, Montserrat, sans-serif;
  font-weight: 400;
}


//container
.container-lg {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 1442px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
}

.container-lg--dashboard {
  width: 100%;
  height: auto;
  position: relative;
  padding-right: 120px;
  padding-left: 120px;
  margin: 0 auto;
}

.container-md-button-flex {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
//end styling container

//section staling

.section-box-shadow {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 46px 2px rgba($black, .2);
  margin-top: 36px;
}

.section__wrap {
  padding-top: 130px;
}

.section__wrap.section__wrap--small-pad-top {
  padding-top: 25px;
}

.section-bgc--silver {
  background-color: $silver;
  padding: 94px 0;
}

//end section staling


//common styling
.hide-desktop, .hide-desktop-md {
  display: none !important;
}

.img {
  width: 100%;
  height: auto;
}

.not-margin {
  margin: 0 !important;
}

//common fonts style
a.link-underline {
  text-decoration: underline;
}

.txt-padding-top {
  padding-top: 20px;
}

.txt-center {
  text-align: center;
}

.txt-uppercase {
  text-transform: uppercase !important;
}

.txt-inline-block {
  display: inline-block !important;
}

.txt-bold {
  font-weight: 600 !important;
}

.txt-medium {
  font-weight: 500 !important;
}
.txt-regular {
  font-weight: 400 !important;
}

.txt-blue {
  color: $blue-6 !important;
}

.txt-blue-dark {
  color: $blue-dark !important;
}

.txt-black {
  color: $black !important;
}

.txt-gray {
  color: $gray-2 !important;
}

.txt-fonts-circular-book {
  font-family: 'CircularStd-Book', sans-serif !important;
}

.txt-fonts-circular-medius {
  font-family: 'CircularStd-Medium', sans-serif !important;
}

.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.txt-wrap__border {
  width: 100%;
  height: auto;
  padding-bottom: 14px;
  border-bottom: 3px solid $silver;
}

//title txt
.title__wrap {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

h1 {
  width: 100%;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  color: $white;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  color: $white;
  font-weight: 600;
  line-height: 44px;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: $white;
  margin: 0;
  padding: 0;
}
h4 {
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: $white;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: $white;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: $white;
  margin: 0;
  padding: 0;
}

.sub-header-txt {
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 50px;
  color: $white;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.sub-header-txt.sub-header-txt--small {
  font-size: 30px;
}

.sub-header-txt.sub-header-txt--large-line-height {
  line-height: 67px;
}

.sub-header-txt__wrap {
  width: 100%;
  height: auto;
  padding-top: 21px;
}

.txt__wrap {
  width: 100%;
  height: auto;
  padding-top: 37px;
}

.txt {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 34px;
  color: $white;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.txt.txt--small {
  font-size: 14px;
}

.txt--indent {
  padding-top: 48px;
}

.txt--indent-small {
  padding-top: 20px;
}

.link-padding-right {
  padding-right: 15px;
}

.link--indent {
  padding-top: 20px;
}

.txt-small {
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 34px;
  color: $white;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

//end common fonts stling txt


//common styling for images
.bgc-blue {
  background-color: $blue-6 !important;
}

.bgc-yellow {
  background-color: $yellow !important;
}

.img-bgc-wrap__rounded--float-right {
  float: right;
}

.img-bgc-wrap__rounded {
  width: 100%;
  height: 566px;
  max-width: 566px;
  background-color: $silver;
  border-radius: 50%;
  position: relative;
}

.svg-inner-rounded-big {
  width: 266px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  left: 26%;
  position: absolute;
  top: 24%;
}

.img-bgc-wrap-middle__rounded {
  height: 366px;
  width: 366px;
  background-color:  $silver;
  border-radius: 50%;
  margin: 0 auto;
}

.img-bgc-wrap-middle__rounded.img-bgc-wrap-middle__rounded--white {
  background-color: $white;
  box-shadow: $box-shadow;
}

.svg-inner-rounded-middle {
  width: 100%;
  height: auto;
  svg {
    width: 136px;
    height: auto;
    position: relative;
    left: 31%;
    top: 102px;
  }
}

.svg-inner-rounded-middle.svg-inner-rounded-middle--larger {
  svg {
    width: 156px;
    left: 29%;
  }
}

//end common stylin for images

  //boxes styling
.boxes__wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 0 15px;
}

.boxes__wrap.boxes__wrap--padding-top {
  padding: 25px 15px 0;
}

.box-shadow {
  background-color: white;
  padding: 65px  4%;
  margin: 4px 4px;
  box-shadow: $box-shadow;
}

.box-half-column {
  width: 50%;
  height: auto;
}

.box-half-column--flex {
  display: flex;
  align-items: center;
}

.box-image-column__inner {
  max-width: 158px;
  display: block;
  height: auto;
  margin: 0 auto;
}

.box-txt-column__wrap {
  width: 63%;
}

.box-image-column__wrap {
  width: 37%;
  text-align: right;
}

.box-image__wrap-padding-top {
  padding-top: 45px;
}

.box-image__wrap {
  max-width: 158px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.box {
  max-width: 508px;
  height: 448px;
  background-color: white;
  margin: 0 15px;
  padding-left: 50px
}

.box-row-padding {
  padding-top: 30px;
}


.box-orange {
  box-shadow: inset 0px 17px 0px 0px $orange;
}

.box-blue-dark {
  box-shadow: inset 0px 17px 0px 0px $blue-dark;
}

.box-blue {
  box-shadow: inset 0px 17px 0px 0px $blue-6;
}

.box-title__wrap {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.box-txt__wrap {
  width: 100%;
  height: auto;
  padding-top: 27px;
}

.box-txt__wrap--inline-block {
  width: 83%;
  display: inline-block;
  padding-top: 0;
  padding-left: 8%;
}

.box-checkbox__wrap {
  display: inline-block;
  height: auto;
  width: auto;
  vertical-align: top;
}

.box-data__wrap {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

//end boxes styling

.data {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: $blue-6;
  margin: 0;
  padding: 0;
}

//bgc with content
.bgc-wrap-content {
  display: flex;
  width: 93%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 34px;
  padding: 9px 8px 9px 27px;
  background-color: $silver;
}

.bgc-wrap-content.bgc-wrap-content--blue {
  background-color: $blue-6;
}

.bgc-wrap-content.bgc-wrap-content--justify-left {
  justify-content: left;
}

.number-bgc {
  width: 30px;
  height: 30px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  padding-top: 3px;
  margin-right: 3px;
  background-color: $silver;
  color: $silver-dark;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}


//icon styling
.link-icon {
  display: inline-block;
  background-repeat: no-repeat;
  width: 100%;
  height: 46px;
  cursor: pointer;
}

.link-icon-inline {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 16px;
  cursor: pointer;
  margin: 0 9px -2px 5px;
}

.facebook {
  background-image: url('../assets/images/icon/facebook.svg');
}

.twitter {
  background-image: url('../assets/images/icon/twitter.svg');
}

.linkedIn {
  background-image: url('../assets/images/icon/linkedIn.svg');
}

.social {
  background-image: url('../assets/images/icon/social.svg');
}

.dna {
  background-image: url('../assets/images/icon/dna-blue.svg');
}

.users {
  background-image: url('../assets/images/icon/users.svg');
}

.question {
  background-image: url('../assets/images/icon/question.svg');
}
//end icon styling

//styling for charts
.chart-scroll-x {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}
//end styling for charts

//common styling for the link
.navbar-link {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
}
//end common styling for the link


//styling table
.table, .table > thead > tr > th, .table > tbody > tr > td {
  border-bottom: 2px solid $silver-3;
}
//end styling table


//row image flex
.row-image-flex {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.row__wrap {
  width: 50%;
  text-align: center;
}

.row__wrap--space-top {
  padding-top: 70px;
}

.row-image-icon-flex {
  max-width: 155px;
  width: 100%;
  margin: 0 auto;
  padding-top: 22px;
}