.img-bgc-wrap__rounded--float-right {
  float: right;
}

.img-bgc-wrap__rounded {
  width: 100%;
  height: 566px;
  max-width: 566px;
  background-color: $silver;
  border-radius: 50%;
  position: relative;
}

.svg-inner-rounded-big {
  width: 266px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  left: 26%;
  position: absolute;
  top: 24%;
}

.img-bgc-wrap-middle__rounded {
  height: 366px;
  width: 366px;
  background-color:  $silver;
  border-radius: 50%;
  margin: 0 auto;
}

.img-bgc-wrap-middle__rounded.img-bgc-wrap-middle__rounded--white {
  background-color: $white;
  box-shadow: $box-shadow;
}

.img-bgc-wrap-middle__rounded.img-bgc-wrap-middle__rounded--white-2 {
  background-color: $white;
}

.svg-inner-rounded-middle {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.svg-inner-rounded-middle.svg-inner-rounded-middle--logo {
  svg {
    width: 100%;
    height: 100%;
    max-width: 185px;
    margin: 0 auto;
    display: block;
  }
}

.svg-inner-rounded-middle.svg-inner-rounded-middle--larger {
  svg {
    width: 156px;
    left: 29%;
  }
}

.img__wrap {
  width: auto;
  height: auto;
  padding: 45px 20px 0;
}

.img__wrap-small {
  width: auto;
  height: auto;
  padding-top: 15px;
}

.img-border-wrap {
  width: 360px;
  height: 360px;
  position: relative;
  border: 5px solid $blue-6;
  border-radius: 50%;
  margin: 0 auto;
}

.img-border-inner {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
}

.img-large {
  max-width: 566px;
  width: 100%;
  height: 566px;
  display: inline-block;
}

.img-middle {
  max-width: 260px;
  width: 100%;
  height: 260px;
  display: inline-block;
}

.img-middle--md {
  max-width: 280px;
  width: 100%;
  height: 280px;
  display: inline-block;
}

.img-middle--small {
  max-width: 200px;
  width: 100%;
  height: 200px;
  display: inline-block;
}

.img-small {
  max-width: 160px;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.img-exs {
  max-width: 55px;
  width: 100%;
  height: 55px;
  display: inline-block;
}

.img-logo {
  max-width: 46%;
  width: 100%;
  position: relative;
  height: 64px;
}


//other images common
.human-brain-cloud--bgc-white {
  .human-brain-cloud-svg-1 {
    fill: $white;
  }
}

.dna-molecule--bgc-silver,
.human-brain-medical--bgc-silver,
.notebook-and-pen-svg--bgc-silver {
  .dna-molecule-svg-1,
  .human-brain-medical-svg-1,
  .notebook-and-pen-svg-1 {
    fill: $silver-4;
  }
}

.doctor--bgc-silver {
 .doctor-svg-1 {
   fill: $silver-4;
 }
}

.doctor--bgc-white {
  .doctor--bgc-silver-svg-1 {
    fill: $white;
  }
}