.img-bgc-wrap__rounded--float-right {
  float: right;
}

.img-bgc-wrap__rounded {
  width: 100%;
  height: 566px;
  max-width: 566px;
  background-color: $silver;
  border-radius: 50%;
  position: relative;
}

.svg-inner-rounded-big {
  width: 266px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  left: 26%;
  position: absolute;
  top: 24%;
}

.img-bgc-wrap-middle__rounded {
  height: 366px;
  width: 366px;
  background-color:  $silver;
  border-radius: 50%;
  margin: 0 auto;
}

.img-bgc-wrap-middle__rounded.img-bgc-wrap-middle__rounded--white {
  background-color: $white;
  box-shadow: $box-shadow;
}

.img-bgc-wrap-middle__rounded.img-bgc-wrap-middle__rounded--white-2 {
  background-color: $white;
}

.svg-inner-rounded-middle {
  width: 100%;
  height: auto;
  svg {
    width: 136px;
    height: auto;
    position: relative;
    left: 31%;
    top: 102px;
  }
}

.svg-inner-rounded-middle.svg-inner-rounded-middle--logo {
  svg {
    width: 259px;
    left: 51px;
    top: 142px;
  }
}

.svg-inner-rounded-middle.svg-inner-rounded-middle--larger {
  svg {
    width: 156px;
    left: 29%;
  }
}

.img__wrap {
  width: auto;
  height: auto;
  padding: 45px 20px 0;
}

.img-border-wrap {
  width: 360px;
  height: 360px;
  position: relative;
  border: 5px solid $blue-6;
  border-radius: 50%;
  margin: 0 auto;
}

.img-border-inner {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
}

.img-large {
  max-width: 566px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.img-middle {
  max-width: 260px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.img-middle--md {
  max-width: 280px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.img-middle--small {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.img-small {
  max-width: 160px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.img-logo {
  max-width: 80%;
  width: 100%;
  position: relative;
  bottom: 22px;
}


//other images common
.human-brain-cloud--bgc-white {
  .human-brain-cloud-svg-1 {
    fill: $white;
  }
}

.dna-molecule--bgc-silver {
  .dna-molecule-svg-1 {
    fill: $silver-4;
  }
}

.doctor--bgc-silver {
 .doctor-svg-1 {
   fill: $silver-4;
 }
}

.doctor--bgc-white {
  .doctor--bgc-silver-svg-1 {
    fill: $white;
  }
}