body {
  font-family: 'CircularStd-Medium', sans-serif;
  font-weight: 400;
}

//common styling
.not-margin {
  margin: 0 !important;
}

//common fonts style
.txt-uppercase {
  text-transform: uppercase !important;
}

.txt-inline-block {
  display: inline-block !important;
}

.txt-bold {
  font-weight: 600 !important;
}

.txt-middle {
  font-weight: 500 !important;
}

.txt-blue {
  color: $blue-6 !important;
}

.txt-blue-dark {
  color: $blue-dark !important;
}

.txt-black {
  color: $black !important;
}

.txt-fonts-circular-book {
  font-family: 'CircularStd-Book', sans-serif !important;
}

.txt-fonts-circular-medius {
  font-family: 'CircularStd-Medium', sans-serif !important;
}

//title txt
h1 {
  width: 100%;
  height: 100%;
  font-family: 'CircularStd-Book', sans-serif;
  font-size: 46.5pt;
  font-weight: 300;
  line-height: 75px;
  color: $white;
}

h2 {
  font-size: 28pt;
  font-family: 'CircularStd-Medium', sans-serif;
  color: $white;
  font-weight: 300;
  line-height: 44px;
}

h3 {
  font-size: 22pt;
  font-weight: 500;
  color: $white;
  font-family: Quicksand;
  line-height: 28px;
}
h4 {
  font-family: Quicksand, sans-serif;
  font-size: 15pt;
  font-weight: 300;
  color: $white;
}

h5 {
  font-family: Quicksand, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  color: $white;
}

h6 {
  font-family: Quicksand, sans-serif;
  font-size: 10pt;
  color: $white;
}

.txt-main-title {
  font-family: 'Roboto', serif;
  font-size: 26pt;
  font-weight: 400;
  line-height: 26px;
  color: $white;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.txt {
  font-family: Quicksand, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 26px;
  color: $white;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.txt-about-small {
  font-family: Quicksand, sans-serif;
  font-size: 12pt;
  margin: 22px 0;
  color: $white;
}

.txt-about-least {
  font-family: Quicksand, sans-serif;
  font-size: 10pt;
  color: $white;
}
