body {
  font-family: 'Open Sans', Raleway, sans-serif;
  font-weight: 400;
}

//common styling
.not-margin {
  margin: 0 !important;
}

//common fonts style
.txt-color-blue {
  color: $blue-2 !important;
}

.txt-black-light {
  color: $black-light !important;
}

.txt-bold {
  font-weight: 600;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-size: 28pt;
  font-weight: 300;
  line-height: 44px;
  color: $white;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 9pt;
  color: $white;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  padding: 0;
  margin: 0;
  color: $white;
}

.txt {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: $white;
}

.about-title-txt {
  font-family: Quicksand, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  color: $white;
}

.header-logo-txt {
  display: inline-block;
  font-size: 12pt;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: $white;
}

.header-logo-txt-large {
  font-size: 14pt;
}

//common styling
.border-silver {
  border: 1px solid $silver-4;
}

//background

.main-background {
  width: 100%;
  height: 100%;
  background: $background-blue;
  transform: skewY(-6deg);
}

.main-background--grey {
  background: $background-grey;
}

.main-background--grey-second {
  background: $background-grey-2;
}

.main-background--light-blue {
  background: $background-blue-light;
}
//form styling
.panel {
  background-color: $white;
  border-radius: 12px;
  padding: 50px 50px 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.form-control {
  font-size: 15pt;
  font-family: Quicksand, sans-serif;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  height: 43px;
  width: 68%;
  border: none;
  box-shadow: none;
  background-color: $white-3;
  color: $blue-2;
}

.form-label {
  font-size: 13pt;
  font-weight: 500;
  font-family: Quicksand, sans-serif;
  color: $blue-dark;
  min-width: 100px;
  width: 31%;
}


