//container
.container-lg {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
}

.container-lg--dashboard {
  width: 100%;
  max-width: 1010px;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.container-exs {
  max-width: 578px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container-md-button-flex {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.container-xs-button-flex {
  max-width: 572px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.txt-wrap-under-button {
  max-width: 256px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}


.container-flex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  flex: 1;
  width: 100%;
}

.flex-column-1-half {
  flex: 1.5;
  width: 100%;
}

.flex-column-2 {
  flex: 2;
  width: 100%;
}


.flex-column__wrap {
  padding: 0 5%;
}

.flex-column__wrap--not-left {
  padding: 0 5% 0 0;
}

.flex-column__wrap--not-right {
  padding: 0 0 0 5%;
}

.flex-column-tabs {
  width: 100%;
  max-width: 250px;
}

.flex-column-tabs-body {
  width: 100%;
}

.flex-column.flex-column--line {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}

.container-flex-end {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.column-right {
  padding-right: 67px;
}

.container-flex-center {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sub-head {
  max-width: 607px;
  margin: 0 auto;
  height: auto;
}

.container-sub-head--not-center {
  margin: unset;
}

.container-round {
  width: 100%;
  height: auto;
  border-radius: 100px;
  padding: 45px 15px;
}

.container-round--silver {
  background-color: $silver;
}
//end styling container

//section staling

.section__wrap {
  padding-top: 130px;
}

.section__wrap--space-bottom {
  padding-bottom: 50px;
}

.section__wrap-md {
  padding-top: 100px;
}

.section__wrap-sm {
  padding-top: 50px;
}

.section__wrap-exs {
  padding-top: 35px;
}

.title-section__wrap {
  padding-top: 10px;
}

.section__wrap.section__wrap--small-pad-top {
  padding-top: 25px;
}

.section-bgc--silver {
  background-color: $silver;
  padding: 94px 0;
}

.section-bgc--silver.section-bgc--space-both {
  padding: 40px;
}

.section-box {
  width: 100%;
  height: auto;
  padding: 40px;
}

.section-box.section-box--space-out-top {
  margin-top: 40px;
}

.section-box.section-box--blue {
  background-color: $blue-6;
}

.section-dropdown-txt__wrap {
  padding-top: 90px;
  width: 100%;
  height: auto;
}


//align
.align-vertical--center {
  height: 100%;
  align-self: center;
}

.align-items--center {
  align-items: center;
}
//end section staling


//row space
.row--space-top {
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
}
