@mixin font-face($family, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('../../assets/fonts/#{$path}.eot');
    src: url('../../assets/fonts/#{$path}.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/#{$path}.ttf') format('truetype'),
    url('../../assets/fonts/#{$path}.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
};

@include font-face('Montserrat', 'Montserrat-SemiBold', 600);
@include font-face('Roboto', 'Roboto-Light', 300, light);
@include font-face('Roboto', 'Roboto-Regular', 400);
@include font-face('Roboto', 'Roboto-Medium', 500);
@include font-face('Roboto', 'Roboto-Bold', 600);

