@mixin font-face($family, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('../../assets/fonts/#{$path}.eot');
    src: url('../../assets/fonts/#{$path}.eot?#iefix') format('embedded-opentype'),
    url("../../assets/fonts/#{$path}.otf") format("opentype"),
    url('../../assets/fonts/#{$path}.ttf') format('truetype'),
    url('../../assets/fonts/#{$path}.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
};

@include font-face('circular-book', 'CircularStd-Book', 400);
@include font-face('circular-medium', 'CircularStd-Medium', 400);
@include font-face('Roboto-Light', 'Roboto', 300);
@include font-face('Roboto-Regular', 'Roboto', 400);

