$black: #000000;
$black-light: #464646;
$blue-1: #3C6DB4;
$blue-2: #5F83DA;
$blue-4: #62B1D9;
$blue-5: #5ACDD6;
$blue-6: #41c5eb;
$blue-dark: #063f5f;
$blue-light-2: #D7F5FD;
$blue-green: #1592A4;
$blue-green-2: #3B7B96;
$green-2: #3AC69D;
$green-light: #4BDBB1;
$gray: #E6E6E6;
$purple: #CF3095;
$purple-1: #AE71AF;
$purple-2: #C06DAB;
$purple-light: #E847AD;
$red-light: #EB2B90;
$silver: #F9FBFD;
$white: #fff;
$white-gray: #F5F5F5;

$breakpoint-middle: 1596px;


