.carousel {
  width: 1266px;
  .carousel-inner {
    max-width: 85%;
    margin: 0 auto;
  }
}

.carousel-control.right, .carousel-control.left {
  background: none;
  &:after {
    content: '';
    width: 106px;
    height: 27px;
    top: 50%;
    position: absolute;
    display: inline-block;
    background-image: url("../assets/images/svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.carousel--arrow-silver {
  .carousel-control.right, .carousel-control.left {
    &:after {
      height: 80px;
      top: 44%;
      background-image: url("../assets/images/svg/arrow-silver.svg");
    }
  }
  .carousel-control.right {
    &:after {
      transform: rotate(0);
    }
  }
  .carousel-control.left {
    &:after {
      transform: rotate(180deg);
    }
  }
}

.carousel-control.right {
  &:after {
    transform: rotate(-90deg);
    right: 0;
  }
}

.carousel-control.left {
  &:after {
    transform: rotate(90deg);
    left: 0;
  }
}

.carousel-indicators,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
  display: none;
}

.science-p-section-fifth {
  .carousel {
    .carousel-control {
      top: 352px;
      bottom: inherit;
    }
  }
}

.slider__wrap {
    width: 100%;
  &.slider__wrap--science {
    width: 100%;
  }
}
