//form styling
.panel {
  background-color: $white;
  border-radius: 1px;
  padding: 50px 50px 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.form-control {
  font-size: 15pt;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  display: inline-block;
  height: 50px;
  width: 100%;
  border: none;
  box-shadow: none;
  color: $blue-2;
  border-radius: 42px;
  padding-left: 25px;
}

.form-control.form-control--search {
  padding-left: 53px;
}

.form-label {
  font-size: 13pt;
  font-weight: 500;
  font-family: Quicksand, sans-serif;
  min-width: 100px;
  width: 31%;
}

.form-input {
  width: 100%;
  height: auto;
}

.form-group--col {
  width: 100%;
}

.form-group--col-2 {
  width: 47%;
}

//form title
.panel__title {
  width: 100%;
  text-align: center;
}

form .ng-valid-required.ng-dirty {
  background-color: lightpink;
}

form .ng-invalid-email.ng-dirty {
  background-color: lightgoldenrodyellow;
}

form .ng-invalid.ng-diry {
  background-color: lightpink;
}

form .ng-valid.ng-dirty {
  background-color: lightgreen;
}

span.summary.ng-invalid {
  color: red;
  font-weight: bold;
}

span.summary.ng-valid {
  color: green;
}

.error {
  color: red;
  font-weight: bold;
  padding-left: 12px;
  padding-top: 10px;
}

//styling checkbox
.checkbox input.checkbox-input[type="checkbox"] {
  float: none;
  margin: 0px;
  padding: 0px;
  display: none;
  &:checked + label.checkbox-label:before {
    animation: check-scale-anim 0.3s ease-out forwards;
  }
  &:not(:checked) + label.checkbox-label:before {
    transform: scale(0);
  }

}

.checkbox-label {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 54px;
  padding: 0;
  top: 5px;
  border: 3px solid $gray-2;
  border-radius: 3px;
  &:before {
    content: '';
    display: inline-block;
    left: 1px;
    position: absolute;
    top: 10px;
    background-image: url("../assets/images/svg/checked-svg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: transform .2s ease-out;
    transform: scale(0);
  }
}

@keyframes check-scale-anim {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


