.header-logo {
  display: inline-block;
  position: relative;
  width: 63px;
  height: 82px;
}

.header-logo.animation {
  .rect-top {
    animation: anim-rect-top 2s 1 forwards cubic-bezier(0, 0.63, 0.17, 1.16);
  }
  .rect-middle-first {
    animation: anim-rect-middle-first 2.3s 0.7s 1 forwards ease;
  }
  .rect-middle-second {
    animation: anim-rect-middle-second 2s 0.7s 1 forwards ease;
  }
  .rect-bottom {
    animation: anim-rect-bottom 1.4s 0.7s 1 forwards ease-in-out;
  }
}
.rect {
  width: 50px;
  height: 50px;
  transform-origin: 50% 50%;
  position: relative;
  left: 6px;
}

.rect-top {
  transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 50px) skewY(7deg) skewX(9deg);
  background-color: $blue-light-3;
  opacity: 0;
  z-index: 10;
}

.rect-middle-first {
  transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 80px) skewY(7deg) skewX(9deg);
  background-color: $pink-2;
  opacity: 0;
  z-index: 9;
}

.rect-middle-second {
  transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg);
  background-color: $yellow;
  opacity: 0;
  z-index: 8;
}

.rect-bottom {
  transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 150px) skewY(7deg) skewX(9deg);
  background-color: $purple-4;
  z-index: 7;
  opacity: 0;
}

.rect-txt {
  width: 100%;
  height: 100%;
  color: $white;
  font-size: 4px;
  transform: rotateZ(-91deg) skewX(-30deg);
  position: absolute;
  top: 6px;
  left: 42px;
}

//affirmativ logo
.logo-affirmativ__wrap {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  top: 5px;
}

.logo-affirmativ {
  width: 25px;
  height: 25px;
  background-color: $blue-5;
  border-radius: 50%;
  position: relative;
}

.logo-affirmativ-cross {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  transform-origin: 50%;
  &:before, &:after {
    content: '';
    position: absolute;
    background-color: $white;
    border-radius: 20%;
    width: 3px;
    height: 16px;
    top: 4px;
    left: 11px;
  }
  &:after {
    transform: rotate(90deg);
  }
}

.logo-affirmativ-large {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: $blue-5;
}

.logo-affirmativ-large-cross {
  position: absolute;
  transform-origin: 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  &:before, &:after {
    content: '';
    position: absolute;
    background-color: $white;
    height: 35px;
    width: 5px;
    left: 25px;
    top: 10px;
  }
  &:after {
    transform: rotate(90deg);
  }
}

.logo-affirmativ-middle {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $blue-5;
}

.logo-affirmativ-middle-cross {
  position: absolute;
  transform-origin: 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  &:before, &:after {
    content: '';
    position: absolute;
    background-color: $white;
    height: 24px;
    width: 4px;
    left: 16px;
    top: 6px;
    border-radius: 2px;
  }
  &:after {
    transform: rotate(90deg);
  }
}

.logo-txt {
  font-family: Quicksand, sans-serif;
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 24px;
  font-weight: 600;
  color: $black-light;
}

.logo-txt-large {
  font-size: 24pt;
  color: $grey-8;
}

@keyframes anim-rect-top {
  0% {
    transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 300px) skewY(7deg) skewX(9deg);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 0px) skewY(7deg) skewX(9deg);
    opacity: 1;
  }
}

@keyframes anim-rect-middle-first {
  0% {
    transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 54px) skewY(7deg) skewX(9deg);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 40px) skewY(7deg) skewX(9deg);
    opacity: 1;
  }
}

@keyframes anim-rect-middle-second {
  0% {
    transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 109px) skewY(7deg) skewX(9deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 84px) skewY(7deg) skewX(9deg);
    opacity: 1;
  }
}

@keyframes anim-rect-bottom {
  0% {
    transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 163px) skewY(7deg) skewX(9deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg);
    opacity: 1;
  }
}

//animation for affirmativ logo
@keyframes anim-affirmativ-cross {
  0% {
    transform: rotate(0deg) scale(1);
  }
  60% {
    transform: rotate(180deg) scale(1.3);
  }
  90% {
    transform: rotate(280deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
