.popup {
  width: 100%;
  height: auto;
  z-index: 114;
}
.popup-content {
  position: relative;
  z-index: 100;
  max-width: 1065px;
  background: $silver;
  padding: 50px 60px;
  margin: 0 auto;
  border-radius: 7px;
  height: calc(88vh - 100px);
  overflow-y: scroll;
}


.popup.ng-animate {
  transition: all 0.6s ease;
  .popup-content {
    transition: all 0.6s ease-out;
  }
  .popup-background {
    transition: all 0.6s ease;
  }
}

//enter popup
.popup.ng-enter.ng-enter-active {
  .popup-content {
    animation: show-popup-anim 0.6s 1 forwards cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  .popup-background {
    animation: bg-fade-in 0.6s 1 forwards cubic-bezier(0.22, 0.61, 0.36, 1);
  }

}

//leave popup
.popup.ng-leave.ng-leave-active {
  .popup-content {
    animation: hide-popup-anim 0.6s 1 forwards cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .popup-background {
    animation: bg-fade-out 0.6s 1 forwards cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}




//animation
@keyframes show-popup-anim {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes hide-popup-anim {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 100%);
    opacity: 0;
  }
}

@keyframes anim-img-left {
  0% {
    left: 8%;
    z-index: 1;
    transform: scale(0.3);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
  100% {
    left: 3%;
    z-index: 100;
    transform: scale(1);
  }
}

@keyframes anim-img-right {
  0% {
    right: 9%;
  }
  100% {
    right: 3%;
  }
}